<include file="Index/header" />
<div id="wrapper">
	<include file="Index/nav" />
	<div id="page-wrapper">
		<div class="container">
			<h3>科室信息</h3>
			<div class="row">
				<form class="form-horizontal" id="">
				<div class="form-group">
					<label id="" class="control-label col-sm-3">在班医生信息：</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" id="" placeholder="请录入"/>
					</div>
					<div class="col-sm-2">
						<button class="btn btn-primary" type="button" id="xx-btn-add">新增录入</button>
					</div>
				</div>
				</form>
			</div><!--row.结束-->
			<div class="row">
				<div class="col-md-12">
					<div class="table-responsive">
						<form id="xx-form-list" class="">
							<table class="table table-bordered table-hover" id="xx-table-list">
								<thead>
									<tr>
										<td>科室ID</td>
										<td>科室名称</td>
										<td>科室编号</td>
										<td>科室简介</td>
									</tr>
								</thead>
								<tbody>
									<volist name="offices" id="vo">
										<tr>
											<td>{$vo.hospital_office_id}</td>
											<td>{$vo.hospital_office_name}</td>
											<td>{$vo.hospital_doctor_name}</td>
											<td>{$vo.hospital_doctor_sex}</td>
									</volist>
								</tbody>
							</table>
						</form>
					</div>
				</div>	
			</div><!--row-->
		</div>
	</div>
</div>
	<script>
		var SCOPE = {
			'add_url':'__URL__/add'
		};
	</script>
<include file="Index/footer" />