<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>

	<body>

		<include file="Index/header" />
		<!--wrapper整个大背景色-->
		<div id="wrapper">
			<include file="Index/nav" />
			<!--pagee-wrapper固定在中间的区域-->
			<div id="page-wrapper">
				<div class="container-fluid">
					新增菜单
					<div class="row">
						<div class="col-md-12">
							<ol class="breadcrumb">
								<li>
									<!--小图标-->
									<i class="fa fa-fw fa-table"></i>
									<a href="__URL__/index">角色管理</a>
								</li>
								<li class="active">
									<i class="fa fa-fw fa-edit"></i> 分配权限[ {$role.role_name} ]
								</li>
							</ol>
						</div>
					</div>
					<!--.row面包屑导航-->
					<div class="row">
						<div class="col-sm-10">
							<form id="zh-form-assign-auth" class="form-inline">
								<!--输出模板信息-->
								<volist name="menus" id="vo" key="k">
									<div class="checkbox-inline">
										<label>
											<input type="checkbox" value="{$vo.menu_id}" name="menu_id[{$k}]"
												<if condition="in_array($vo['menu_id'],$role_menu_ids) eq 1">
												checked
												</if>
										 	/>
											<!--菜单管理改为{$vo.menu_name}进行模板输出-->
											{$vo.menu_name}
										</label>
										<!--<if condition="in_array($vo['menu_id'],$role_menu_ids) eq 1">
											checked
										</if>-->
									</div>
									<!--<eq name="name" value="value">checked</eq>-->
									<!--增加前端的逻辑-->
									<!--<if condition="condition">
										do
										<elseif condition="condition"></elseif>
										<else condition="condition"></else>
									</if>-->
									<!--<div class="checkbox-inline">
										<label>
											<input type="checkbox" value="" name="" />
											文章管理
										</label>
									</div>-->
								</volist>
								<input name="role_id" type="hidden" value="{$role.role_id}" />
							</form>
						</div>
					</div>
					<!--.row表单-->
					<br />
					<div class="row">
						<div class="col-sm-6">
							<button type="button" class="btn btn-primary" id="zh-button-assign-auth">分配权限</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
			var SCOPE = {
				//				'add_url':'__URL__/add',
				'assign_auth_url': '__ACTION__',
				//				'success_jump_url':'__MODULE__/Index/index',
				//可以简化成下面
				'success_jump_url': '__URL__/index',
			};
		</script>
		<include file="Index/footer" />

	</body>

</html>