<!--<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
	</body>
</html>-->
<include file="Index/header" />
<div id="wrapper">
	<include file="Index/nav" />
	<!--pagee-wrapper固定在中间-->
	<div id="page-wrapper">
		<div class="container-fluid">
			<!--菜单管理11-->
			<div class="row">
				<div class="col-md-12">
					<ol class="breadcrumb">
						<li>
							<i class="fa fa-fw fa-table"></i>
							<a href="__ACTION__">角色管理</a>
						</li>
					</ol>
				</div>
			</div>
			<!--面包屑导航-->
			<!--创建角色-->
			<div class="row">
				<div class="col-sm-6">
					<button type="button" class="btn btn-primary" id="zh-button-add">创建角色</button>
				</div>
			</div>
			<!--创建角色end-->
			<!--角色列表-->
			<div class="row">
				<div class="col-md-12">
					<!--table-responsive响应式表格(但不是真正的表格)，当缩小到一定程度时会给出导航条-->
					<div class="table-responsive">
						<!--form表单是功能性标签-->
						<form id="zh-form-list">
							<!--table-bordered带边框 table-hover显示高亮-->
							<table class="table table-bordered table-hover zh-table-list">
								<!--thead表头-->
								<thead>
									<tr>
										<td>角色id</td>
										<td>角色名</td>
										<td>状态</td>
										<td colspan="3">操作</td>
									</tr>
								</thead>
								<!--tbody表身-->
								<tbody>
									<!--使用volist循环输出表单-->
									<!--name=""写输出那个变量-->
									<volist name="roles" id="vo">
										<tr>
											<td>{$vo.role_id}</td>
											<td>{$vo.role_name}</td>
											<td>{$vo.status|getDataStatus}</td>
											<td>
												<!--输出模板变量-->
												<span class="zh-span-operation" id="zh-span-assign-auth" attr-id="{$vo.role_id}">分配权限</span>
											</td>
											<td>
												<span class="zh-span-operation" id="zh-span-edit" attr-id="{$vo.role_id}">编辑</span>
											</td>
											<td>
												<span class="zh-span-operation" id="zh-span-delete" attr-id="{$vo.role_id}">删除</span>
											</td>
										</tr>
									</volist>
								</tbody>
							</table>
						</form>
						<!--分页控件-->
						<nav>
							<ul class="pagination">
								<!--这是一个空模板-->
								{$pageResult}
							</ul>
						</nav>
						<!--排序的按钮-->
						<!--<button type="button" class="btn btn-primary" id="zh-btn-listorder">排序</button>-->
					</div>
				</div>
			</div>
			<!--<div class="row">
						<button id="zh-button-add" type="button" class="btn btn-primary">创建菜单</button>
					</div>-->
		</div>
	</div>
</div>
<script>
	var SCROP = {
		'add_url': '__URL__/add',
		'edit_url': '__URL__/edit',
		'set_status_url': '__URL__/setStatus',
		//				'list_order_url':'__URL__/listOrder',
		'success_refresh_url': '__ACTION__',
		'assign_auth_url': '__URL__/assignAuth',
	};
</script>
<include file="Index/footer" />