<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>个人中心</title>
		<link rel="stylesheet" href="__CSS__/bootstrap.css" />
		<link rel="stylesheet" href="__CSS__/font-awesome/css/font-awesome.css" />
		<style>
		    body{margin: 0;padding: 0;} 
			#header{background-color: #C4E3F3;width: 100%;margin:0;}
			#setting{width: 1200px;margin: 0 auto;}
			#left{width: 200px;background-color: #C1CBD0;}
			#right{height:600px;width: 80%;float: right;}
			#foot{height: 50px;background-color: #000000;width: 100%;margin:0;}
			
		</style>
	</head>
	<body>
		<div class="row" id="header">
			<div>
				sdfg
			</div> 
		</div>
		<div class="row" id="setting">
			<div id="left">
				
			</div>
	        <div id="right"></div>
		</div>
		<div class="row" id="foot">
		</div>
	</body>
</html>
