body{
	background: black;
}
.mui-row{
	background: black;
}
div{
	position:relative;
}
#g-top-img{
	padding-top: 2px;
	padding-bottom: 0;
	padding-left: 2px;
	padding-right: 2px;
}
#span-date{
	position:absolute;
    top:20%;
    left:5%;
	color: white;
	font-size:300%;
}
.img-F{
	position:absolute;
    top:40px;
    left:150px;
	width:20px;
	height:20px;
	overflow:hidden;
}
.span-F{
	position:absolute;
    top:50%;
    left:5%;
	color: white;
	font-size:150%;
}
#span-address{
	position:absolute;
    top:70%;
    left:5%;
	color: white;
	font-size:150%;
}
.g-home-btn{
	position:relative;
	border-color: black;
	border-width: 2px;
	border-radius: 10px;

}
#g-btn:active{
	background: yellow;
}
.center{
	text-align: center;
	margin-top: 60%;
}

#g-span{
	position:relative;
    
	color: white;
	font-size:350%;
}
