<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/common/common.css" />
		<link rel="stylesheet" href="../../css/registration/makeSureMessage.css" />
	</head>

	<body style="background-color: white;">
		<header class="mui-bar mui-bar-nav m_orange">
			<h3 id="backHome" class="  mui-pull-left" style="font-size: 30px; margin-top: 17px; color: white;">首页</h3>
			<h1 class="mui-title">挂号详情</h1>
		</header>
		<div class="mui-content">
			<ul class="mui-table-view" id="list_ul">
				<li class="mui-table-view-cell mui-media">
					<div class="marginLeftRight">
						<h3 class="MSM-gray-text">就诊医院</h3>
					</div>
					<div class="marginLeftRight">
						<h1 class="MSM-black-text" id="hospitalText">大铁棍子医院</h1>
					</div>
				</li>
				<li class="mui-table-view-cell mui-media">
					<div class="marginLeftRight">
						<h3 class="MSM-gray-text">候诊时间</h3>
					</div>
					<div class="marginLeftRight">
						<h1 class="MSM-black-text" id="timeText">2000-12-12 下午</h1>
					</div>
					<div class="marginLeftRight ">
						<h3 class="MSM-gray-text MSM-top25px">科室</h3>
					</div>
					<div class="marginLeftRight">
						<h1 class="MSM-black-text" id="roomText"></h1>
					</div>
					<div class="marginLeftRight ">
						<h3 class="MSM-gray-text MSM-top25px">就诊医生</h3>
					</div>
					<div class="marginLeftRight">
						<h1 class="MSM-black-text" id="doctorNameText"></h1>
					</div>
					<div class="marginLeftRight ">
						<h3 class="MSM-gray-text MSM-top25px">挂号费用</h3>
					</div>
					<div class="marginLeftRight">
						<h1 class="MSM-red-text" style="float: left;" id="priceText">￥0</h1>
						<h1 class="MSM-black-text" id="priceText">（医院到付）</h1>
					</div>
					<div class="marginLeftRight ">
						<h3 class="MSM-gray-text MSM-top25px">就诊人</h3>
					</div>
					<div class="marginLeftRight">
						<h1 class="MSM-black-text" id="personText">李</h1>
					</div>
				</li>
			</ul>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/constants.js"></script>
		<script type="text/javascript">
			mui.init({
			});
			mui.plusReady(function() {
				
				var postData = plus.webview.currentWebview().data;
				console.log(postData+"----datails");
				var hospitalText = document.getElementById('hospitalText');
				var timeText = document.getElementById('timeText');
				var roomText = document.getElementById('roomText');
				roomText.innerHTML = postData.hospital_office_name;
				var doctorNameText = document.getElementById('doctorNameText');
				doctorNameText.innerHTML = postData.hospital_doctor_name;
				var priceText = document.getElementById('priceText');
				priceText.innerHTML = '￥'+postData.registration_money;
				var personText = document.getElementById('personText');
				
				var backHome = document.getElementById('backHome');
				backHome.addEventListener('tap', function() {
					//获得你要前往页面的webview id
					var Scanner = plus.webview.getWebviewById(localStorage.homeWebId);
					//触发前往页面的自定义事件（例：AddNew）,从而进行数据刷新
					mui.fire(Scanner,'refreshWeather');
					console.log('首页');
					mui.openWindow({
						url: '../home/index.html',
					});
				});
				
				
				console.log(JSON.stringify(postData));
				var postData = plus.webview.currentWebview().data;
				var hospitalText = document.getElementById('hospitalText');
				var timeText = document.getElementById('timeText');
				var roomText = document.getElementById('roomText');
				roomText.innerHTML = postData.hospital_office_name;
				var doctorNameText = document.getElementById('doctorNameText');
				doctorNameText.innerHTML = postData.hospital_doctor_name;
				var priceText = document.getElementById('priceText');
				priceText.innerHTML = '￥' + postData.registration_money;
				var personText = document.getElementById('personText');

			});


		</script>
	</body>

</html>