<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/common/common.css" />
		<link rel="stylesheet" href="../../css/registration/index.css" />

	</head>

	<body>
		<header class="mui-bar mui-bar-nav m_orange">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">选择就诊时间</h1>

			<div id="myHistory" class="mui-bar top60px " style="height: 70px;">
				<h5 class="black-text" style="font-weight: bold; font-size: 30px; margin-top: 20px; margin-left: 15px;">我的挂号历史</h5>
				<h5 class="black-text" style="font-weight: bold; font-size: 30px;float: right;margin-top: -37px;margin-right: 10px;">></h5>
			</div>
			<div class="mui-bar top110px " style="height: 70px;">
				<h5 class="m_gray_text" style="font-size: 30px; margin-top: 20px; font-weight: normal; margin-left: 15px;">选择科室</h5>
			</div>
		</header>
		<div class="mui-content top95px">
			<!--<div class="mui-row marginLeftRight" style="margin-bottom: 10px;">
				<label class="m_gray_text" style="font-size: 30px;">选择科室</label>		
			</div>-->
			<ul class="mui-table-view" id="list_ul">
				<!--<li class="mui-table-view-cell mui-media" id="list" >
					<div class="marginLeftRight">
							<img class="mui-media-object mui-pull-left" src="../../images/small.png">
							<h1 class="black-text listCellText"></h1>
					</div>
				</li>-->
			</ul>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/constants.js"></script>
		<script type="text/javascript">
			mui.init({
				swipeBack: true, //启用右滑关闭功能
				beforeback: function(){
					//获得你要前往页面的webview id
					var Scanner = plus.webview.getWebviewById(plus.webview.currentWebview().webId);
					//触发前往页面的自定义事件（例：AddNew）,从而进行数据刷新
					mui.fire(Scanner,'refreshWeather');
					//返回true，继续页面关闭逻辑
					return true;
				},
				
			});
			

				var btn = document.getElementById("myHistory");
				btn.addEventListener("tap", function() {
					mui.openWindow({
						url: '../registration/myHistory.html',
						id:'home',
						extras: {
							_id: this.id,
						},
					});
				});

			
		</script>
	</body>

</html>