<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/common/common.css" />
		<link rel="stylesheet" href="../../css/transfuse/index.css" />

		<!--<link rel="stylesheet" href="../../css/app.css" />-->
		<link rel="stylesheet" type="text/css" href="../../css/mui.picker.min.css" />

		<style>
			html,
			body,
			.mui-content {
				height: 0px;
				margin: 0px;
				background-color: white;
			}
			
			h5.mui-content-padded {
				margin-left: 3px;
				margin-top: 20px !important;
			}
			
			h5.mui-content-padded:first-child {
				margin-top: 12px !important;
			}
			
			.mui-btn {
				font-size: 16px;
				padding: 8px;
				margin: 3px;
			}
			
			.ui-alert {
				text-align: center;
				padding: 20px 10px;
				font-size: 16px;
			}
			
			* {
				-webkit-touch-callout: none;
				-webkit-user-select: none;
			}
		</style>

	</head>

	<body>
		<header class="mui-bar mui-bar-nav m_blue">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">输液时间</h1>
		</header>
		<div class="mui-content">
			<div class="mui-row ">
				<!--<button type="button" id='zz-btn-time'  data-options='{"type":"hour","customData":{"h":[{"text":"上午","value":"上午"},{"text":"下午","value":"下午"}]},"labels":["年", "月", "日", "时段", "分"]}' class="zz-btn-timeClass " >选择输液时间</button>-->
				<button id='zz-btn-time' data-options='{}' class="zz-btn-timeClass">选择输液日期</button>
			</div>
			
			<div  class="mui-row zz-div-result">
				<label id="zz-label-ymd"></label>
			</div>
			<div  class="mui-row zz-div-result">
				<label id="zz-label-timeSlot"></label>
			</div>
			
			<div class="mui-row marginLeftRight">
				<button type="button" class="zz-btn-next" onclick="openWindow('../transfuse/transFuseTime.html');">下一步</button>
			</div>
		</div>
		<script type="text/javascript" src="../../js/jquery.1.11.1.js"></script>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/mui.picker.min.js"></script>
		<script type="text/javascript">
			mui.init({
				swipeBack: true, //启用右滑关闭功能
				beforeback: function() {
					//获得你要前往页面的webview id
					var Scanner = plus.webview.getWebviewById(plus.webview.currentWebview().webId);
					//触发前往页面的自定义事件（例：AddNew）,从而进行数据刷新
					mui.fire(Scanner, 'refreshWeather');
					//返回true，继续页面关闭逻辑
					return true;
				},
				
			});
			var timeResult;
			var ymd;
			var timeSlot;
			ymd = document.getElementById('zz-label-ymd');
			timeSlot = document.getElementById('zz-label-timeSlot');
			ymd.innerHTML = '';
			timeSlot.innerHTML = '';
			mui.plusReady(function() {
				plus.navigator.setStatusBarBackground('#4CBCEC');
				console.log('小宝儿~')
			});
			
			
			
			(function($) {
				$.init();
//				var result = $('#result')[0];
				var btns = $('.zz-btn-timeClass');
				btns.each(function(i, btn) {
					btn.addEventListener('tap', function() {
						var optionsJson = this.getAttribute('data-options') || '{}';
						var options = JSON.parse(optionsJson);
						var id = this.getAttribute('id');
						var picker = new $.DtPicker(options);
						picker.show(function(rs) {
							timeResult = rs.text;
							ymd.innerHTML = rs.text.substr(0, 10);
							timeSlot.innerHTML = rs.text.substr(10, 6);
							picker.dispose();
						});
					}, false);
				});
				
			})(mui);
			
			$('.zz-btn-timeClass').css('height', document.documentElement.clientWidth/2);
			
			function openWindow($url) {
				
				var ymd = document.getElementById('zz-label-ymd');
				var timeSlot = document.getElementById('zz-label-timeSlot');
				yyy = parseInt(ymd.innerHTML.substr(0,4));
				mmm = parseInt(ymd.innerHTML.substr(5,2));
				ddd = parseInt(ymd.innerHTML.substr(8,2));
				hours = parseInt(timeSlot.innerHTML.substr(0,3));
				minutes = parseInt(timeSlot.innerHTML.substr(4,2));
		
				var nowTime = (new Date()).getTime();
				console.log('当前时间毫秒'+nowTime);
				var myTime = (new Date(ymd.innerHTML+':'+timeSlot.innerHTML)).getTime();
				console.log('所选时间毫秒'+myTime);
				
				if(ymd.innerHTML == ''){
					mui.alert('请选择挂号日期');
				}else if(nowTime>myTime){
					mui.alert('所选时间已经过去');
				}else{
					mui.openWindow({
						url: $url,
						extras: {
									'timeResult' : timeResult			
								}
					});
				}
				

				}
		</script>
	</body>

</html>