<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/common/common.css" />
		<link rel="stylesheet" href="../../css/registration/index.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav m_orange" id="zz-header-header">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">医生列表</h1>
		</header>
		<div class="mui-content ">
			<ul class="mui-table-view" id="list_ul">
				<!--<li class="mui-table-view-cell mui-media" id="list" >
					<div class="marginLeftRight">
						<div class="mui-media-object mui-pull-left">
							<img style="width: 80px; height: 80px; margin-top: 10px;"  src="../../images/small.png">
						</div>
						<div class="mui-pull-left" style="margin-left: 40px;">
							<h1 class="black-text listCellText" >yihsen</h1>
							<h3 class="black-text listCellText" style="margin-top: 5px;">主任</h3>
							<h3 class="black-text listCellText"style="margin-top: 5px;">15</h3>
						</div>
					</div>
				</li>-->
			</ul>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/constants.js"></script>
		<script type="text/javascript" src="../../js/jquery.1.11.1.js"></script>
		<script type="text/javascript">
			mui.init({
				swipeBack: true, //启用右滑关闭功能
			});

			mui.plusReady(function() {
				plus.nativeUI.showWaiting();
				console.log('sadasd' + localStorage.registrationTime);
				var timeArray = localStorage.registrationTime.split(' ');
				console.log(timeArray);
				var schedule_date = timeArray[0];
				var schedule_time = timeArray[1];
				var community_hospitals_id = localStorage.community_hospitals_id;
				var hospital_office_id = localStorage.hospital_office_id;
				var hospital_office_name = localStorage.hospital_office_name;
				console.log(hospital_office_name);
				var postData = {};
				postData['community_hospitals_id'] = community_hospitals_id;
				postData['hospital_office_id'] = hospital_office_id;
				postData['schedule_date'] = schedule_date;
				postData['schedule_time'] = schedule_time;
				console.log(postData);
				mui.ajax({
					type: 'POST',
					url: SERVERURL + "HDoctorBaseInfo/selectDoctList",
					data: postData,
					timeout:20000,
					dataType: "json",
					//成功获取数据赋值
					success: function(data) {
						if (data.data == 0) {
							mui.alert('该天没有医生坐班');
							plus.nativeUI.closeWaiting();
							return;
						}
						console.log(JSON.stringify(data.data))
						plus.nativeUI.closeWaiting();
						var doc = document;
						fragment = doc.createDocumentFragment();
						container = doc.getElementById("list_ul");
						mui.each(data.data, function(i) {
								console.log(JSON.stringify(data.data[i]));
							var doc = document;
							li = doc.createElement("li");
							div = doc.createElement("div");
							div1 = doc.createElement("div");
							div2 = doc.createElement("div");
							img = doc.createElement("img");
							h1 = doc.createElement("h1");
							h31 = doc.createElement("h3");
							h32 = doc.createElement("h3");
							h33 = doc.createElement("h3");
							li.setAttribute("class", "mui-table-view-cell mui-media");
							div.setAttribute("class", "marginLeftRight");
							img.setAttribute("class", " mui-pull-left");
							div1.setAttribute("style", "margin-top: 15px;margin-left: -5%;")
							img.setAttribute("src", data.data[i].hospital_doctor_picture);
							img.setAttribute("style", 'width: 70px;height: 70px;border-radius: 35px;');
//							console.log(data.data[i].hospital_doctor_picture);
							div2.setAttribute("class", "mui-media-body");
							div2.setAttribute("style", "margin-left: 65px;");
							h1.setAttribute("class", "black-text listCellText");
							h31.setAttribute("class", "m_gray_text");
							h32.setAttribute("class", "m_gray_text");
							h33.setAttribute("class", "m_gray_text");
							h1.innerHTML = data.data[i].hospital_doctor_name;
							h31.innerHTML = data.data[i].identity_name;
							h32.innerHTML = '挂号费：' + data.data[i].registration_money + '元';
							h33.innerHTML = '剩余预约号：' + data.data[i].registration_number_left;
							li.id = data.data[i].hospital_doctor_id;
							li.setAttribute('money', data.data[i].registration_money);
							li.residueCount = data.data[i].registration_number_left;
							li.addEventListener('tap', function() {
								if (li.residueCount <= 0) {
									mui.alert('该医生挂号预约已满，不能预约');
									return;
								}
								console.log('=='+data.data[i].hospital_doctor_id);
								console.log('li=='+this.id);
								localStorage.open_registration_number = data.data[i].open_registration_number,
								localStorage.registration_number_left = data.data[i].registration_number_left,
								mui.openWindow({
									url: '../registration/doctorInfo.html',
									extras: {
										hospital_doctor_id: this.id,
										community_hospitals_id: community_hospitals_id,
										hospital_office_id: hospital_office_id,
										registration_money: li.getAttribute('money'),
										hospital_office_name: hospital_office_name,
									},
								});
							});
							li.appendChild(div);
							div.appendChild(div1);
							div.appendChild(div2);
							div1.appendChild(img);
							div2.appendChild(h1);
							div2.appendChild(h31);
							div2.appendChild(h32);
							div2.appendChild(h33);
							fragment.appendChild(li);
						});
						container.appendChild(fragment);
					},
					error: function(xhr, type, errorThrown) {
						console.log(type);
						plus.nativeUI.closeWaiting();
						mui.alert('网络连接失败');
					}
				});

			});
		</script>
	</body>

</html>