<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/common/common.css" />
		<link rel="stylesheet" href="../../css/registration/doctorInfo.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav m_orange" id="zz-header-header">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">医生信息</h1>
		</header>
		<div class="mui-content top35px ">
			<div class="mui-row zz-div-line marginLeftRight">
				<div class="zz-div-headImg">
					<img src="../../images/small.png"/ class="zz-img-headImg">
				</div>
				<div class="zz-div-doctName">
					<h2 id="doctName">张大夫</h2>
					<h5 class="m_gray_text zz-h5-text" id="doctIdentity">主任医师 | 13人预约过</h5>
				</div>
			</div>
			<div class="mui-row marginLeftRight zz-div-label">
				<label class="zz-label-doctInfo" id="doctIntroduction">
					选择科室选择科室选择科室选择科室选择科室选择科室选择科室选择科室选择科室选择科室选择科室选择科室选择科室选择科室选择科室选择科室选择科室选择科室选择科室选择科室
				</label>
				<hr class="zz-hr-line"/>
			</div>
			<div class="mui-row marginLeftRight zz-div-label">
				<label class="zz-label-doctInfo" id="doctRegistrationPredictMoney">
					挂号费：12元
				</label>
				<hr class="zz-hr-line"/>
			</div>
			<div class="mui-row marginLeftRight ">
				<button type="button" class="zz-btn-next m_orange" onclick="openWindow();">下一步</button>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/constants.js" ></script>
		<script type="text/javascript">
			mui.init({
				swipeBack:true //启用右滑关闭功能
			});
			var data_id;
			mui.plusReady(function(){
				mui.ajax({
					type : 'GET',
					url	: SERVERURL+"HDoctorBaseInfo/selectall",
					dataType :"json",
					//成功获取数据赋值
					success: function(data){
						data_id = data.data.hospital_doctor_id;
						var doctName = document.getElementById('doctName');
						doctName.innerHTML = data.data.hospital_doctor_name;
						var doctIdentity = document.getElementById('doctIdentity');
						doctIdentity.innerHTML = data.data.hospital_doctor_identity+'|'+'13人预约过';
						var doctIntroduction = document.getElementById('doctIntroduction');
						doctIntroduction.innerHTML = data.data.hospital_doctor_introduction;
						var doctRegistrationPredictMoney = document.getElementById('doctRegistrationPredictMoney');
						doctRegistrationPredictMoney.innerHTML = '挂号费：'+data.data.registration_predict_money+'元';
					},
					error:function (xhr,type,errorThrown) {
						console.log(type);
						mui.toast(type);
					}
				});
				
				
			});
			function openWindow(){
				mui.openWindow({
					url:'../registration/makeSureMessage.html',
					extras:{
						_id:data_id,
					},
				});
			};
		</script>
	</body>

</html>