<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/common/common.css" />
		<link rel="stylesheet" href="../../css/registration/doctorInfo.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav" id="zz-header-header">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">医生信息</h1>
		</header>
		<div class="mui-content top35px ">
			<div class="mui-row zz-div-line ">
				<div class="zz-div-headImg">
					<img src="../../images/small.png"/>
				</div>
				<div class="zz-div-doctName">
					<h1>张大夫</h1>
					<h4 class="m_gray_text zz-h4-text">主任医师 | 13人预约过</h4>
				</div>
			</div>
				<div class="mui-row">
					<label syt>选择科室选择科室选择科室选择科室选择科室选择科室选择科室选择科室选择科室选择科室选择科室选择科室选择科室选择科室选择科室选择科室选择科室选择科室选择科室选择科室</label>		
				</div>
			</div>
			
				
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init({
				swipeBack:true //启用右滑关闭功能
			})
		</script>
	</body>

</html>