<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/common/common.css" />
		<link rel="stylesheet" href="../../css/registration/finish.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav m_orange">
			<a id="backHome" class="mui-action-back mui-icon  mui-pull-left" style="font-size: 30px;margin-left: -3%;margin-top: 15px;">首页</a>
			<h1 class="mui-title">挂号成功</h1>
		</header>
		<div class="mui-content" style="background-color:white ;">
			<div class="topDiv">
				<img class="image" src="../../images/registration/success.png" />
				<h1 class="msg">您已成功挂号!</h1>
			</div>
			<button type="button" class="zz-btn-next" id="btn-details">查看详情</button>

		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/constants.js" ></script>
		<script type="text/javascript">
			mui.init({
				beforeback: function() {
					//获得你要前往页面的webview id
					var Scanner = plus.webview.getWebviewById(localStorage.homeWebId);
					//触发前往页面的自定义事件（例：AddNew）,从而进行数据刷新
					mui.fire(Scanner, 'refreshWeather');
					backToHomeIndex();
				},
			});
			mui.plusReady(function() {
				plus.webview.currentWebview().setStyle({scrollIndicator:'none'}); //去掉滚动条
				var details = document.getElementById('btn-details');
				var postData = plus.webview.currentWebview().data;
				console.log(postData + "finish");
				details.addEventListener('tap', function() {
					mui.openWindow({
						url: '../registration/details.html',
						extras: {
							data: postData,
						},
					});
				});

			});
		</script>
	</body>

</html>