<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/common/common.css" />
		<link rel="stylesheet" href="../../css/registration/finish.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav m_orange">
			<h3 id="backHome" class="  mui-pull-left" style="margin-top: 20px; color: white;">首页</h3>
			<h1 class="mui-title">挂号成功</h1>
		</header>
		<div class="mui-content">
			<div class="topDiv">
				<img class="image" src="../../images/123.png" />
				<h1 class="msg">您已成功挂号!</h1>
			</div>
			<button type="button" class="zz-btn-next" id="btn-details">查看详情</button>

		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init();
			mui.plusReady(function() {

				var backHome = document.getElementById('backHome');
				backHome.addEventListener('tap', function() {
					
					mui.openWindow({
						url: '../home/index.html',
					});
				});

				var details = document.getElementById('btn-details');
				var postData = plus.webview.currentWebview().data;
					console.log(postData+"finish");
				details.addEventListener('tap', function() {
					mui.openWindow({
						url: '../registration/details.html',
						extras:{
							data:postData,
						},
					});
				});

			});
		</script>
	</body>

</html>