<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">挂号</h1>
		</header>
		<div class="mui-content top45px">
			<!--<div class="mui-row marginLeftRight" style="margin-bottom: 10px;">
				<label class="m_gray_text" style="font-size: 30px;">选择科室</label>		
			</div>-->
			<ul class="mui-table-view">
				<li class="mui-table-view-cell mui-media" id="list" >
					<div class="marginLeftRight">
							<img class="mui-media-object mui-pull-left" src="../../images/small.png">
							<h1 class="black-text listCellText"></h1>
					</div>
				</li>
				<li class="mui-table-view-cell mui-media" id="list" >
					<div class="marginLeftRight">
							<img class="mui-media-object mui-pull-left" src="../../images/small.png">
							<h1 class="black-text listCellText"></h1>
					</div>
				</li>
				<li class="mui-table-view-cell mui-media" id="list" >
					<div class="marginLeftRight">
							<img class="mui-media-object mui-pull-left" src="../../images/small.png">
							<h1 class="black-text listCellText"></h1>
					</div>
				</li>
			</ul>
		</div>

		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/constants.js" ></script>
		<script type="text/javascript">

			mui.init({
				swipeBack: true //启用右滑关闭功能
			});
			//获取科室列表
			mui.plusReady(function(){
				mui.ajax({
					type : 'GET',
					url	: SERVERURL+"HospitalOfficeInfo/selectall",
					dataType :"json",
					//成功获取数据赋值
					success: function(data){
						var list =document.getElementsByClassName('listCellText');
						for (var i = 0;i<list.length;i++) {
							list[i].innerHTML = data.data[i].hospital_office_name;
							console.log(list[i].innerHTML);
							list[i].id = data.data[i].hospital_office_id;
							console.log(list[i].id);
						}
					},
					error:function (xhr,type,errorThrown) {
						console.log(type);
						mui.toast(type);
					}
				});
				//跳转传值
				var list =document.getElementsByClassName('listCellText');
				for (var i = 0;i<list.length;i++) {
					list[i].addEventListener('tap',function(){
						mui.openWindow({
							url:'../registration/doctorInfo.html',
							extras:{
								_id:this.id,
							},
						});
					});
				}
			});
		</script>
	</body>

</html>