<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/common/common.css" />
		<link rel="stylesheet" href="../../css/registration/index.css" />

	</head>

	<body>
		<header class="mui-bar mui-bar-nav m_orange">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">挂号</h1>

			<div id="myHistory" class="mui-bar top60px " style="height: 70px;">
				<h5 class="black-text" style="font-weight: bold; font-size: 30px; margin-top: 20px; margin-left: 15px;">我的挂号历史</h5>
				<img src="../../images/right.png" style="height: 25px;width: 30px; float: right;margin-top: -30px;margin-right: 10px;"/>
			</div>
			<div class="mui-bar top110px " style="height: 70px;">
				<h5 class="m_gray_text" style="font-size: 30px; margin-top: 20px; font-weight: normal; margin-left: 15px;">选择科室</h5>
			</div>
		</header>
		<div class="mui-content top95px">
			<!--<div class="mui-row marginLeftRight" style="margin-bottom: 10px;">
				<label class="m_gray_text" style="font-size: 30px;">选择科室</label>		
			</div>-->
			<ul class="mui-table-view" id="list_ul">
				<!--<li class="mui-table-view-cell mui-media" id="list" >
					<div class="marginLeftRight">
							<img class="mui-media-object mui-pull-left" src="../../images/small.png">
							<h1 class="black-text listCellText"></h1>
					</div>
				</li>-->
			</ul>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/constants.js"></script>
		<script type="text/javascript">
			mui.init({
				swipeBack: true, //启用右滑关闭功能
				beforeback: function() {
		//获得你要前往页面的webview id
					var Scanner = plus.webview.getWebviewById(plus.webview.currentWebview().webId);

					//触发前往页面的自定义事件（例：AddNew）,从而进行数据刷新
					mui.fire(Scanner, 'refreshWeather');

					//返回true，继续页面关闭逻辑
					return true;
				},
			});
			//获取科室列表
			mui.plusReady(function() {
				
				plus.nativeUI.showWaiting();
				localStorage.registrationIndexWebId = plus.webview.currentWebview().id;
				window.addEventListener('refresh', function() {
					plus.navigator.setStatusBarBackground('#EEA02F');
				});
				plus.navigator.setStatusBarBackground('#EEA02F');
				var community_hospitals_id = localStorage.community_hospitals_id;
				mui.ajax({
					type: 'GET',
					url: SERVERURL + "HHospitalOfficeList/selectList?community_hospitals_id=" + community_hospitals_id,
					dataType: "json",
					timeout:20000,
					//成功获取数据赋值
					success: function(data) {
						plus.nativeUI.closeWaiting();
						var list = document.getElementsByClassName('listCellText');

						var doc = document;
						fragment = doc.createDocumentFragment();
						container = doc.getElementById("list_ul");
						console.log(JSON.stringify(data.data))
						mui.each(data.data, function(i) {
							var doc = document;
							//							console.log(i);
							li = doc.createElement("li");
							div = doc.createElement("div");
							img = doc.createElement("img");
							h1 = doc.createElement("h1");
//							h1.setAttribute("style","margin-left: 70px;")
							li.setAttribute("class", "mui-table-view-cell mui-media");
							div.setAttribute("class", "marginLeftRight");
							img.setAttribute("class", "mui-media-object mui-pull-left");
							if(data.data[i].hospital_office_id == '0') {
								img.setAttribute("src", "../../images/registration/waike.png");
							} else if(data.data[i].hospital_office_id == '1') {
								img.setAttribute("src", "../../images/registration/neike.png");
							} else if(data.data[i].hospital_office_id == '2') {
								img.setAttribute("src", "../../images/registration/pifu.png");
							} else if(data.data[i].hospital_office_id == '3') {
								img.setAttribute("src", "../../images/registration/wuguan.png");
							}
							//							else if(data.data[i].hospital_office_id =='0004'){
							//								img.setAttribute("src","../../images/small.png");
							//							}
							else {
								img.setAttribute("src", "../../images/registration/define.png");
							}
							h1.setAttribute("class", "black-text")
							h1.innerHTML = data.data[i].hospital_office_name;
							li.setAttribute("name", data.data[i].hospital_office_name);
							li.id = data.data[i].hospital_office_id.toString();
							li.addEventListener('tap', function() {
								localStorage.hospital_office_id = this.id;
								localStorage.community_hospitals_id = community_hospitals_id; //医院内码
								localStorage.hospital_office_name = this.getAttribute("name");
								mui.openWindow({
									url: '../registration/registrationTime.html',
									extras: {

									},
								});
							});
							li.appendChild(div);
							div.appendChild(img);
							div.appendChild(h1);
							fragment.appendChild(li);
						});
						container.appendChild(fragment);
					},
					error: function(xhr, type, errorThrown) {
						plus.nativeUI.closeWaiting();
						mui.alert('网络连接失败');
						//						console.log(type);
						//						mui.toast(type);
					}
				});

				var btn = document.getElementById("myHistory");
				btn.addEventListener("tap", function() {
					mui.openWindow({
						url: '../registration/myHistory.html',
						id: 'home',
						extras: {
							_id: this.id,
						},
					});
				});

			});
		</script>
	</body>

</html>