<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/common/common.css" />
		<link rel="stylesheet" href="../../css/registration/index.css" />

	</head>

	<body>
		<header class="mui-bar mui-bar-nav ">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">挂号</h1>
		</header>
		<div class="mui-content top35px">
			<div class="mui-row marginLeftRight" style="margin-bottom: 10px;">
				<label class="m_gray_text" style="font-size: 30px;">选择科室</label>		
			</div>
			<ul class="mui-table-view ">
				<li class="mui-table-view-cell mui-media">
					<div class="marginLeftRight">
						<a href="javascript:;">
							<img class="mui-media-object mui-pull-left" src="../../images/small.png">
							<h1 class="black-text">五官科</h1>
						</a>
					</div>
				</li>
			</ul>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init({
				swipeBack: true //启用右滑关闭功能
			});
		</script>
	</body>

</html>