<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/common/common.css" />
		<link rel="stylesheet" href="../../css/registration/myHistory.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav yellow ">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: black;"></a>
			<h1 class="mui-title" style="color: black;">我的挂号</h1>
		</header>
		<div class="mui-content">
			<div class="top14px headline">
				<h1 class="title">已预约</h1>
			</div>
			<ul class="mui-table-view" id="list_ul">
				<li class="mui-table-view-cell mui-media" id="list">
					<div class="marginLeftRight">
						<img class="mui-media-object mui-pull-left" src="../../images/small.png">
						<h1>李晨</h1>
						<label class="gray-text">2016-12-12 下午</label>
					</div>
				</li>
				<li class="mui-table-view-cell mui-media" id="list">
					<div class="marginLeftRight">
						<img class="mui-media-object mui-pull-left" src="../../images/small.png">
						<h1>李晨</h1>
						<label class="gray-text">2016-12-12 下午</label>
					</div>
				</li>
			</ul>
			<div class="headline" style="margin-top: -10px;">
				<h1 class="title">已就诊</h1>
			</div>
			<ul class="mui-table-view" id="list_ul">
				<li class="mui-table-view-cell mui-media" id="list">
					<div class="marginLeftRight">
						<img class="mui-media-object mui-pull-left" src="../../images/small.png">
						<h1>李晨</h1>
						<label class="gray-text">2016-12-12 下午</label>
					</div>
				</li>
			</ul>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init({
				swipeBack: true //启用右滑关闭功能
			});
		</script>
	</body>

</html>