<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/common/common.css" />
		<link rel="stylesheet" href="../../css/registration/selectTime.css" />
		<link rel="stylesheet" href="../../css/mui.picker.css" />
		<link rel="stylesheet" href="../../css/mui.poppicker.css" />

		<style>
			.mui-btn {
				font-size: 16px;
				padding: 8px;
				margin: 3px;
			}
			
			h5.mui-content-padded {
				margin-left: 3px;
				margin-top: 20px !important;
			}
			
			h5.mui-content-padded:first-child {
				margin-top: 12px !important;
			}
			
			.ui-alert {
				text-align: center;
				padding: 20px 10px;
				font-size: 16px;
			}
		</style>

	</head>

	<body>
		<header class="mui-bar mui-bar-nav m_orange">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">挂号时间</h1>
		</header>
		<div class="mui-content">
			<div class="mui-row ">
				<button id='showUserPicker' class="zz-btn-timeClass" type='button'>选择挂号时间</button>
			</div>

			<div class="mui-row">
				<h1 id="zz-label-time" class="zz-div-result"></h1>
			</div>
			<div class="mui-row marginLeftRight">
				<button type="button" class="zz-btn-next" onclick="openWindow('../transfuse/makeSureMessage.html');">
					下一步
				</button>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/jquery.1.11.1.js"></script>
		<script type="text/javascript" src="../../js/mui.picker.min.js"></script>
		<script type="text/javascript" src="../../js/mui.picker.js"></script>
		<script type="text/javascript" src="../../js/mui.poppicker.js"></script>
		<script type="text/javascript" src="../../js/city.data.js"></script>
		<script type="text/javascript" src="../../js/city.data-3.js"></script>
		<script type="text/javascript" src="../../js/constants.js"></script>
		<script type="text/javascript">
			var registrationTime;

			mui.plusReady(function() {
				var sData = plus.webview.currentWebview();
				var timeResult = sData.timeResult;

			});
			mui.plusReady(function() {
				plus.navigator.setStatusBarBackground('#EEA02F');
			});
			$('.zz-btn-timeClass').css('height', document.documentElement.clientWidth / 2);
			(function($, doc) {
				$.init({
					swipeBack: true, //启用右滑关闭功能
					
				});

				$.ready(function() {

					//普通示例
					var userPicker = new $.PopPicker();
					var days = getDays(14);

					var setData = new Array()
					for(var i = 0; i < days.length; i++) {
						var data = {};
						data['value'] = i;
						data['text'] = days[i] + ' 上午';
						setData.push(data);

						var data = {};
						data['value'] = i + 1;
						data['text'] = days[i] + ' 下午';
						setData.push(data);

					}
					var date = new Date();
					if(date.getHours() >= 12) {
						setData.splice(0, 1);
					}
					if(date.getHours() >= 17) {
						setData.splice(0, 1);
					}

					userPicker.setData(setData);
					var showUserPickerButton = doc.getElementById('showUserPicker');
					var userResult = doc.getElementById('zz-label-time');
					showUserPickerButton.addEventListener('tap', function(event) {
						userPicker.show(function(items) {
							var str = JSON.stringify(items[0]['text']);
							str = str.substr(1, str.length - 2);
							registrationTime = str;
							userResult.innerHTML = str;
						});
					},false);
				});
			})(mui, document);
			//			console.log(timeResult);
			function openWindow($url) {

				var userResult = document.getElementById('zz-label-time');
				if(registrationTime) {
					localStorage.registrationTime = registrationTime;
					mui.openWindow({
						url: '../registration/doctorList.html',
					});
				} else {
					mui.alert("请先选择时间")
				}

			}
		</script>
	</body>

</html>