<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/common/common.css" />
		<link rel="stylesheet" href="../../css/loginRegister/certification.css" />
		<link rel="stylesheet" href="../../css/mui.picker.min.css" />
		<link rel="stylesheet" href="../../css/mui.dtpicker.css" />
		<link rel="stylesheet" href="../../css/userInfo/index.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav g_yellowColor" id="zz-header-header">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: black;"></a>
			<h1 class="mui-title" style="color: black;">实名认证</h1>
		</header>
		<div class="mui-content">
			<ul class="mui-table-view" id="list_ul">
				<li class="mui-table-view-cell mui-media" id="li-name">
					<div class="marginLeftRight ">
						<div class="mui-media-object mui-pull-left">
							<img class="cell-image" src="../../images/loginRegister/Person.png">
						</div>
						<div class="mui-pull-left" style="margin-left: 5px;margin-top: 5px;">
							<h1 class="black-text listCellText ">姓名</h1>
						</div>

					</div>
					<div id="div-name" class=" " style=" margin-left: 0px;margin-top: -55px;padding-right: -10px;margin-bottom: -20px;">
						<input id="input-name" type="text" class="mui-input-clear " style="padding-right: 20px; text-align: left; background: none; border: 0px; font-size: 200%;height: 200%;" placeholder="">
					</div>
				</li>

				<li class="mui-table-view-cell mui-media" id="li-sex">
					<div class="marginLeftRight ">
						<div class="mui-media-object mui-pull-left">
							<img class="cell-image" style="margin-top: 5px;" src="../../images/loginRegister/Female.png">
						</div>
						<div class="mui-pull-left" style="margin-left: 5px;margin-top: 5px;">
							<h1 class="black-text listCellText ">性别</h1>
						</div>

					</div>
					<div id="div-sex" class=" " style=" margin-left: 15px;margin-top: 60px; padding-right: -10px;">
						<h1 id="input-sex" class="black-text" style="padding-right: 20px; text-align: left; background: none; border: 0px; font-size: 200%;height: 200%;"></h1>
					</div>
				</li>

				<li class="mui-table-view-cell mui-media" id="li-age">
					<div class="marginLeftRight ">
						<div class="mui-media-object mui-pull-left">
							<img class="cell-image" style="width: 45px;margin-top: 10px;" src="../../images/loginRegister/Address_Book2.png">
						</div>
						<div class="mui-pull-left" style="margin-left: 5px;margin-top: 5px;">
							<h1 class="black-text listCellText ">出生年月</h1>
						</div>

					</div>
					<div id="div-age" class=" " style=" margin-left: 15px;margin-top: 60px; padding-right: -10px;">
						<h1 id="input-age" class="black-text" style="padding-right: 20px; text-align: left; background: none; border: 0px; font-size: 200%;height: 200%;"></h1>
					</div>
				</li>

				<li class="mui-table-view-cell mui-media" id="li-phoneNum">
					<div class="marginLeftRight ">
						<div class="mui-media-object mui-pull-left">
							<img class="cell-image" src="../../images/loginRegister/iPhone.png">
						</div>
						<div class="mui-pull-left" style="margin-left: 5px;margin-top: 5px;">
							<h1 class="black-text listCellText ">手机号码</h1>
						</div>
					</div>
					<div id="div-phoneNum" class=" " style=" margin-left: 0px;margin-top: -55px;padding-right: -10px;margin-bottom: -20px;">
						<input id="input-phoneNum" type="tel" class="mui-input-clear " style="padding-right: 20px; text-align: left; background: none; border: 0px; font-size: 200%;height: 200%;" placeholder="">
					</div>
				</li>

				<li class="mui-table-view-cell mui-media" id="li-home">
					<div class="marginLeftRight ">
						<div class="mui-media-object mui-pull-left">
							<img class="cell-image" src="../../images/loginRegister/Home.png">
						</div>
						<div class="mui-pull-left" style="margin-left: 5px;margin-top: 5px;">
							<h1 class="black-text listCellText ">家庭住址</h1>
						</div>
					</div>
					<div id="div-home" class=" " style=" margin-left: 0px;margin-top: -55px;padding-right: -10px;margin-bottom: -20px;">
						<textarea id="input-home" type="text" class="mui-input-clear " style="line-height: 35px;padding-right: 20px; text-align: left; background: none; border: 0px; font-size: 200%;height: 200%;" placeholder=""></textarea>
					</div>
				</li>

				<li class="mui-table-view-cell mui-media" id="li-hospital">
					<div class="marginLeftRight ">
						<div class="mui-media-object mui-pull-left">
							<img class="cell-image" src="../../images/loginRegister/City1.png">
						</div>
						<div class="mui-pull-left" style="margin-left: 5px;margin-top: 5px;">
							<h1 class="black-text listCellText ">社区医院</h1>
						</div>

					</div>
					<div id="div-hospital" class=" " style=" margin-left: 15px;margin-top: 60px; padding-right: -10px;">
						<h1 id="input-hospital" class="black-text" style="padding-right: 20px; text-align: left; background: none; border: 0px; font-size: 200%;height: 200%;"></h1>
					</div>
				</li>
			</ul>
			<div class="marginLeftRight">
				<button type="button" class="btn-certification g_yellowColor" onclick="openWindow();" style="color: black;">修改</button>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/constants.js"></script>
		<script type="text/javascript" src="../../js/jquery.1.11.1.js"></script>
		<script src="../../js/mui.picker.min.js"></script>
		<script type="text/javascript" src="../../js/mui.dtpicker.js"></script>
		<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=VxZwk9aaLVGLGGGogiHIPHzOFEdHNICD"></script>
		<script type="text/javascript">
			mui.back = function() {

				if(isNeedChangeData() == 1) {
					var btnArray = ['否', '是', ];
					mui.confirm('是否保存', '', btnArray, function(e) {
						if(e.index == 0) {
							mui.currentWebview.close();
						} else if(e.index == 1) {
							openWindow('back');

						}
					});
				} else {
					mui.currentWebview.close();
				}
			}
			mui.init({
				swipeBack: true, //启用右滑关闭功能
			});

			function isNeedChangeData() {
				if(document.getElementById('input-name').value != localStorage.community_user_name) {
					return 1;
				}
				if(document.getElementById('input-sex').innerHTML != localStorage.community_user_sex) {
					return 1;
				}
				if(document.getElementById('input-age').innerHTML != localStorage.community_user_birthday) {
					return 1;
				}
				if(document.getElementById('input-phoneNum').value != localStorage.community_user_phone) {
					return 1;
				}
				if(document.getElementById('input-home').value != localStorage.community_user_address) {
					return 1;
				}
				return 0;
			}

			function openWindow(str) {
				plus.nativeUI.showWaiting();
				var postData = {};

				if(document.getElementById('input-name').value != localStorage.community_user_name) {
					console.log('change');
					postData['community_user_name'] = document.getElementById('input-name').value;
				}
				if(document.getElementById('input-sex').innerHTML != localStorage.community_user_sex) {
					postData['community_user_sex'] = document.getElementById('input-sex').innerHTML;
				}
				//				postData['community_user_birthday'] = localStorage.userAge;
				//					postData['community_user_lat'] = localStorage.lat;
				//					postData['community_user_lng'] = localStorage.lng;
				if(document.getElementById('input-age').innerHTML != localStorage.community_user_birthday) {
					postData['community_user_birthday'] = document.getElementById('input-age').innerHTML;
				}
				if(document.getElementById('input-phoneNum').value != localStorage.community_user_phone) {
					postData['community_user_phone'] = document.getElementById('input-phoneNum').value;
				}
				if(document.getElementById('input-home').value != localStorage.community_user_address) {
					if(isNullStr(document.getElementById('input-home').value)) {
						mui.alert('请输入地址!');
						plus.nativeUI.closeWaiting();
						return;
					}
					//					if(localStorage.isOkAddress != '1') {
					//						var myGeo = new BMap.Geocoder();
					//						// 将地址解析结果显示在地图上,并调整地图视野
					//						myGeo.getPoint(document.getElementById('input-home').value, function(point) {
					//							if(point) {
					//								plus.nativeUI.closeWaiting();
					//								localStorage.lng = point['lng'];
					//								localStorage.lat = point['lat'];
					//								console.log(localStorage.lng);
					//								console.log(localStorage.lat);
					//								plus.nativeUI.closeWaiting();
					//							} else {
					//								plus.nativeUI.closeWaiting();
					//								mui.alert('您输入的地址有误！');
					//								return;
					//							}
					//						}, localStorage.GetCity);
					//						var btnArray = ['取消', '确定'];
					//						mui.confirm('修改地址后修改医院么', '', btnArray, function(e) {
					//							if(e.index == 0) {} else if(e.index == 1) {
					//
					//							}
					//						});
					//						mui.alert('修改地址后请更改医院');
					//						plus.nativeUI.closeWaiting();
					//						return;
					//					}
					postData['community_user_address'] = document.getElementById('input-home').value;
					postData['community_user_lat'] = localStorage.lat;
					postData['community_user_lng'] = localStorage.lng;
				}
				if(document.getElementById('input-hospital').innerHTML != localStorage.community_hospitals_name) {
					postData['community_hospitals_id'] = localStorage.userHospitalId;
				}
				console.log(JSON.stringify(postData));
				if(JSON.stringify(postData).length > 2) {
					postData['community_user_id'] = localStorage.community_user_id;
					if(postData['community_user_phone'] && localStorage.isOkCode != '1') {

						if(!isPhoneNum(postData['community_user_phone'])) {
							mui.alert("手机号码有误，请重填");
						} else {
							var data = {};
							data['community_user_phone'] = postData['community_user_phone'];
							plus.nativeUI.showWaiting('正在向新手机号发送验证码');
							mui.ajax({
								type: 'POST',
								data: postData,
								url: MESSAGEURL,
								dataType: "json",
								timeout: 20000,
								//成功获取数据赋值
								success: function(data) {
									plus.nativeUI.closeWaiting();
									localStorage.code = data.data[0];
									console.log(localStorage.code);
									mui.toast('验证码已经发往您的手机，请注意查收');
									mui.openWindow({
										url: '../userInfo/code.html',
									});
								},
								error: function(xhr, type, errorThrown) {
									plus.nativeUI.closeWaiting();
									console.log(errorThrown);
									mui.alert('验证码发送失败');
								}
							});
						}
						plus.nativeUI.closeWaiting();
						return;

					}

					if(document.getElementById('input-home').value != localStorage.community_user_address &&
						localStorage.isOkAddress != '1') {
						var myGeo = new BMap.Geocoder();
						// 将地址解析结果显示在地图上,并调整地图视野
						myGeo.getPoint(document.getElementById('input-home').value, function(point) {
							if(point) {
								console.log('dizhi');
								plus.nativeUI.closeWaiting();
								localStorage.lng = point['lng'];
								localStorage.lat = point['lat'];
								console.log(localStorage.lng);
								console.log(localStorage.lat);
								postData['community_user_lat'] = localStorage.lat;
								postData['community_user_lng'] = localStorage.lng;

								mui.ajax({
									type: 'POST',
									data: postData,
									url: SERVERURL + "ACommunityUserInfo/changeUserInfo",
									dataType: "json",
									timeout: 20000,
									//成功获取数据赋值
									success: function(data) {
										plus.nativeUI.closeWaiting();
										if(data.status == 1) {
											if(postData['community_user_name']) {
												localStorage.community_user_name = postData['community_user_name'];
											}
											if(postData['community_user_sex']) {
												localStorage.community_user_sex = postData['community_user_sex'];
											}
											if(postData['community_user_birthday']) {
												localStorage.community_user_birthday = postData['community_user_birthday'];
											}
											if(postData['community_user_phone']) {
												localStorage.community_user_phone = postData['community_user_phone'];
											}
											if(postData['community_user_address']) {
												localStorage.community_user_address = postData['community_user_address'];
												localStorage.community_user_lat = postData['community_user_lat'];
												localStorage.community_user_lng = postData['community_user_lng'];
												localStorage.lat = localStorage.community_user_lat;
												localStorage.lng = localStorage.community_user_lng;
												localStorage.isOkAddress = '0';
											}
											if(postData['community_hospitals_id']) {
												localStorage.community_hospitals_id = postData['community_hospitals_id'];
												localStorage.community_hospitals_name = localStorage.userHospitalName;
											}

											localStorage.isOkCode = '0';
											mui.toast('修改成功');
											var Scanner = plus.webview.getWebviewById(localStorage.userInfoIndex);
											mui.fire(Scanner, 'refreshUserInfo');
											if(!isNullStr(localStorage.changeAddress)) {
												var Scanner = plus.webview.getWebviewById(localStorage.changeAddress);
												mui.fire(Scanner, 'refreshAddress');
												localStorage.changeAddress = '';
											}
											if(str == 'back') {
												mui.back();
											}

										};
										if(data.status == 0) {
											mui.alert(data.msg);
											localStorage.isOkAddress = '0';
										};
									},
									error: function(xhr, type, errorThrown) {
										plus.nativeUI.closeWaiting();
										mui.alert('修改失败');
										localStorage.isOkAddress = '0';
										return;
									}
								});

							} else {
								plus.nativeUI.closeWaiting();
								mui.alert('您输入的地址有误！或者该地址暂不提供服务！');
								return;
							}
						}, localStorage.GetCity);
						return;
					}

					mui.ajax({
						type: 'POST',
						data: postData,
						url: SERVERURL + "ACommunityUserInfo/changeUserInfo",
						dataType: "json",
						timeout: 20000,
						//成功获取数据赋值
						success: function(data) {
							plus.nativeUI.closeWaiting();
							if(data.status == 1) {
								if(postData['community_user_name']) {
									localStorage.community_user_name = postData['community_user_name'];
								}
								if(postData['community_user_sex']) {
									localStorage.community_user_sex = postData['community_user_sex'];
								}
								if(postData['community_user_birthday']) {
									localStorage.community_user_birthday = postData['community_user_birthday'];
								}
								if(postData['community_user_phone']) {
									localStorage.community_user_phone = postData['community_user_phone'];
								}
								if(postData['community_user_address']) {
									localStorage.community_user_address = postData['community_user_address'];
									localStorage.community_user_lat = postData['community_user_lat'];
									localStorage.community_user_lng = postData['community_user_lng'];
									localStorage.lat = localStorage.community_user_lat;
									localStorage.lng = localStorage.community_user_lng;
									localStorage.isOkAddress = '0';
								}
								//								localStorage.community_hospitals_id
								//								localStorage.community_hospitals_name
								if(postData['community_hospitals_id']) {
									localStorage.community_hospitals_id = postData['community_hospitals_id'];
									localStorage.community_hospitals_name = localStorage.userHospitalName;
									console.log('name' + localStorage.community_hospitals_name);
								}
								localStorage.isOkCode = '0';
								mui.toast('修改成功');
								var Scanner = plus.webview.getWebviewById(localStorage.userInfoIndex);
								mui.fire(Scanner, 'refreshUserInfo');

								console.log('-----' + str);

								if(!isNullStr(localStorage.changeAddress)) {
									var Scanner = plus.webview.getWebviewById(localStorage.changeAddress);
									mui.fire(Scanner, 'refreshAddress');
									localStorage.changeAddress = '';
									localStorage.isFirst = '1';

								}
								if(str == 'back') {
									mui.back();
								}
							};
							if(data.status == 0) {
								mui.alert(data.msg);
							};
						},
						error: function(xhr, type, errorThrown) {
							plus.nativeUI.closeWaiting();
							mui.alert('修改失败');
						}
					});
				} else {
					plus.nativeUI.closeWaiting();
					mui.alert('请先修改信息');
				}
			};
			mui.plusReady(function() {
				plus.webview.currentWebview().setStyle({scrollIndicator:'none'}); //去掉滚动条
				localStorage.isOkCode = '0';
				localStorage.isOkAddress = '0';
				document.getElementById('input-name').value = localStorage.community_user_name;
				document.getElementById('input-sex').innerHTML = localStorage.community_user_sex;
				document.getElementById('input-age').innerHTML = localStorage.community_user_birthday;
				document.getElementById('input-phoneNum').value = localStorage.community_user_phone;
				document.getElementById('input-home').value = localStorage.community_user_address;
				document.getElementById('input-hospital').innerHTML = localStorage.community_hospitals_name;
				//				localStorage.community_hospitals_id
				//				localStorage.community_hospitals_name

				plus.geolocation.getCurrentPosition(function(p) {
					console.log(JSON.stringify(p));
				}, function(e) {
					alert("Geolocation error: " + e.message);
				});

				document.getElementById("li-sex").addEventListener('tap', function() {
					document.activeElement.blur();
					var btnArray = ['男', '女'];
					mui.confirm('请选择您的性别', '', btnArray, function(e) {
						if(e.index == 0) {
							localStorage.userSex = "男";
							document.getElementById('div-sex').style.display = '';
							document.getElementById('input-sex').innerHTML = localStorage.userSex;
						} else if(e.index == 1) {
							localStorage.userSex = "女";
							document.getElementById('div-sex').style.display = '';
							document.getElementById('input-sex').innerHTML = localStorage.userSex;
						}
					});
				});
				document.getElementById("input-phoneNum").innerHTML = localStorage.userPhoneNum;

				document.getElementById("li-name").addEventListener('tap', function() {
					document.getElementById('div-name').style.display = '';
					document.getElementById('input-name').focus();
				});
				document.getElementById("li-age").addEventListener('tap', function() {
					document.activeElement.blur();
					document.getElementById('div-age').style.display = '';
					var optionsJson = {};
					optionsJson['type'] = 'date';
					optionsJson['beginDate'] = new Date(1899, 12, 01); //设置开始日期
					optionsJson['endDate'] = new Date(); //设置结束日期
					console.log(JSON.stringify(optionsJson));
					/*
					 * 首次显示时实例化组件
					 * 示例为了简洁，将 options 放在了按钮的 dom 上
					 * 也可以直接通过代码声明 optinos 用于实例化 DtPicker
					 */
					var picker = new mui.DtPicker(optionsJson);
					picker.show(function(rs) {
						/*
						 * rs.value 拼合后的 value
						 * rs.text 拼合后的 text
						 * rs.y 年，可以通过 rs.y.vaue 和 rs.y.text 获取值和文本
						 * rs.m 月，用法同年
						 * rs.d 日，用法同年
						 * rs.h 时，用法同年
						 * rs.i 分（minutes 的第二个字母），用法同年
						 */
						localStorage.userAge = rs.text;
						document.getElementById('input-age').innerHTML = rs.text;
						console.log(rs.text);
						/* 
						 * 返回 false 可以阻止选择框的关闭
						 * return false;
						 */
						/*
						 * 释放组件资源，释放后将将不能再操作组件
						 * 通常情况下，不需要示放组件，new DtPicker(options) 后，可以一直使用。
						 * 当前示例，因为内容较多，如不进行资原释放，在某些设备上会较慢。
						 * 所以每次用完便立即调用 dispose 进行释放，下次用时再创建新实例。
						 */
						picker.dispose();
					});

				});
				document.getElementById("li-phoneNum").addEventListener('tap', function() {
					document.getElementById('input-phoneNum').focus();
				});
				document.getElementById("li-hospital").addEventListener('tap', function() {
					localStorage.userHome = document.getElementById('input-home').value;
					console.log(localStorage.userHome);
					console.log(isNullStr(localStorage.userHome));

					if(isNullStr(localStorage.userHome)) {
						mui.alert('请先选择地址');
					} else {

						plus.nativeUI.showWaiting('正在查询附近医院');
						var myGeo = new BMap.Geocoder();
						// 将地址解析结果显示在地图上,并调整地图视野
						myGeo.getPoint(localStorage.userHome, function(point) {
							if(point) {
								localStorage.lng = point['lng'];
								localStorage.lat = point['lat'];
								console.log(localStorage.lng);
								console.log(localStorage.lat);

								document.activeElement.blur();
								var postData = {};
								postData['lat'] = point['lat'];
								postData['lng'] = point['lng'];
								mui.ajax({
									type: 'POST',
									data: postData,
									url: SERVERURL + 'ACommunityUserInfo/selectHospital',
									dataType: "json",
									timeout: 20000,

									//成功获取数据赋值
									success: function(data) {
										plus.nativeUI.closeWaiting();
										document.activeElement.blur();
										if(data.status == 1) {
											var userPicker = new mui.PopPicker();
											var setData = new Array();
											console.log(JSON.stringify(data.data));
											console.log(data.data.length);
											for(var i = 0; i < data.data.length; i++) {
												var popData = {};
												popData['value'] = data.data[i]['community_hospitals_id'];
												popData['text'] = data.data[i]['community_hospitals_name'];
												setData.push(popData);
											}
											userPicker.setData(setData);
											console.log('ssssssxxx');
											localStorage.hospitalPickerData = JSON.stringify(setData);
											userPicker.show(function(items) {
												var str = items[0]['text'];
												console.log(JSON.stringify(items[0]['value']));
												localStorage.userHospitalId = items[0]['value'];
												localStorage.userHospitalName = items[0]['text'];
												document.getElementById('input-hospital').innerHTML = str;
											});

										} else {
											mui.alert('您选择的地址附近没有社区医院!')
										}

									},
									error: function(xhr, type, errorThrown) {
										console.log(type);
										plus.nativeUI.closeWaiting();
										mui.alert('网络连接失败,无法查询附近医院');
									}
								});
							} else {
								plus.nativeUI.closeWaiting();
								mui.alert('网络连接失败,无法查询附近医院');
							}
						}, localStorage.GetCity);
					}
					document.getElementById('div-hospital').style.display = '';
				});
			});
		</script>
		<!--<script type="text/javascript">
			// 百度地图API功能
			function G(id) {
				return document.getElementById(id);
			}
			var ac = new BMap.Autocomplete( //建立一个自动完成的对象
				{
					"input": "input-home",
					"location": localStorage.GetCity,
				});
			ac.setInputValue(localStorage.community_user_address);
			ac.addEventListener("onhighlight", function(e) { //鼠标放在下拉列表上的事件
				var str = "";
				var _value = e.fromitem.value;
				var value = "";
				if(e.fromitem.index > -1) {
					value = _value.province + _value.city + _value.district + _value.street + _value.business;

				}
				str = "FromItem<br />index = " + e.fromitem.index + "<br />value = " + value;

				value = "";
				if(e.toitem.index > -1) {
					_value = e.toitem.value;
					value = _value.province + _value.city + _value.district + _value.street + _value.business;
					console.log('province' + _value.province);
					console.log('city' + _value.city);
					console.log('district' + _value.district);
					console.log('street' + _value.street);
					console.log('business' + _value.business);
					console.log('value' + value);
				}
				str += "<br />ToItem<br />index = " + e.toitem.index + "<br />value = " + value;
			});

			var myValue;
			ac.addEventListener("onconfirm", function(e) { //鼠标点击下拉列表后的事件
				var _value = e.item.value;
				myValue = _value.province + _value.city + _value.district + _value.street + _value.business;
			});-->
		</script>

	</body>

</html>