<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/common/common.css" />
		<link rel="stylesheet" href="../../css/userInfo/index.css" />
	</head>

	<body style="background-color: rgb(239,239,244);">
		<header class="mui-bar mui-bar-transparent">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: black;"></a>
			<h1 class="mui-title" style="color: black;">我的</h1>
		</header>
		<div class="mui-content" style="margin-top: 60px;">
			<ul class="mui-table-view" style="margin-top: 20px;">
				<li class=" mui-media" style="margin-left: 10px;">
					<div class="mui-pull-left" style="margin-left: 15px;margin-top: 10px;margin-bottom: 10px;">
						<h1 id="g-name" class="blackText">ss</h1>
						<h1 id="g-phoneNum" class="blackText">ss</h1>
					</div>

				</li>
			</ul>
			<!--<div id="g-div-headImg" class="g_yellowColor">-->
			<!--<div id="" style="padding-top: 30px;">
					<img id="g-headimg" src="../../images/123.png" style="width: 50%;margin-left: 25%;" />
				</div>-->
			<!--<h1 id="g-name" class="headImageBlackText">ss</h1>
				<h1 id="g-phoneNum" class="headImageBlackText">ss</h1>-->
			<!--</div>-->
			<ul class="mui-table-view" style="margin-top: 20px;">
				<li class="mui-table-view-cell mui-media" id="g-myHistory">
					<div class="mui-pull-left" style="margin-left: 10px;margin-top: 10px;margin-bottom: 10px;">
						<h1 class="blackText mui-navigate-right">我的预约</h1>
					</div>
				</li>
				<li class="mui-table-view-cell mui-media" id="g-order">
					<div class="mui-pull-left" style="margin-left: 10px;margin-top: 10px;margin-bottom: 10px;">
						<h1 class="blackText mui-navigate-right">我的订单</h1>
					</div>
				</li>
			</ul>
			<ul class="mui-table-view" style="margin-top: 20px;">
				<li class="mui-table-view-cell mui-media" id="g-approve">
					<div class="mui-pull-left" style="margin-left: 10px;margin-top: 10px;margin-bottom: 10px;">
						<h1 class="blackText mui-navigate-right">实名认证</h1>
					</div>
				</li>
				<!--<li class="mui-table-view-cell mui-media" id="g-patient">
					<div class="mui-pull-left" style="margin-left: 20px;margin-top: 10px;margin-bottom: 10px;">
						<h1 class="blackText">就诊人管理</h1>
					</div>
					<div class="mui-pull-right" style="margin-top: 15px;margin-right: 10px;">
						<img style="width: 30px;" src="../../images/right.png" />
					</div>
				</li>-->
			</ul>
		</div>

		<div style="margin-top: 20px;margin-left: 20px;margin-right: 20px;">
			<button id="g-loginOut" type="button" class="zz-btn-next">退出登录</button>
		</div>

		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/constants.js"></script>
		<script type="text/javascript">
			mui.init({
				swipeBack: true, //启用右滑关闭功能
				beforeback: function() {
					//获得你要前往页面的webview id
					var Scanner = plus.webview.getWebviewById(plus.webview.currentWebview().webId);

					//触发前往页面的自定义事件（例：AddNew）,从而进行数据刷新
					mui.fire(Scanner, 'refreshWeather');

					//返回true，继续页面关闭逻辑
					return true;
				},
			});

			mui.plusReady(function() {
				//				plus.nativeUI.showWaiting();
				localStorage.userInfoIndex = plus.webview.currentWebview().id;
				window.addEventListener('refreshUserInfo', function() {
					console.log('sssssssssss');
					document.getElementById('g-name').innerHTML = localStorage.community_user_name;
					document.getElementById('g-phoneNum').innerHTML = localStorage.community_user_phone;
				});
				plus.navigator.setStatusBarBackground('#FEE26D');
				//				var width = document.documentElement.clientWidth / 2
				//				document.getElementById('g-div-headImg').style.height = (width + 80 + 70) + 'px';
				document.getElementById('g-name').innerHTML = localStorage.community_user_name;
				document.getElementById('g-phoneNum').innerHTML = localStorage.community_user_phone;
				//				var headImg = document.getElementById('g-headimg');
				//				headImg.style.width = width + 'px';
				//				headImg.style.height = width + 'px';
				//				headImg.style.borderRadius = width / 2 + 'px';

				//				document.getElementById('g-headimg').addEventListener('tap', function() {
				//					if(mui.os.plus) {
				//						var a = [{
				//							title: "拍照"
				//						}, {
				//							title: "从手机相册选择"
				//						}];
				//						plus.nativeUI.actionSheet({
				//							//							title: "修改用户头像",
				//							cancel: "取消",
				//							buttons: a
				//						}, function(b) { /*actionSheet 按钮点击事件*/
				//							switch(b.index) {
				//								case 0:
				//									break;
				//								case 1:
				//									getImage(); /*拍照*/
				//									break;
				//								case 2:
				//									galleryImg(); /*打开相册*/
				//									break;
				//								default:
				//									break;
				//							}
				//						})
				//					}
				//				});
				document.getElementById('g-myHistory').addEventListener('tap', function() {
					mui.openWindow({
						url: '../userInfo/historyWithOrder.html',
					});
				});
				document.getElementById('g-approve').addEventListener('tap', function() {
					mui.openWindow({
						url: '../userInfo/certification.html',
					});
				});
				document.getElementById('g-order').addEventListener('tap', function() {
					mui.openWindow({
						url: '../userInfo/historyWithShop.html',
					});
					console.log('我的订单');
				});
				document.getElementById('g-loginOut').addEventListener('tap', function() {
					var btnArray = ['取消', '确定'];
					mui.confirm('是否退出账号', '', btnArray, function(e) {
						if(e.index == 0) {} else if(e.index == 1) {
							//							//							 获取所有Webview窗口
							//							var curr = plus.webview.currentWebview();
							//							var wvs = plus.webview.all();
							//							for(var i = 0, len = wvs.length; i < len; i++) {
							//								//关闭除setting页面外的其他页面
							//								if(wvs[i].getURL() == curr.getURL())
							//									continue;
							//								plus.webview.close(wvs[i]);
							//							}
							//							//打开login页面后再关闭setting页面
							////							localStorage.autoLoginIn = "no";
							//							plus.webview.open('../loginRegister/index.html');
							//							curr.close();
							localStorage.clear();
							var wvs = plus.webview.all(); //所有窗口对象
							var launch = plus.webview.getLaunchWebview(); //首页窗口对象
							var self = plus.webview.currentWebview(); //当前窗口对象
							for(var i = 0, len = wvs.length; i < len; i++) {
								// 首页以及当前窗口对象，不关闭；
								if(wvs[i].id === launch.id || wvs[i].id === self.id) {
									continue;
								} else {
									wvs[i].close('none'); //关闭中间的窗口对象，为防止闪屏，不使用动画效果；
								}
							}
							// 此时，窗口对象只剩下首页以及当前窗口，直接关闭当前窗口即可；
							self.close('slide-out-right');

						}
					});

				});
			});

			//拍照 
			function getImage() {
				var c = plus.camera.getCamera();
				c.captureImage(function(e) {
					plus.io.resolveLocalFileSystemURL(e, function(entry) {
						var s = entry.toLocalURL() + "?version=" + new Date().getTime();
						console.log(s);
						document.getElementById('g-headimg').src = s;
						//						uploadHead(s); /*上传图片*/
					}, function(e) {
						console.log("读取拍照文件错误：" + e.message);
					});
				}, function(s) {
					console.log("error" + s);
				}, {
					filename: "_doc/head.png"
				})
			}
			//本地相册选择 
			function galleryImg() {
				plus.gallery.pick(function(a) {
					plus.io.resolveLocalFileSystemURL(a, function(entry) {
						plus.io.resolveLocalFileSystemURL("_doc/", function(root) {
							root.getFile("head.png", {}, function(file) {
								//文件已存在 
								file.remove(function() {
									console.log("file remove success");
									entry.copyTo(root, 'head.png', function(e) {
											var e = e.fullPath + "?version=" + new Date().getTime();
											console.log(e);
											document.getElementById('g-headimg').src = e;
											//											uploadHead(e); /*上传图片*/
											//变更大图预览的src 
											//目前仅有一张图片，暂时如此处理，后续需要通过标准组件实现 
										},
										function(e) {
											console.log('copy image fail:' + e.message);
										});
								}, function() {
									console.log("delete image fail:" + e.message);
								});
							}, function() {
								//文件不存在 
								entry.copyTo(root, 'head.png', function(e) {
										var path = e.fullPath + "?version=" + new Date().getTime();
										uploadHead(path); /*上传图片*/
									},
									function(e) {
										console.log('copy image fail:' + e.message);
									});
							});
						}, function(e) {
							console.log("get _www folder fail");
						})
					}, function(e) {
						console.log("读取拍照文件错误：" + e.message);
					});
				}, function(a) {}, {
					filter: "image"
				})
			};
			//上传头像图片 
			function uploadHead(imgPath) {
				console.log("imgPath = " + imgPath);
				mainImage.src = imgPath;
				mainImage.style.width = "60px";
				mainImage.style.height = "60px";

				var image = new Image();
				image.src = imgPath;
				document.getElementById('g-headimg').src = imgPath;
				//				image.onload = function() {
				//					var imgData = getBase64Image(image);
				/*在这里调用上传接口*/
				//              mui.ajax("图片上传接口", { 
				//                  data: { 
				//                       
				//                  }, 
				//                  dataType: 'json', 
				//                  type: 'post', 
				//                  timeout: 10000, 
				//                  success: function(data) { 
				//                      console.log('上传成功'); 
				//                  }, 
				//                  error: function(xhr, type, errorThrown) { 
				//                      mui.toast('网络异常，请稍后再试！'); 
				//                  } 
				//              }); 
				//				}
			}
			//将图片压缩转成base64 
			function getBase64Image(img) {
				var canvas = document.createElement("canvas");
				var width = img.width;
				var height = img.height;
				// calculate the width and height, constraining the proportions 
				if(width > height) {
					if(width > 100) {
						height = Math.round(height *= 100 / width);
						width = 100;
					}
				} else {
					if(height > 100) {
						width = Math.round(width *= 100 / height);
						height = 100;
					}
				}
				canvas.width = width; /*设置新的图片的宽度*/
				canvas.height = height; /*设置新的图片的长度*/
				var ctx = canvas.getContext("2d");
				ctx.drawImage(img, 0, 0, width, height); /*绘图*/
				var dataURL = canvas.toDataURL("image/png", 0.8);
				return dataURL.replace("data:image/png;base64,", "");
			}
		</script>
	</body>

</html>