<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/common/common.css" />
		<link rel="stylesheet" href="../../css/registration/myHistory.css" />
		<link rel="stylesheet" href="../../css/userInfo/index.css" />
		<link rel="stylesheet" href="../../css/home/index.css" />
	</head>

	<body>
		<header id="hea" class="mui-bar mui-bar-nav g_yellowColor ">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: black;"></a>
			<h1 class="mui-title" style="color: black;">我的预约订单</h1>
		</header>
		<!--<div class="mui-content" style="">-->
			<div class="mui-row" style="margin-top: 62px;">
				<div class="mui-col-xs-6">
					<button id="g-btn-registration" style=" background: url(../../images/home/registration.png);background-size:100% 100%" type="button" class="mui-btn g-home-btn" onclick="openWindow('../registration/index.html');">
					<div class="center">
						<span id="g-span">挂号单</span>
					</div>
				</button>
				</div>
				<div class="mui-col-xs-6">
					<button id="g-btn-transfuse" style=" background: url(../../images/home/transfuse.png);background-size:100% 100%" type="button" class="mui-btn g-home-btn" onclick="openWindow('../transfuse/selectSeat.html');">
					<div class="center">
						<span id="g-span">输液</span>
					</div>
				</button>
				</div>
			</div>
			<div class="mui-row">
				<div class="mui-col-xs-6">
					<button id="g-btn-takeOut" style=" background: url(../../images/home/takeOut.png);background-size:100% 100%" type="button" class="mui-btn g-home-btn" onclick="openWindow('../takeOut/index.html');">
					<div class="center">
						<span id="g-span">外卖</span>
					</div>
				</button>
				</div>
				<div class="mui-col-xs-6">
					<button id="g-btn-dropIn" style=" background: url(../../images/home/dropIn.png);background-size:100% 100%" type="button" class="mui-btn g-home-btn" onclick="openWindow('../dropIn/index.html');">
					<div class="center">
						<span id="g-span">上门</span>
					</div>
				</button>
				</div>
			</div>

		<!--</div>-->
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/constants.js"></script>
		<script type="text/javascript" src="../../js/jquery.1.11.1.js"></script>
		<script type="text/javascript">
			mui.init({
				swipeBack: true, //启用右滑关闭功能
			});
			mui.plusReady(function() {
				$('.mui-btn').css('width', document.documentElement.clientWidth / 2);
				$('.mui-btn').css('height', (document.documentElement.clientWidth / 2) * HOMEIMGSCALE);
			});
		</script>
	</body>

</html>