<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/common/common.css" />
		<link rel="stylesheet" href="../../css/loginRegister/certification.css" />
		<link rel="stylesheet" href="../../css/userInfo/index.css" />
	</head>

	<body style="background-color: gainsboro;" id="body">

		<header class="mui-bar mui-bar-nav g_yellowColor" id="zz-header-header">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"style="color: black;"></a>
			<h1 class="mui-title"style="color: black;">我的订单</h1>
		</header>
		<div class="mui-content" style="background-color: gainsboro;margin-top: 50px;">
			<div class="mui-row ">
				<button id='g-registration' class="zz-btn-timeClass" >外卖订单</button>
			</div>
			<div class="mui-row ">
				<button id='g-transfuse' class="zz-btn-timeClass">服务订单</button>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/constants.js"></script>
		<script type="text/javascript" src="../../js/jquery.1.11.1.js"></script>
		<script type="text/javascript">
			mui.init({
				swipeBack: true, //启用右滑关闭功能
			});
			mui.plusReady(function() { 
				document.getElementById('g-registration').addEventListener('tap',function () {
					mui.openWindow({
						url: '../userInfo/takeOutHistoryList.html',
					});
				});
				document.getElementById('g-transfuse').addEventListener('tap',function () {
					mui.openWindow({
						url: '../userInfo/myHistory.html',
					});
				});
			});


		
		</script>
	</body>

</html>