body{
	background: white;
}
.mui-content{
	background: white;
}
.marginLeftRight{
	margin-left:15px ;
	margin-right:15px ;
}
.m_yellow{
	background: rgb(255,228,99);
}
.gray-text{
	color: rgb(129,129,129);
}
.mui-table-view:after{
	left:25px;
	right:25px;
}
.mui-table-view:before{
	left:25px;
	right:25px;
}
.mui-table-view-cell:after{
	left:25px;
	right:25px;
}
.mui-table-view-cell.mui-active{
	background-color: white;
}
