<include file="Index/header" />
<div id="wrapper">
	<include file="Index/nav" />
	<div id="page-wrapper">
		<div class="container">
			<h3>号池信息录入</h3>
			<div class="row">
				<form id="xx-form-add" class="form-horizontal">
					<div class="form-group">
						<label for="xx-input-hospital-doctor-name" class="control-label col-sm-3">在职医生姓名：</label>
						<div class="col-sm-5">
							<input id="xx-input-hospital-doctor-name" class="form-control" type="text" name="hospital_doctor_name" placeholder="请输入医生姓名" />
						</div>
						<div class="col-sm-4">
							<p class="xx-p-validate-result" attr-validate="hospital_doctor_name"></p>
						</div>
					</div>
					<div class="form-group">
						<label for="xx-input-hospital-doctor-number" class="control-label col-sm-3">可看病人总数：</label>
						<div class="col-sm-5">
							<input id="xx-input-hospital-doctor-number" class="form-control" type="text" name="hospital_doctor_see_total" placeholder="请输入可看病人总数" />
						</div>
						<div class="col-sm-4">
							<p class="xx-p-validate-result" attr-validate="hospital_doctor_see_total"></p>
						</div>
					</div>
					<div class="form-group">
						<label for="xx-input-hospital-doctor-time" class="control-label col-sm-3">请选择日期：</label>
						<div class="col-sm-5">
							<!--时间开始-->
							<div id="main">
								<div class="demo">
									<input type="text" class="input" id="pickdate" name="hospital_doctor_choose_time" placeholder="请选择时间"/><br/>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<p class="xx-p-validate-result" attr-validate="hospital_doctor_choose_time"></p>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-2 col-lg-offset-4">
							<button class="btn btn-primary" id="xx-btn-add-submit">录入</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script>
	var SCOPE = {
		'add_url':'__ACTION__',
		'success_jump_url':'__URL__/infusion',
		'ajax_upload_swf':'__JS__/vendor/uploadify/uploadify.swf',
		'ajax_upload_url':'__URL__/ajaxUploadImage',
	};
</script>
<include file="Index/footer" />