<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/common/common.css" />
		<link rel="stylesheet" href="../../css/loginRegister/certification.css" />
		<link rel="stylesheet" href="../../css/mui.picker.min.css" />
		<link rel="stylesheet" href="../../css/mui.dtpicker.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav m_orange" id="zz-header-header">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">实名认证</h1>
		</header>
		<div class="mui-content">
			<ul class="mui-table-view" id="list_ul">
				<li class="mui-table-view-cell mui-media" id="li-name">
					<div class="marginLeftRight ">
						<div class="mui-media-object mui-pull-left">
							<img class="cell-image" src="../../images/loginRegister/Person.png">
						</div>
						<div class="mui-pull-left" style="margin-left: 5px;margin-top: 5px;">
							<h1 class="black-text listCellText ">姓名</h1>
						</div>
						<div class="mui-pull-right" style="margin-top: 10px;">
							<h1 style="text-align: right; color: gray; font-size: 30px; background: none;" class="black-text" id="name">设置</h1>
						</div>
					</div>
					<div id="div-name" class=" " style="display: none; margin-left: 0px;margin-top: -55px;padding-right: -10px;margin-bottom: -20px;">
						<input id="input-name" type="text" class="mui-input-clear " style="padding-right: 20px; text-align: left; background: none; border: 0px; font-size: 200%;height: 200%;" placeholder="">
					</div>
				</li>

				<li class="mui-table-view-cell mui-media" id="li-sex">
					<div class="marginLeftRight ">
						<div class="mui-media-object mui-pull-left">
							<img class="cell-image" style="margin-top: 5px;" src="../../images/loginRegister/Female.png">
						</div>
						<div class="mui-pull-left" style="margin-left: 5px;margin-top: 5px;">
							<h1 class="black-text listCellText ">性别</h1>
						</div>
						<div class="mui-pull-right" style="margin-top: 10px;">
							<h1 style="text-align: right; color: gray; font-size: 30px; background: none;" class="black-text" id="name">设置</h1>
						</div>
					</div>
					<div id="div-sex" class=" " style="display: none; margin-left: 15px;margin-top: 60px; padding-right: -10px;">
						<h1 id="input-sex" class="black-text" style="padding-right: 20px; text-align: left; background: none; border: 0px; font-size: 200%;height: 200%;"></h1>
					</div>
				</li>

				<li class="mui-table-view-cell mui-media" id="li-age">
					<div class="marginLeftRight ">
						<div class="mui-media-object mui-pull-left">
							<img class="cell-image" style="width: 45px;margin-top: 10px;" src="../../images/loginRegister/Address_Book2.png">
						</div>
						<div class="mui-pull-left" style="margin-left: 5px;margin-top: 5px;">
							<h1 class="black-text listCellText ">出生年月</h1>
						</div>
						<div class="mui-pull-right" style="margin-top: 10px;">
							<h1 style="text-align: right; color: gray; font-size: 30px; background: none;" class="black-text" id="name">设置</h1>
						</div>
					</div>
					<div id="div-age" class=" " style="display: none; margin-left: 15px;margin-top: 60px; padding-right: -10px;">
						<h1 id="input-age" class="black-text" style="padding-right: 20px; text-align: left; background: none; border: 0px; font-size: 200%;height: 200%;"></h1>
					</div>
				</li>

				<li class="mui-table-view-cell mui-media" id="li-phoneNum">
					<div class="marginLeftRight ">
						<div class="mui-media-object mui-pull-left">
							<img class="cell-image" src="../../images/loginRegister/iPhone.png">
						</div>
						<div class="mui-pull-left" style="margin-left: 5px;margin-top: 5px;">
							<h1 class="black-text listCellText ">手机号码</h1>
						</div>
						<div class="mui-pull-right" style="margin-top: 10px;">
							<h1 style="text-align: right; color: gray; font-size: 30px; background: none;" class="black-text" id="name">设置</h1>
						</div>
					</div>
					<div id="div-phoneNum" class=" " style="margin-left: 15px;margin-top: 60px; padding-right: -10px;">
						<h1 id="input-phoneNum" class="black-text" style="padding-right: 20px; text-align: left; background: none; border: 0px; font-size: 200%;height: 200%;"></h1>
					</div>
				</li>

				<li class="mui-table-view-cell mui-media" id="li-home">
					<div class="marginLeftRight ">
						<div class="mui-media-object mui-pull-left">
							<img class="cell-image" src="../../images/loginRegister/Home.png">
						</div>
						<div class="mui-pull-left" style="margin-left: 5px;margin-top: 5px;">
							<h1 class="black-text listCellText ">家庭住址</h1>
						</div>
						<div class="mui-pull-right" style="margin-top: 10px;">
							<h1 style="text-align: right; color: gray; font-size: 30px; background: none;" class="black-text" id="name">设置</h1>
						</div>
					</div>
					<div id="div-home" class=" " style="display: none; margin-left: 0px;margin-top: -55px;padding-right: -10px;margin-bottom: -20px;">
						<textarea id="input-home" type="" class="mui-input-clear " style="line-height: 35px;padding-right: 20px; text-align: left; background: none; border: 0px; font-size: 200%;height: 200%;" placeholder=""></textarea>
					</div>
				</li>

				<li class="mui-table-view-cell mui-media" id="li-hospital">
					<div class="marginLeftRight ">
						<div class="mui-media-object mui-pull-left">
							<img class="cell-image" src="../../images/loginRegister/City1.png">
						</div>
						<div class="mui-pull-left" style="margin-left: 5px;margin-top: 5px;">
							<h1 class="black-text listCellText ">社区医院</h1>
						</div>
						<div class="mui-pull-right" style="margin-top: 10px;">
							<h1 style="text-align: right; color: gray; font-size: 30px; background: none;" class="black-text" id="name">设置</h1>
						</div>
					</div>
					<div id="div-hospital" class=" " style="display: none; margin-left: 15px;margin-top: 60px; padding-right: -10px;">
						<h1 id="input-hospital" class="black-text" style="padding-right: 20px; text-align: left; background: none; border: 0px; font-size: 200%;height: 200%;"></h1>
					</div>
				</li>
			</ul>
			<div class="marginLeftRight">
				<button type="button" class="btn-certification" onclick="openWindow();">注册</button>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/constants.js"></script>
		<script type="text/javascript" src="../../js/jquery.1.11.1.js"></script>
		<script src="../../js/mui.picker.min.js"></script>
		<script type="text/javascript" src="../../js/mui.dtpicker.js"></script>
		<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=VxZwk9aaLVGLGGGogiHIPHzOFEdHNICD"></script>
		<script type="text/javascript">
			mui.init({
				swipeBack: true, //启用右滑关闭功能
			});

			function openWindow() {
				localStorage.userName = document.getElementById('input-name').value;
				//				localStorage.userAge = document.getElementById('input-age').value;
				localStorage.userHome = document.getElementById('input-home').value;
				//				localStorage.userHospital = document.getElementById('input-hospital').value;

				if(!isNullStr(localStorage.userName) && !isNullStr(localStorage.userSex) &&
					!isNullStr(localStorage.userAge) && !isNullStr(localStorage.userPhoneNum) &&
					!isNullStr(localStorage.userHome) && !isNullStr(localStorage.userHospital) &&
					isPhoneNum(localStorage.userPhoneNum)) {

					var postData = {};
					postData['community_user_name'] = localStorage.userName;
					postData['community_user_sex'] = localStorage.userSex;
					postData['community_user_birthday'] = localStorage.userAge;
					postData['community_user_phone'] = localStorage.userPhoneNum;
					postData['community_user_address'] = localStorage.userHome;
					postData['community_user_lat'] = localStorage.lat;
					postData['community_user_lng'] = localStorage.lng;
					postData['community_hospitals_id'] = localStorage.userHospital;
					postData['community_user_password'] = localStorage.userPsw;

					mui.ajax({
						type: 'POST',
						data: postData,
						url: SERVERURL + "ACommunityUserInfo/postUserInfo",
						dataType: "json",
						//成功获取数据赋值
						success: function(data) {
							if(data.status == 1) {

								// 获取所有Webview窗口
								var curr = plus.webview.currentWebview();
								var wvs = plus.webview.all();
								for(var i = 0, len = wvs.length; i < len; i++) {
									//关闭除setting页面外的其他页面
									if(wvs[i].getURL() == curr.getURL())
										continue;
									plus.webview.close(wvs[i]);
								}
								//打开login页面后再关闭setting页面
								mui.toast('注册成功');
								plus.webview.open('../loginRegister/index.html');
								curr.close();
							};
							if(data.status == 0) {
								mui.alert(data.msg);
							};
						},
						error: function(xhr, type, errorThrown) {
							plus.nativeUI.closeWaiting();
							mui.alert('注册失败');
						}
					});

				} else {
					mui.alert('请补全信息');
				}

			};
			mui.plusReady(function() {
				plus.geolocation.getCurrentPosition(function(p) {
					console.log(JSON.stringify(p));
				}, function(e) {
					alert("Geolocation error: " + e.message);
				});

				plus.navigator.setStatusBarBackground('#EEA02F');
				document.getElementById("li-sex").addEventListener('tap', function() {
					document.activeElement.blur();
					var btnArray = ['男', '女', '取消'];
					mui.confirm('请选择您的性别', '', btnArray, function(e) {
						if(e.index == 0) {
							localStorage.userSex = "男";
							document.getElementById('div-sex').style.display = '';
							document.getElementById('input-sex').innerHTML = localStorage.userSex;
						} else if(e.index == 1) {
							localStorage.userSex = "女";
							document.getElementById('div-sex').style.display = '';
							document.getElementById('input-sex').innerHTML = localStorage.userSex;
						} else {

						}
					});
				});
				document.getElementById("input-phoneNum").innerHTML = localStorage.userPhoneNum;

				document.getElementById("li-name").addEventListener('tap', function() {
					document.getElementById('div-name').style.display = '';
				    var inputName = document.getElementById('input-name');
				    initNativeObjects();
					showSoftInput(inputName);
				});
				document.getElementById("li-age").addEventListener('tap', function() {
					document.activeElement.blur();
					document.getElementById('div-age').style.display = '';
					var optionsJson = {};
					optionsJson['type'] = 'date';
					optionsJson['beginDate'] = new Date(1899, 12, 01); //设置开始日期
					optionsJson['endDate'] = new Date(); //设置结束日期
					console.log(JSON.stringify(optionsJson));
					/*
					 * 首次显示时实例化组件
					 * 示例为了简洁，将 options 放在了按钮的 dom 上
					 * 也可以直接通过代码声明 optinos 用于实例化 DtPicker
					 */
					var picker = new mui.DtPicker(optionsJson);
					picker.show(function(rs) {
						/*
						 * rs.value 拼合后的 value
						 * rs.text 拼合后的 text
						 * rs.y 年，可以通过 rs.y.vaue 和 rs.y.text 获取值和文本
						 * rs.m 月，用法同年
						 * rs.d 日，用法同年
						 * rs.h 时，用法同年
						 * rs.i 分（minutes 的第二个字母），用法同年
						 */
						localStorage.userAge = rs.text;
						document.getElementById('input-age').innerHTML = rs.text;
						console.log(rs.text);
						/* 
						 * 返回 false 可以阻止选择框的关闭
						 * return false;
						 */
						/*
						 * 释放组件资源，释放后将将不能再操作组件
						 * 通常情况下，不需要示放组件，new DtPicker(options) 后，可以一直使用。
						 * 当前示例，因为内容较多，如不进行资原释放，在某些设备上会较慢。
						 * 所以每次用完便立即调用 dispose 进行释放，下次用时再创建新实例。
						 */
						picker.dispose();
					});

				});
				document.getElementById("li-phoneNum").addEventListener('tap', function() {
					document.getElementById('div-phoneNum').style.display = '';
					//					document.getElementById('input-phoneNum').focus();
				});
				document.getElementById("li-home").addEventListener('tap', function() {
					document.getElementById('div-home').style.display = '';
					var inputHome = document.getElementById('input-home');
					initNativeObjects();
					showSoftInput(inputHome);
				});
				document.getElementById("li-hospital").addEventListener('tap', function() {
					localStorage.userHome = document.getElementById('input-home').value;
					console.log(localStorage.userHome);
					console.log(isNullStr(localStorage.userHome));

					if(isNullStr(localStorage.userHome)) {
						mui.alert('请先选择地址');
					} else {

						plus.nativeUI.showWaiting('正在查询附近医院');
						var myGeo = new BMap.Geocoder();
						// 将地址解析结果显示在地图上,并调整地图视野
						myGeo.getPoint(localStorage.userHome, function(point) {
							if(point) {
								document.getElementById('div-hospital').style.display = '';
								plus.nativeUI.closeWaiting();
								if(localStorage.lng == point['lng'] &&
									localStorage.lat == point['lat']) {
										
									var userPicker = new mui.PopPicker();
									var setData = JSON.parse(localStorage.hospitalPickerData);
									userPicker.setData(setData);
									userPicker.show(function(items) {
										var str = items[0]['text'];
										console.log(JSON.stringify(items[0]['value']));
										localStorage.userHospital = items[0]['value'];

										document.getElementById('input-hospital').innerHTML = str;
									});
									return;
								}
								localStorage.lng = point['lng'];
								localStorage.lat = point['lat'];
								console.log(localStorage.lng);
								console.log(localStorage.lat);

								document.activeElement.blur();
								var postData = {};
								postData['lat'] = point['lat'];
								postData['lng'] = point['lng'];
								mui.ajax({
									type: 'POST',
									data: postData,
									url: SERVERURL + 'ACommunityUserInfo/selectHospital',
									dataType: "json",

									//成功获取数据赋值
									success: function(data) {
										console.log(JSON.stringify(data));
										plus.nativeUI.closeWaiting();
										plus.nativeUI.closeWaiting();
										if(data.status == 1) {
											var userPicker = new mui.PopPicker();
											var setData = new Array();
											console.log(JSON.stringify(data.data));
											console.log(data.data.length);
											for(var i = 0; i < data.data.length; i++) {
												var popData = {};
												popData['value'] = data.data[i]['community_hospitals_id'];
												popData['text'] = data.data[i]['community_hospitals_name'];
												setData.push(popData);
											}
											userPicker.setData(setData);
											console.log('ssssssxxx');
											localStorage.hospitalPickerData = JSON.stringify(setData); 
											userPicker.show(function(items) {
												var str = items[0]['text'];
												console.log(JSON.stringify(items[0]['value']));
												localStorage.userHospital = items[0]['value'];

												document.getElementById('input-hospital').innerHTML = str;
											});

										} else {
											mui.alert('您选择的地址附近没有社区医院!')
										}

									},
									error: function(xhr, type, errorThrown) {
										console.log(type);
										plus.nativeUI.closeWaiting();
										mui.alert('网络连接失败,无法查询附近医院');
									}
								});
							} else {
								plus.nativeUI.closeWaiting();
								mui.alert('网络连接失败,无法查询附近医院');
							}
						}, localStorage.GetCity);
					}
					document.getElementById('div-hospital').style.display = '';
				});
			});
		</script>
		<script type="text/javascript">
			// 百度地图API功能
			function G(id) {
				return document.getElementById(id);
			}
			var ac = new BMap.Autocomplete( //建立一个自动完成的对象
				{
					"input": "input-home",
					"location": localStorage.GetCity,
				});

			ac.addEventListener("onhighlight", function(e) { //鼠标放在下拉列表上的事件
				var str = "";
				var _value = e.fromitem.value;
				var value = "";
				if(e.fromitem.index > -1) {
					value = _value.province + _value.city + _value.district + _value.street + _value.business;
				}
				str = "FromItem<br />index = " + e.fromitem.index + "<br />value = " + value;

				value = "";
				if(e.toitem.index > -1) {
					_value = e.toitem.value;
					value = _value.province + _value.city + _value.district + _value.street + _value.business;
				}
				str += "<br />ToItem<br />index = " + e.toitem.index + "<br />value = " + value;
			});

			var myValue;
			ac.addEventListener("onconfirm", function(e) { //鼠标点击下拉列表后的事件
				var _value = e.item.value;
				myValue = _value.province + _value.city + _value.district + _value.street + _value.business;
			});
			
			
			var nativeWebview, imm, InputMethodManager;
			var initNativeObjects = function() {
				if(mui.os.android) {
					var main = plus.android.runtimeMainActivity();
					var Context = plus.android.importClass("android.content.Context");
					InputMethodManager = plus.android.importClass("android.view.inputmethod.InputMethodManager");
					imm = main.getSystemService(Context.INPUT_METHOD_SERVICE);
				} else {
					nativeWebview = plus.webview.currentWebview().nativeInstanceObject();
				}
			};
			var showSoftInput = function(inputOn) {
				if(mui.os.android) {
					imm.toggleSoftInput(0, InputMethodManager.SHOW_FORCED);
				} else {
					nativeWebview.plusCallMethod({
						"setKeyboardDisplayRequiresUserAction": false
					});
				}
				setTimeout(function() {
					//此处可写具体逻辑设置获取焦点的input
					var gInput = inputOn;
					//					var inputElem = document.querySelector('g-id-input');
					gInput.focus();
				}, 200);
			};
			
			
		</script>

	</body>

</html>