<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/common/common.css" />
		<link rel="stylesheet" href="../../css/loginRegister/certification.css" />
		<link rel="stylesheet" href="../../css/mui.picker.min.css" />
		<link rel="stylesheet" href="../../css/mui.dtpicker.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav m_orange" id="zz-header-header">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">实名认证</h1>
		</header>
		<div class="mui-content">
			<ul class="mui-table-view" id="list_ul">
				<li class="mui-table-view-cell mui-media" id="li-name">
					<div class="marginLeftRight ">
						<div class="mui-media-object mui-pull-left">
							<img class="cell-image" src="../../images/loginRegister/Person.png">
						</div>
						<div class="mui-pull-left" style="margin-left: 5px;margin-top: 5px;">
							<h1 class="black-text listCellText ">姓名</h1>
						</div>
						<div class="mui-pull-right" style="margin-top: 10px;">
							<h1 style="text-align: right; color: gray; font-size: 30px; background: none;" class="black-text" id="name">设置</h1>
						</div>
					</div>
					<div id="div-name" class=" " style="display: none; margin-left: 0px;margin-top: -55px;padding-right: -10px;margin-bottom: -20px;">
						<input id="input-name" type="text" class="mui-input-clear " style="padding-right: 20px; text-align: left; background: none; border: 0px; font-size: 200%;height: 200%;" placeholder="">
					</div>
				</li>

				<li class="mui-table-view-cell mui-media" id="li-sex">
					<div class="marginLeftRight ">
						<div class="mui-media-object mui-pull-left">
							<img class="cell-image" style="margin-top: 5px;" src="../../images/loginRegister/Female.png">
						</div>
						<div class="mui-pull-left" style="margin-left: 5px;margin-top: 5px;">
							<h1 class="black-text listCellText ">性别</h1>
						</div>
						<div class="mui-pull-right" style="margin-top: 10px;">
							<h1 style="text-align: right; color: gray; font-size: 30px; background: none;" class="black-text" id="name">设置</h1>
						</div>
					</div>
					<div id="div-sex" class=" " style="display: none; margin-left: 15px;margin-top: 60px; padding-right: -10px;">
						<h1 id="input-sex" class="black-text" style="padding-right: 20px; text-align: left; background: none; border: 0px; font-size: 200%;height: 200%;"></h1>
					</div>
				</li>

				<li class="mui-table-view-cell mui-media" id="li-age">
					<div class="marginLeftRight ">
						<div class="mui-media-object mui-pull-left">
							<img class="cell-image" style="width: 45px;margin-top: 10px;" src="../../images/loginRegister/Address_Book2.png">
						</div>
						<div class="mui-pull-left" style="margin-left: 5px;margin-top: 5px;">
							<h1 class="black-text listCellText ">年龄</h1>
						</div>
						<div class="mui-pull-right" style="margin-top: 10px;">
							<h1 style="text-align: right; color: gray; font-size: 30px; background: none;" class="black-text" id="name">设置</h1>
						</div>
					</div>
					<div id="div-age" class=" " style="display: none; margin-left: 15px;margin-top: 60px; padding-right: -10px;">
						<h1 id="input-age" class="black-text" style="padding-right: 20px; text-align: left; background: none; border: 0px; font-size: 200%;height: 200%;"></h1>
					</div>
				</li>

				<li class="mui-table-view-cell mui-media" id="li-phoneNum">
					<div class="marginLeftRight ">
						<div class="mui-media-object mui-pull-left">
							<img class="cell-image" src="../../images/loginRegister/iPhone.png">
						</div>
						<div class="mui-pull-left" style="margin-left: 5px;margin-top: 5px;">
							<h1 class="black-text listCellText ">手机号码</h1>
						</div>
						<div class="mui-pull-right" style="margin-top: 10px;">
							<h1 style="text-align: right; color: gray; font-size: 30px; background: none;" class="black-text" id="name">设置</h1>
						</div>
					</div>
					<div id="div-phoneNum" class=" " style="margin-left: 15px;margin-top: 60px; padding-right: -10px;">
						<h1 id="input-phoneNum" class="black-text" style="padding-right: 20px; text-align: left; background: none; border: 0px; font-size: 200%;height: 200%;"></h1>
					</div>
				</li>

				<li class="mui-table-view-cell mui-media" id="li-home">
					<div class="marginLeftRight ">
						<div class="mui-media-object mui-pull-left">
							<img class="cell-image" src="../../images/loginRegister/Home.png">
						</div>
						<div class="mui-pull-left" style="margin-left: 5px;margin-top: 5px;">
							<h1 class="black-text listCellText ">家庭住址</h1>
						</div>
						<div class="mui-pull-right" style="margin-top: 10px;">
							<h1 style="text-align: right; color: gray; font-size: 30px; background: none;" class="black-text" id="name">设置</h1>
						</div>
					</div>
					<div id="div-home" class=" " style="display: none; margin-left: 0px;margin-top: -55px;padding-right: -10px;margin-bottom: -20px;">
						<textarea id="input-home" type="" class="mui-input-clear " style="line-height: 35px;padding-right: 20px; text-align: left; background: none; border: 0px; font-size: 200%;height: 200%;" placeholder=""></textarea>
					</div>
				</li>

				<li class="mui-table-view-cell mui-media" id="li-hospital">
					<div class="marginLeftRight ">
						<div class="mui-media-object mui-pull-left">
							<img class="cell-image" src="../../images/loginRegister/City1.png">
						</div>
						<div class="mui-pull-left" style="margin-left: 5px;margin-top: 5px;">
							<h1 class="black-text listCellText ">社区医院</h1>
						</div>
						<div class="mui-pull-right" style="margin-top: 10px;">
							<h1 style="text-align: right; color: gray; font-size: 30px; background: none;" class="black-text" id="name">设置</h1>
						</div>
					</div>
					<div id="div-hospital" class=" " style="display: none; margin-left: 0px;margin-top: -55px;padding-right: -10px;margin-bottom: -20px;">
						<textarea id="input-hospital" type="text" class="mui-input-clear " style="line-height: 35px; padding-right: 20px; text-align: left; background: none; border: 0px; font-size: 200%;height: 200%;" placeholder=""></textarea>
					</div>
				</li>
			</ul>
			<div class="marginLeftRight">
				<button type="button" class="btn-certification" onclick="openWindow();">注册</button>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/constants.js"></script>
		<script type="text/javascript" src="../../js/jquery.1.11.1.js"></script>
		<script src="../../js/mui.picker.min.js"></script>
		<script type="text/javascript" src="../../js/mui.dtpicker.js"></script>
		<script type="text/javascript">
			mui.init({
				swipeBack: true, //启用右滑关闭功能
			});

			function openWindow() {
				localStorage.userName = document.getElementById('input-name').value;
				//				localStorage.userAge = document.getElementById('input-age').value;
				localStorage.userHome = document.getElementById('input-home').value;
				localStorage.userHospital = document.getElementById('input-hospital').value;

				if(!isNullStr(localStorage.userName) && !isNullStr(localStorage.userSex) &&
					!isNullStr(localStorage.userAge) && !isNullStr(localStorage.userPhoneNum) &&
					!isNullStr(localStorage.userHome) && !isNullStr(localStorage.userHospital) &&
					isPhoneNum(localStorage.userPhoneNum)) {

					var postData = {};
					postData['community_user_name'] = localStorage.userName;
					postData['community_user_sex'] = localStorage.userSex;
					postData['age'] = localStorage.userAge;
					postData['community_user_phone'] = localStorage.userPhoneNum;
					postData['community_user_address'] = localStorage.userHome;
					postData['community_hospitals_id'] = localStorage.userHospital;
					postData['community_user_password'] = localStorage.userPsw;

					mui.ajax({
						type: 'POST',
						data: postData,
						url: SERVERURL + "ACommunityUserInfo/postUserInfo",
						dataType: "json",
						//成功获取数据赋值
						success: function(data) {
							if(data.status == 1) {

								// 获取所有Webview窗口
								var curr = plus.webview.currentWebview();
								var wvs = plus.webview.all();
								for(var i = 0, len = wvs.length; i < len; i++) {
									//关闭除setting页面外的其他页面
									if(wvs[i].getURL() == curr.getURL())
										continue;
									plus.webview.close(wvs[i]);
								}
								//打开login页面后再关闭setting页面
								mui.toast('注册成功');
								plus.webview.open('../loginRegister/index.html');
								curr.close();
							};
							if(data.status == 0) {
								mui.alert(data.msg);
							};

						},
						error: function(xhr, type, errorThrown) {
							console.log(type);
							mui.alert('注册失败');
						}
					});

				} else {
					mui.alert('请补全信息');
				}

			};

			mui.plusReady(function() {
				plus.navigator.setStatusBarBackground('#EEA02F');
				document.getElementById("li-sex").addEventListener('tap', function() {
					document.activeElement.blur(); 
					var btnArray = ['男', '女', '取消'];
					mui.confirm('请选择您的性别', '', btnArray, function(e) {
						if(e.index == 0) {
							localStorage.userSex = "男";
							document.getElementById('div-sex').style.display = '';
							document.getElementById('input-sex').innerHTML = localStorage.userSex;
						} else if(e.index == 1) {
							localStorage.userSex = "女";
							document.getElementById('div-sex').style.display = '';
							document.getElementById('input-sex').innerHTML = localStorage.userSex;
						} else {

						}
					});
				});
				document.getElementById("input-phoneNum").innerHTML = localStorage.userPhoneNum;

				document.getElementById("li-name").addEventListener('tap', function() {
					document.getElementById('div-name').style.display = '';
					document.getElementById('input-name').focus();
				});
				document.getElementById("li-age").addEventListener('tap', function() {
					document.activeElement.blur(); 
					document.getElementById('div-age').style.display = '';
					var optionsJson = {};
					optionsJson['type'] = 'date';
					optionsJson['beginDate'] = new Date(1989, 12, 01); //设置开始日期
					optionsJson['endDate'] = new Date(); //设置结束日期
					console.log(JSON.stringify(optionsJson));
					/*
					 * 首次显示时实例化组件
					 * 示例为了简洁，将 options 放在了按钮的 dom 上
					 * 也可以直接通过代码声明 optinos 用于实例化 DtPicker
					 */
					var picker = new mui.DtPicker(optionsJson);
					picker.show(function(rs) {
						/*
						 * rs.value 拼合后的 value
						 * rs.text 拼合后的 text
						 * rs.y 年，可以通过 rs.y.vaue 和 rs.y.text 获取值和文本
						 * rs.m 月，用法同年
						 * rs.d 日，用法同年
						 * rs.h 时，用法同年
						 * rs.i 分（minutes 的第二个字母），用法同年
						 */
						localStorage.userAge = rs.text;
						document.getElementById('input-age').innerHTML = rs.text;
						console.log(rs.text);
						/* 
						 * 返回 false 可以阻止选择框的关闭
						 * return false;
						 */
						/*
						 * 释放组件资源，释放后将将不能再操作组件
						 * 通常情况下，不需要示放组件，new DtPicker(options) 后，可以一直使用。
						 * 当前示例，因为内容较多，如不进行资原释放，在某些设备上会较慢。
						 * 所以每次用完便立即调用 dispose 进行释放，下次用时再创建新实例。
						 */
						picker.dispose();
					});

				});
				document.getElementById("li-phoneNum").addEventListener('tap', function() {
					document.getElementById('div-phoneNum').style.display = '';
//					document.getElementById('input-phoneNum').focus();
				});
				document.getElementById("li-home").addEventListener('tap', function() {
					document.getElementById('div-home').style.display = '';
//					document.getElementById('input-home').focus();
				});
				document.getElementById("li-hospital").addEventListener('tap', function() {
					document.getElementById('div-hospital').style.display = '';
//					document.getElementById('input-hospital').focus();
				});

			});
		</script>
	</body>

</html>