<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/common/common.css" />
		<link rel="stylesheet" href="../../css/loginRegister/index.css" />

	</head>

	<body>
		<header class="mui-bar mui-bar-nav m_orange">
			<h1 class="mui-title">登录</h1>
		</header>
		<div class="mui-content zz-ul-accountPsw">
			<ul class="mui-table-view " id="list_ul">
				<li class="mui-table-view-cell mui-media" id="list">
					<div class="marginLeftRight" style="margin-top: 5%;">

						<div class="mui-input-row">
							<img src="../../images/loginRegister/iPhone.png" class="zz-img-icon">
							<input type="tel" id="zz-input-phone" class="mui-input-clear" style="float: left; width: 80%;  font-size: 150%; border: none;" placeholder="请输入注册手机" />
						</div>
					</div>
				</li>
				<li class="mui-table-view-cell mui-media" id="list">
					<div class="marginLeftRight" style="margin-top: 5%;">
						<div class="mui-input-row">
							<img src="../../images/loginRegister/Locked.png" class="zz-img-icon">
							<input type="password" id="zz-input-psw" class="mui-input-clear" style="float: left; width: 80%; font-size: 150%; border: none;" placeholder="请输入密码" />
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="zz-div-next">
			<a href="register.html" class="zz-a-register" style="text-decoration: underline;">没有账号？免费注册</a>
			<button type="button" class="zz-btn-next" onclick="openWindow('../home/index.html');">下一步</button>
		</div>
		<script type="text/javascript" src="../../js/jquery.1.11.1.js"></script>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/constants.js"></script>
		<script type="text/javascript">
			mui.init()
			mui.plusReady(function() {
				plus.navigator.setStatusBarBackground('#EEA02F');
			});

			function openWindow($url) {
				var phone = document.getElementById('zz-input-phone').value;
				var psw = document.getElementById('zz-input-psw').value;
				if(!isPhoneNum(phone)) {
					mui.alert("手机号码有误，请重填");
				} else if(isNullStr(psw)) {
					mui.alert("请核对您的密码");
				} else {
					findUserInfo();
				}

			}

			//查询用户信息
			function findUserInfo() {
				plus.nativeUI.showWaiting();
				var phone = document.getElementById('zz-input-phone').value;
				var psw = document.getElementById('zz-input-psw').value;
				var postData = {};
				postData['community_user_phone'] = phone;
				postData['community_user_password'] = psw;
				mui.ajax({
					type: 'POST',
					url: SERVERURL + "ACommunityUserInfo/logIn",
					dataType: "json",
					data: postData,
					success: function(data) {

						if(data.status == 0) {
							plus.nativeUI.closeWaiting();
							mui.alert(data.msg);
							return;
						} else {
							plus.nativeUI.closeWaiting();
							var community_user_id; //社区用户内码
							var community_user_phone; //用户手机号
							var community_user_password; //登录密码
							var community_user_name; //用户姓名
							var community_user_sex; //用户性别
							var community_user_picture; //用户头像url
							var community_user_address; //用户住址
							var community_id; //社区内码
							var community_hospitals_id; //社区医院内码
							var state; //状态

							localStorage.setItem(community_user_id, data.data.community_user_id);
							console.log(localStorage.getItem(community_user_id));
							localStorage.setItem(community_user_phone, data.data.community_user_phone);
							console.log(localStorage.getItem(community_user_phone));
							localStorage.setItem(community_user_password, data.data.community_user_password);
							console.log(localStorage.getItem(community_user_password));
							localStorage.setItem(community_user_name, data.data.community_user_name);
							console.log(localStorage.getItem(community_user_name));
							localStorage.setItem(community_user_sex, data.data.community_user_sex);
							console.log(localStorage.getItem(community_user_sex));
							localStorage.setItem(community_user_picture, data.data.community_user_picture);
							console.log(localStorage.getItem(community_user_picture));
							localStorage.setItem(community_user_address, data.data.community_user_address);
							console.log(localStorage.getItem(community_user_address));
							localStorage.setItem(community_id, data.data.community_id);
							console.log(localStorage.getItem(community_id));
							localStorage.setItem(community_hospitals_id, data.data.community_hospitals_id);
							console.log(localStorage.getItem(community_hospitals_id));
							var psw = document.getElementById('zz-input-psw').value;

							// 获取所有Webview窗口
								var curr = plus.webview.currentWebview();
								var wvs = plus.webview.all();
								for(var i = 0, len = wvs.length; i < len; i++) {
									//关闭除setting页面外的其他页面
									if(wvs[i].getURL() == curr.getURL())
										continue;
									plus.webview.close(wvs[i]);
								}
								//打开login页面后再关闭setting页面
								mui.toast('登录成功');
								plus.webview.open('../home/index.html');
								curr.close();
						}

					},

				});

			}
		</script>
	</body>

</html>