body{
	background: #E7E7E7;
}
.marginLeftRight{
	margin-left:25px ;
	margin-right:25px ;
}
.mui-content{
	background: #e7e7e7;
}
.black-text{
	color: black;
}
.mui-table-view:after{
	height: 0;
}
.mui-table-view:before{
	height: 0px;
}

.mui-table-view-cell:after{
	left:25px;
	right:25px;
	height: 1px;
}
.mui-table-view-cell.mui-active{
	background-color: white;
}
.zz-img-icon{
	float: left; 
	width: 15%;
}
/*.zz-input-input{
	float: left; 
	width: 80%;
	height: 70px;
	font-size: 50px;
}*/
.zz-ul-accountPsw{
	margin-top: 10%;
	text-decoration: underline;
}
.zz-a-register{
	margin-top: 55%;
	margin-left: 15%;
	font-size: 20px;
	color: #474747;
	font-weight: bold;
	font-style: italic;
}
.zz-div-next{
	margin-top: 10%;
	margin-left: 10%;
	margin-bottom: 10%;
}
.zz-btn-next{
	margin-top: 5px;
	margin-left: 5%;
	width: 80%;
	height: 70px;
	font-size: 40px;
	color: white;
	background: rgb(238,160,47);
	border: 0px;
}
::-webkit-input-placeholder {
	color: #999;
	padding-top: 5px;
	text-align: left;
} 

:-moz-placeholder {
	color: #999;
	padding-top: 5px;
	text-align: left;
}

::-moz-placeholder {
	color: #999;
	padding-top: 5px;
	text-align: left;
}

:-ms-input-placeholder {
	color: #999;
	padding-top: 5px;
	text-align: left;
}
.codeOk{
	border-color: rgb(238,160,47);
	color: rgb(238,160,47);
}
.codeNO{
	border-color: rgb(181,181,181);
	background: rgb(181,181,181);
	color: white;
}
