<include file="Index/header"/>
		
<div id="wrapper">
	<include file="Index/nav"/>
	<div id="page-wrapper">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<ol class="breadcrumb">
						<i class="fa fa-fw fa-table"></i>
						<a href="__ACTION__">管理员管理</a>
					</ol>
				</div>
			</div>
                 
            <div class="row">
            	<div class="col-md-9 col-md-offset-1">
            		<div class="table-responsive">
            			<form id="zyn-form-list">
            				<table class="table table-bordered table-hover zyn-table-list">
            					<thead>
            						<tr>
            							<td>管理员id</td>
            							<td>管理员账号</td>
            							<td>管理员密码</td>
            							<td>角色ID</td>
            							<td>角色名</td>
            							<td>状态</td>
            							<td>真是姓名</td>
            							<td>邮箱</td>
            							<td>最后登录时间</td>
            							<!--<td>排序</td>-->
            							<td>操作</td>
            						</tr>
            					</thead>
            					<tbody>
            						<volist name='admininfo' id='vo'>
	            						<tr>
	            							<td>{$vo.admin_id}</td>
											<td>{$vo.admin_name}</td>
											<td>{$vo.admin_psw}</td>
											<td>{$vo.admin_role_id}</td>
											<td>{$vo.admin_role_id|getRoleById}</td>
											<td>{$vo.status}</td>
											<td>{$vo.real_name}</td>
											<td>{$vo.email}</td>
											<td>{$vo.last_login_time}</td>
											<!--<td>
												<input size='4' type="text"  name="list_order[{$vo.menu_id}]" value="{$vo.list_order}" />
											</td>-->
	            							<td>
	            								<span class="glyphicon glyphicon-edit" id='zyn-span-edit' attr-id="{$vo.admin_id}"></span>
	            								<span class="glyphicon glyphicon-trash" id='zyn-span-trash' attr-id="{$vo.admin_id}"></span>
	            							</td>
	            						</tr>
            						</volist>
            					</tbody>
            				</table>
            			</form>
            			<nav>
							<ul class="pagination">
								{$pageRes}
							</ul>
						</nav>
            		</div>
            	</div>
            </div>
			<div class="row">
				<button type="button" class="btn btn-group btn-primary" id="zyn-btn-add">创建管理员</button>
				<!--<button type="button" class="btn btn-group btn-primary" id="zyn-btn-list_order">排序</button>-->
			</div>
		</div>
	</div>
</div>		
<script>
	var SCOPE = {
		'add_url':'__URL__/add',
		'edit_url':'__URL__/edit',
		'set_status_url':'__URL__/setStatus',
		'list_order_url':'__URL__/listOrder',
		'success_refresh_url':'__ACTION__',
	};
</script>	
<include file="Index/footer"/>