<include file="Index/header"/>


<div id="wrapper">
	<include file="Index/nav"/>
	
	<div id="page-wrapper">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<ol class="breadcrumb">
						<li class="">
							<i class="fa fa-fw fa-edit"></i>
							公告预览
						</li>
						
					</ol>
				</div>				
			</div><!--.row面包屑导航   -->
			<div class="row">
				<div class="col-sm-12">
					<div class="table-responsive">
						<form id="xx-form-list">
							<table class="table table-bordered table-hover xx-table-list">
								<thead>
									<tr>
										<td>公告ID</td>
										<td>发布用户</td>
										<td>所属单位</td>
										<td>公告标题</td>
										<td>公告内容</td>
										<td>公告图片</td>
										<td>审核状态</td>
										<td>审核人员</td>
										<td colspan="2">操作</td>
									</tr>
								</thead>
								<tbody>
									<volist name="announcement" id="vo">
										<tr>
											<td>{$vo.announcement_id}</td>
											<td>{$vo.announcement_sender_id}</td>
											<td>{$vo.announcement_company_id}</td>
											<td>{$vo.announcement_title}</td>
											<td>{$vo.announcement_content}</td>
											<td><img src="{$vo.announcement_picture}"></td>
											<td>{$vo.announcement_check_state}</td>
											<td>{$vo.announcement_checker_id}</td>
											<td>
												<span class="glyphicon glyphicon-edit" id="xx-span-edit" attr-id="{$vo.announcement_id}"></span>

											</td>
											<td>
												<span class="glyphicon glyphicon-trash" id="xx-span-delete" attr-id="{$vo.announcement_id}"></span>
												
											</td>
										</tr>
									</volist>
								</tbody>
							</table>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>	
<script>
	var SCOPE={
		'add_url':'__URL__/add',
		'edit_url':'__URL__/edit',
		'set_status_url':'__URL__/setStatus',
		'list_order_url':'__URL__/listOrder',
		'success_refresh_url':'__ACTION__',
	};
	
</script>
	
<include file="Index/footer"/>