<include file="Index/header" />
<div id="wrapper">
	<include file="Index/nav" />
	<div id="page-wrapper">
		<div class="container">
			<h3>公告审核</h3>
			<div class="row">
				<form class="form-horizontal" id="">
				<div class="form-group">
					<label id="" class="control-label col-sm-3">在班医生信息：</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" id="" placeholder="请录入"/>
					</div>
					<div class="col-sm-2">
						<button class="btn btn-primary">录入</button>
					</div>
				</div>
				</form>
			</div>
		</div>
	</div>
</div>

		
<include file="Index/footer" />