<!--<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
	</body>
</html>-->
<include file="Index/header" />
<div id="wrapper">
	<include file="Index/nav" />
	<!--pagee-wrapper固定在中间-->
	<div id="page-wrapper">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<ol class="breadcrumb">
						<li>
							<i class="fa fa-fw fa-table"></i>
							<a href="__ACTION__">文章管理</a>
						</li>
						<li class="active">
							<i class="fa fa-fw fa-table"></i> 修改文章
						</li>
					</ol>
				</div>
			</div>
			<!--面包屑导航-->
			<div class="row zh-div-serach">
				<div class="col-sm-6">
					<!--使用表单发送数据 horizontal水平-->
					<form action="__ACTION__" method="get">
						<div class="input-group">
							<span class="input-group-addon">类型</span>
							<select class="form-control" name="type">
								<option value="100">全部</option>
								<!--使用if标签判断select标签-->
								<!--condition="$type eq 1"如果$type=1输出selected-->
								<option value="1" <if condition="$type eq 1">selected</if>>后台菜单</option>
								<option value="0" <if condition="$type eq 0">selected</if>>前端导航</option>
							</select>
							<div class="input-group-btn">
								<!--蓝色的btn-primary-->
								<button type="submit" class="btn btn-primary">
									<span class="glyphicon glyphicon-search"></span>
								</button>
							</div>
						</div>
					</form>
				</div>
				<div class="col-sm-2">
					<button id="zh-button-add" type="button" class="btn btn-primary">添加文章</button>
				</div>
				<div class="col-sm-2">
					<button type="button" class="btn btn-primary" id="zh-btn-listorder">排序</button>
				</div>
			</div>
			<!--搜索-->
			<div class="row">
				<div class="col-md-12">
					<!--table-responsive响应式表格(但不是真正的表格)，当缩小到一定程度时会给出导航条-->
					<div class="table-responsive">
						<!--form表单是功能性标签-->
						<form id="zh-form-list">
							<!--table-bordered带边框 table-hover显示高亮-->
							<table class="table table-bordered table-hover zh-table-list">
								<!--thead表头-->
								<thead>
									<tr>
										<td>文章id</td>
										<td>标题</td>
										<td>副标题</td>
										<td>封面图</td>
										<td>缩略图</td>
										<td>关键词</td>
										<td>描述</td>
										<td>排序</td>
										<td>状态</td>
										<!--<td>创建时间</td>-->
										<!--<td>更新时间</td>-->
										<td>内容操作</td>
									</tr>
								</thead>
								<!--tbody表身-->
								<tbody>
									<!--使用volist循环输出表单-->
									<!--volist标签通常用于查询数据集（select方法）的结果输出，通常模型的select方法返回的结果是一个二维数组，可以直接使用volist标签进行输出。-->
									<!--name=""写输出那个变量-->
									<!--接收从ArticleController查询到的结果集合 即articleResult-->
									<volist name="articleResult" id="articleList">
										<tr>
											<td>{$articleList.article_id}</td>
											<td>{$articleList.title}</td>
											<td>{$articleList.small_title}</td>
											<td>{$articleList.image_path}</td>
											<td>{$articleList.thumb_path}</td>
											<td>{$articleList.keywords}</td>
											<td>{$articleList.description}</td>
											<!--<td>{$articleList.list_order}</td>-->
											<!--<td>{$articleList.status|getDataStatus}</td>-->
											<!--<td>{$articleList.create_time}</td>-->
											<!--<td>{$articleList.update_time}</td>-->
											<!--<td>{$articleList.count}</td>-->
											<!--getType这是写的一个函数为了方便操作类型和 状态-->
											<!--<td>{$articleList.type|getDataType}</td>-->
											<!--<td>{$articleList.status|getDataStatus}</td>-->
											<!--排序-->
											<td>
												<input type="text" name="list_oder[{$articleList.menu_id}]" value="{$articleList.list_oder}" size="4" />
											</td>
											<!--状态-->
											<td>
												<input  name="status" value="{$articleList.status}" size="4"/>
												<!--<td>{$articleList.status|getDataStatus}</td>-->
											</td>
											<td>
												<!--glyphicon加一个小图标-->
												<!--内容操作-->
												<span class="glyphicon glyphicon-edit" id="zh-span-edit" attr-id="{$articleList.count}"></span>
												<span class="glyphicon glyphicon-trash" id="zh-span-delete" attr-id="{$articleList.count}"></span>
											</td>
										</tr>
									</volist>
								</tbody>
							</table>
						</form>
						<!--分页控件-->
						<nav>
							<ul class="pagination">
								{$pageResult}
							</ul>
						</nav>
						<!--排序的按钮-->
						<!--<button type="button" class="btn btn-primary" id="zh-btn-listorder">排序</button>-->
					</div>
				</div>
			</div>
			<!--<div class="row">
						<button id="zh-button-add" type="button" class="btn btn-primary">创建菜单</button>
					</div>-->
		</div>
	</div>
</div>
<script>
	var SCROP = {
		'add_url': '__URL__/articleAdd',
		'edit_url': '__URL__/edit',
		'set_status_url': '__URL__/setStatus',
		'list_order_url': '__URL__/listOrder',
		'success_refresh_url': '__ACTION__',
	};
</script>
<include file="Index/footer" />