.blackTitle{
	font-size: 40px; 
	margin-top: 10px;
	margin-left: 10px
}
.grayText{
	color: gray;
	font-size: 30px; 
	margin-top: 20px;
	font-weight: bold;
	float: left;
}
.zz-h5-newMark{
	background-color: rgb(60,172,39);
	margin-left: 10px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	border-radius: 5px;
	color: white;
	padding: 2px;
	float: left;
	margin-top: 17px;
}
.zz-h5-unreadMark{
	background-color: rgb(244,86,118);
	margin-left: 10px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	border-radius: 5px;
	color: white;
	padding: 2px;
	float: left;
	margin-top: 17px;
}
.zz-h5-readMark{
	background-color: rgb(94,119,154);
	margin-left: 10px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	border-radius: 5px;
	color: white;
	padding: 2px;
	float: left;
	margin-top: 17px;
}
.mui-table-view-cell, .mui-table-view-cell:active {
    background-color: #FAFAFA;
}
