<include file="Index/header"/>
		
<div id="wrapper">
	<include file="Index/nav"/>
	<div id="page-wrapper">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<ol class="breadcrumb">
						<i class="fa fa-fw fa-table"></i>
						<a href="__ACTION__">菜单管理</a>
					</ol>
				</div>
			</div>
                  <!--
                  	作者：925440019@qq.com
                  	时间：2016-11-23
                  	描述：row 面包屑导航
                  -->
            <div class="row zyn-div-search">
            	<div class="col-md-4 col-md-offset-1">
	            	<form action="__ACTION__" method="get" class="form-horizontal">
	            		<div class="input-group">
	            			<span class='input-group-addon'>类型</span>
	            			<select class="form-control" name="type">
	            				<option value='-100'>全部</option>
	            				<option value="1" <if condition='$type eq 1'>selected</if>>后台菜单</option>
	            				<option value="0" <if condition='$type eq 0'>selected</if>>前端导航</option>
	            			</select>
	            			<div class="input-group-btn">
		            			<button type="submit" class="btn btn-primary">
		            				<span class='glyphicon glyphicon-search'></span>
		            			</button>
	            			</div>
	            		</div>
	            		
	            	</form>
	            </div>
            </div>
            <div class="row">
            	<div class="col-md-9 col-md-offset-1">
            		<div class="table-responsive">
            			<form id="zyn-form-list">
            				<table class="table table-bordered table-hover zyn-table-list">
            					<thead>
            						<tr>
            							<td>菜单id</td>
            							<td>菜单名</td>
            							<td>模块</td>
            							<td>控制器</td>
            							<td>操作</td>
            							<td>类型</td>
            							<td>状态</td>
            							<td>排序</td>
            							<td>操作</td>
            						</tr>
            					</thead>
            					<tbody>
            						<volist name='menus' id='vo'>
	            						<tr>
	            							<td>{$vo.menu_id}</td>
											<td>{$vo.menu_name}</td>
											<td>{$vo.menu_module}</td>
											<td>{$vo.menu_controller}</td>
											<td>{$vo.menu_action}</td>
											<td>{$vo.type|getDataType}</td>
											<td>{$vo.status|getDataStatus}</td>
											<td>
												<input size='4' type="text"  name="list_order[{$vo.menu_id}]" value="{$vo.list_order}" />
											</td>
	            							<td>
	            								<span class="glyphicon glyphicon-edit" id='zyn-span-edit' attr-id="{$vo.menu_id}"></span>
	            								<span class="glyphicon glyphicon-trash" id='zyn-span-trash' attr-id="{$vo.menu_id}"></span>
	            							</td>
	            						</tr>
            						</volist>
            					</tbody>
            				</table>
            			</form>
            			<nav>
							<ul class="pagination">
								{$pageRes}
							</ul>
						</nav>
            		</div>
            	</div>
            </div>
			<div class="row">
				<button type="button" class="btn btn-group btn-primary" id="zyn-btn-add">创建菜单</button>
				<button type="button" class="btn btn-group btn-primary" id="zyn-btn-list_order">排序</button>
			</div>
		</div>
	</div>
</div>		
<script>
	var SCOPE = {
		'add_url':'__URL__/add',
		'edit_url':'__URL__/edit',
		'set_status_url':'__URL__/setStatus',
		'list_order_url':'__URL__/listOrder',
		'success_refresh_url':'__ACTION__',
	};
</script>	
<include file="Index/footer"/>