<include file="Index/header"/>
<div id="wrapper">
	<include file="Index/nav"/>
	<div id="page-wrapper">
		<!--面包屑导航.row-->
			<div class="row">
				<div class="col-md-12">
					<ol class="breadcrumb">
						<li>
							<i class="fa fa-fw fa-table"></i>
							<a href="__MODULE__/Index/index">医院列表</a>
						</li>
						<li>
							<i class="fa fa-fw fa-table"></i>
							<a href="__MODULE__/Index/shop">商户列表</a>
						</li>
					</ol>
				</div>
			</div>
		<div class="row">
		    <div class="col-sm-12">
		    	<div class="table-responsive">
					<form id="zh-form-list">
						<table class="table table-bordered table-hover">
							<thead>
								<tr>
									<td>医院名称</td>
									<td>医院地址</td>
									<td>联系方式</td>
								</tr>
							</thead>
							<tbody>
								<volist name="communityhospitalsinfos" id="vo">
								    <tr>
									    <td>{$vo.community_hospitals_name}</td>
										<td>{$vo.community_hospitals_address}</td>
										<td>{$vo.principal_contact_phone}</td>
									</tr>
								</volist>
							</tbody>
						</table>
					</form>
					<nav>
						<ul class="pagination">
							{$pageRes}
						</ul>
					</nav>
				</div>
		    </div>
		</div>
	</div>
</div>
<include file="Index/footer"/>
