<include file="Index/header"/>
<div id="wrapper">
	<include file="Index/nav"/>
	<div id="page-wrapper">
		<div class="container-fluid">
			<!--面包屑导航.row-->
			<div class="row">
				<div class="col-md-12">
					<ol class="breadcrumb">
						<li>
							<i class="fa fa-fw fa-table"></i>
							<a href="__URL__/index">视频管理</a>
						</li>
						<li class="active">
							<i class="fa fa-fw fa-edit"></i>
							编辑视频
						</li>
					</ol>
				</div>
			</div>
			<!--表单.row-->
			<div class="col-sm-10">
				<form id="zyn-form-add" class="form-horizontal">
					<div class="form-group">
						<label for="zh-input-community_hospitals_id" class="control-label col-sm-3">视频发布单位:</label>
						<div class="col-sm-4">
							<input id="zh-input-community_hospitals_id" class="form-control" type="text" 
							    name="community_hospitals_id" placeholder="请输入视频发布单位" value="{$menu.community_hospitals_id}"/>
						</div>
						<div class="col-sm-5">
							<p class="zyn-p-validate-result" attr-validate="community_hospitals_id"></p>
						</div>
					</div>
					<div class="form-group">
						<label for="zh-input-video_title" class="control-label col-sm-3">视频标题:</label>
						<div class="col-sm-4">
							<input id="zh-input-video_title" class="form-control" type="text" 
							    name="video_title" placeholder="请输入视频标题" value="{$menu.video_title}"/>
						</div>
						<div class="col-sm-5">
							<p class="zyn-p-validate-result" attr-validate="video_title"></p>
						</div>
					</div>
					<div class="form-group">
						<label for="zh-input-video-content" class="control-label col-sm-3">视频:</label>
						<div class="col-sm-5">
							<input type="file" id="zh-input-video-uploader" />
							<!--展示缩略图-->
							<img src="" alt="" id="zh-img-show-thumb" width="150px"/>
							<!--封面图字段-->
							<input type="hidden" name="image_path" id="zh-input-image-path" />
							<!--缩略图字段-->
							<input type="hidden" name="thumb_path" id="zh-input-thumb-path" />
						</div>
					</div>
					<div class="form-group">
						<label for="zh-textarea-video_introduction" class="control-label col-sm-3">视频简介:</label>
						<div class="col-sm-4">
							<textarea class="js-editor" id="zh-textarea-video_introduction" name="video_introduction" rows="8" value="{$menu.video_introduction}"></textarea>
						</div>
						<div class="col-sm-5">
							<p class="zyn-p-validate-result" attr-validate="video_introduction"></p>
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-sm-3 control-label">视频类别：</label>
						<div class="col-sm-4">
							<select class="form-control" name="video_type_id">
								<option value="0" <if condition="$type eq 0">selected</if>>宣传</option>
								<option value="1" <if condition="$type eq 1">selected</if>>外科</option>
								<option value="2"<if condition="$type eq 2">selected</if>>内科</option>
							</select>
						</div>
					</div>
						<div class="row">
							<div class="col-sm-6 col-sm-offset-4">
								<button type="button" id="zyn-btn-add-submit" class="btn btn-primary">提交</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	var SCOPE = {
		'add_url':'__ACTION__',
		'success_jump_url':'__URL__/index',
		'ajax_upload_swf':'__JS__/vendor/uploadify/uploadify.swf',
		'ajax_upload_url':'__URL__/ajaxUploadImage',
	};
</script>
<include file="Index/footer"/>

