	<script type="text/javascript" src="__JS__/vendor/metisMenu/metisMenu.min.js"></script>
	<script type="text/javascript" src="__JS__/sb-admin-2.js"></script>
	<script type="text/javascript" src="__JS__/constants.js"></script>
	<script type="text/javascript" src="__JS__/admin/common.js"></script>
	<script type="text/javascript" src="__JS__/moment.js"></script>
	<script type="text/javascript" src="__JS__/daterangepicker.js"></script>
	<script type="text/javascript" src="__JS__/dataTable/jquery.dataTables.min.js"></script>
	</body>
</html>
