<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>WebChina后台管理系统</title>
		<link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="__CSS__/vendor/metisMenu/metisMenu.min.css"/>
		<link rel="stylesheet" type="text/css" href="__CSS__/sb-admin-2.css"/>
		<link rel="stylesheet" type="text/css" href="__CSS__/vendor/font-awesome/css/font-awesome.min.css"/>
		<link rel="stylesheet" href="__CSS__/admin/common.css" />
		<link rel="stylesheet" href="__CSS__/vendor/uploadify/uploadify.css" />
		
		<script type="text/javascript" src="__JS__/jquery 1.11.1.js"></script>
		<script type="text/javascript" src="__JS__/bootstrap.js"></script>
		<script type="text/javascript" src="__JS__/dialog/layer.js"></script>
		<script type="text/javascript" src="__JS__/dialog.js"></script>
		<script type="text/javascript" src="__JS__/vendor/uploadify/jquery.uploadify.js" ></script>
		<script type="text/javascript" src="__JS__/vendor/kindeditor/kindeditor-all.js" ></script>
	</head>
	<body>

