<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>社区医院管理系统</title>
		<link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="__CSS__/vendor/metisMenu/metisMenu.min.css"/>
		<link rel="stylesheet" type="text/css" href="__CSS__/sb-admin-2.css"/>
		<link rel="stylesheet" type="text/css" href="__CSS__/vendor/font-awesome/css/font-awesome.min.css"/>
		<link rel="stylesheet" href="__CSS__/admin/common.css" />
		<link rel="stylesheet" href="__CSS__/vendor/uploadify/uploadify.css" />
		<!--挂号-->
		<link rel="stylesheet" href="__CSS__/admin/hang.css" />
		<!--输液-->
		<link rel="stylesheet" href="__CSS__/admin/infusion.css" />
		<!--时间控件-->
		<!--<link rel="stylesheet" href="__CSS__/dateTime/laydate.css" />-->
		<!--<link rel="stylesheet" href="__CSS__/default/laydate.css" />-->
		
		<script type="text/javascript" src="__JS__/jquery 1.11.1.js"></script>
		<script type="text/javascript" src="__JS__/bootstrap.js"></script>
		<script type="text/javascript" src="__JS__/dialog/layer.js"></script>
		<script type="text/javascript" src="__JS__/dialog.js"></script>
		<script type="text/javascript" src="__JS__/vendor/uploadify/jquery.uploadify.js" ></script>
		<script type="text/javascript" src="__JS__/vendor/kindeditor/kindeditor-all.js" ></script>
		<!--挂号-->
		<script type="text/javascript" src="__JS__/admin/hang.js" ></script>
		<!--输液-->
		<script type="text/javascript" src="__JS__/admin/infusion.js" ></script>
		
		<!--时间控件-->
		<!--<script type="text/javascript" src="__JS__/dateTime/laydate.dev.js" ></script>-->
		<!--<script type="text/javascript" src="__JS__/dateTime/laydate.js" ></script>-->
		
	</head>
	<body>

