<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/common/common.css" />
		<link rel="stylesheet" href="../../css/registration/index.css" />
		<link rel="stylesheet" href="../../css/video/index.css" />
		<style>
			.marginLeftRight {
				margin-left: 10px;
				margin-right: 25px;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav m_gray">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">视频</h1>
			<div class="mui-bar" style="height: 70px;margin-top: 60px;">
				<h5 class="m_gray_text" style="font-size: 25px; margin-top: 20px; font-weight: bold; margin-left: 15px;">选择视频分类</h5>
			</div>
		</header>
		<div class="mui-content" style="margin-top: 60px;">
			<div class="list-t-wrap">
				<div id="refreshContainer" class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<div class="list-wrapper" style="margin-top: 120px;">
							<!--列表一定要放到容器内,因为会有一个div append到mui-scroll中,需要在底部才能起作用-->

							<ul class="mui-table-view">
								<li class="mui-table-view-cell mui-media" id="myHistoryVideo">
									<div class="marginLeftRight">
										<h1 class="blackTitle">我的浏览记录</h1>
										<h3 id="myVideoCount" class="grayText">0个视频</h3>
									</div>
								</li>
							</ul>
							<ul class="mui-table-view" id="list_ul">
								<!--<li class="mui-table-view-cell mui-media">
									<div class="marginLeftRight">
										<h1 class="blackTitle" >我的浏览记录</h1>
										<h3 class="grayText">主任</h3>
									</div>
								</li>-->
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/constants.js"></script>
		<script type="text/javascript" src="../../js/jquery.1.11.1.js"></script>
		<script type="text/javascript">
			mui.init({
				swipeBack: true, //启用右滑关闭功能
				beforeback: function() {
					//获得你要前往页面的webview id
					var Scanner = plus.webview.getWebviewById(plus.webview.currentWebview().webId);
					//触发前往页面的自定义事件（例：AddNew）,从而进行数据刷新
					mui.fire(Scanner, 'refreshWeather');
					//返回true，继续页面关闭逻辑
					return true;
				},
//				pullRefresh: {
//					container: "#refreshContainer", //待刷新区域标识，querySelector能定位的css选择器均可，比如：id、.class等
//					up: {
//						height: 50, // 可选.默认50.触发上拉加载拖动距离
//						auto: false, // 可选,默认false.自动上拉加载一次
//						contentrefresh: "正在加载...", // 可选，正在加载状态时，上拉加载控件上显示的标题内容
//						callback: function() {
//								var self = this; // 这里的this == mui('#refreshContainer').pullRefresh()
//								// 加载更多的内容
//								loadMore(this);
//							} //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
//					},
//					down: {
//						height: 50, // 可选.默认50.触发上拉加载拖动距离
//						auto: false, // 可选,默认false.自动上拉加载一次
//						contentrefresh: "正在加载...", // 可选，正在加载状态时，上拉加载控件上显示的标题内容
//						contentnomore: '没有更多数据了', // 可选，请求完毕若没有更多数据时显示的提醒内容；
//						callback: function() {
//								var self = this; // 这里的this == mui('#refreshContainer').pullRefresh()
//								// 加载更多的内容
//								refresh(this);
//							} //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
//					}
//				}
			});
//			var refresh = function(pullRefresh) {
//				// 加载更多的内容到列表中
//				console.log('下拉刷新');
//				// 如果没有更多数据了，则关闭上拉加载
////								pullRefresh.endPullupToRefresh(true);
//								 mui('#refreshContainer').pullRefresh().endPulldownToRefresh(true);
//				// 如果有更多数据，则继续
////				pullRefresh.endPullupToRefresh(false);
//			};
//			
//			var loadMore = function(pullRefresh) {
//				// 加载更多的内容到列表中
//				console.log('上拉加载');
//				// 如果没有更多数据了，则关闭上拉加载
//				//				pullRefresh.endPullupToRefresh(true);
//				// 如果有更多数据，则继续
//				pullRefresh.endPullupToRefresh(false);
//			};
			mui.plusReady(function() {
				plus.webview.currentWebview().setStyle({scrollIndicator:'none'}); //去掉滚动条
				var nwaiting = plus.nativeUI.showWaiting();
				localStorage.VideoIndexWebId = plus.webview.currentWebview().id;
				window.addEventListener('refreshHistory', function() {
					var li = document.getElementById('myHistoryVideo');
					if(localStorage.myHistoryVideoList) {
						var list = JSON.parse(localStorage.myHistoryVideoList);
						console.log(JSON.stringify(list));
						var reg = new RegExp(":", "g");
						var count = (JSON.stringify(list).match(reg).length);
						var h3 = document.getElementById('myVideoCount');
						h3.innerHTML = count + '个视频';
					}
				});
				plus.navigator.setStatusBarBackground('#767B9A');
				var li = document.getElementById('myHistoryVideo');
				if(localStorage.myHistoryVideoList) {
					var list = JSON.parse(localStorage.myHistoryVideoList);
					console.log(JSON.stringify(list));
					var reg = new RegExp(":", "g");
					var count = (JSON.stringify(list).match(reg).length);
					var h3 = document.getElementById('myVideoCount');
					h3.innerHTML = count + '个视频';
				}

				li.addEventListener('tap', function() {
					if (isNullStr(localStorage.myHistoryVideoList)) {
						mui.alert('没有浏览记录');
						return;
					}
					localStorage.videoIndexDataName = '我的浏览记录';
					mui.openWindow({
						url: '../video/videoList.html',
						extras: {

						},
					});
				});
				
				var postData = {};
				postData['sender_id'] = localStorage.community_hospitals_id;
				mui.ajax({
					type: 'POST',
					data: postData,
					url: SERVERURL + "AVideoInfo/getVideoInfoList",
					dataType: "json",
					timeout:20000,
					//成功获取数据赋值
					success: function(data) {

						var doc = document;
						fragment = doc.createDocumentFragment();
						container = doc.getElementById("list_ul");
						mui.each(data.data, function(i) {
							var doc = document;
							li = doc.createElement("li");
							div = doc.createElement("div");
							h1 = doc.createElement("h1");
							h3 = doc.createElement("h3");
							li.setAttribute("class", "mui-table-view-cell mui-media");
							div.setAttribute("class", "marginLeftRight");
							h1.setAttribute("class", "blackTitle")
							h1.style.marginTop = '5px';
							h3.setAttribute("class", "grayText")
							h1.innerHTML = data.data[i].name;
							h3.innerHTML = data.data[i].count + '个视频';
							li.id = data.data[i].id;
							li.addEventListener('tap', function() {
								localStorage.videoIndexDataId = data.data[i].id;
								localStorage.videoIndexDataName = data.data[i].name;
								mui.openWindow({
									url: '../video/videoList.html',
									extras: {

									},
								});
							});
							li.appendChild(div);
							div.appendChild(h1);
							div.appendChild(h3);
							fragment.appendChild(li);
						});
						container.appendChild(fragment);
						console.log(JSON.stringify(data.data));
						plus.nativeUI.closeWaiting();
					},
					error: function(xhr, type, errorThrown) {
						console.log(type);
						plus.nativeUI.closeWaiting();
						mui.alert('网络连接失败');
					}
				});

			});
		</script>
	</body>

</html>