<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/common/common.css" />
		<link rel="stylesheet" href="../../css/video/videoList.css" />

	</head>

	<body >
		<header class="mui-bar mui-bar-nav m_gray">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 id="videoType" class="mui-title">视频</h1>
		</header>
		<div class="mui-content"></div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/constants.js"></script>
		<script type="text/javascript">
			mui.init({
				swipeBack: true, //启用右滑关闭功能
				beforeback: function() {
					//获得你要前往页面的webview id
					var Scanner = plus.webview.getWebviewById(localStorage.VideoIndexWebId);

					//触发前往页面的自定义事件（例：AddNew）,从而进行数据刷新
					mui.fire(Scanner, 'refreshHistory');

					//返回true，继续页面关闭逻辑
					return true;
				},
				gestureConfig: {
					doubletap: true
				},
				subpages: [{
					url: '../video/videoListSub.html',
					id: 'videoListSub.html',
					styles: {
						top: '60px',
						bottom: '0px',
					}
				}],
			});
			mui.plusReady(function() {
				plus.webview.currentWebview().setStyle({scrollIndicator:'none'}); //去掉滚动条
				if(localStorage.videoIndexDataName == '我的播放记录') {
					console.log('我的播放记录');
					var h5 = document.getElementById('videoType');
					h5.innerHTML = '我的播放记录';
				} else {
					var h5 = document.getElementById('videoType');
					h5.innerHTML = localStorage.videoIndexDataName;
				}
			});
		</script>
	</body>

</html>