<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/home/index.css" />
	</head>

	<body>
		<div class="mui-row">
			<img src="../../images/home/qingtian.png" class="mui-icon-image" id="g-top-img" />
			<span id="span-date"></span>
			<span id="weather" class="span-F">正在获取天气...</span>
			<h1 id="span-address" class="mui-icon mui-icon-location" style="margin-right: 10px;">社区</h1>
		</div>
		<div class="mui-row">
			<div class="mui-col-xs-6">
				<button id="g-btn-registration" style=" background: url(../../images/home/registration.png);background-size:100% 100%" type="button" class="mui-btn g-home-btn" onclick="openWindow('../registration/index.html');">
					<span id="registrationCount" class="spanCount"></span>
					<div class="center">
						<span id="g-span">挂号</span>
					</div>
				</button>
			</div>
			<div class="mui-col-xs-6">
				<button id="g-btn-transfuse" style=" background: url(../../images/home/transfuse.png);background-size:100% 100%" type="button" class="mui-btn g-home-btn" onclick="openWindow('../transfuse/index.html');">
					<span id="transfuseCount" class="spanCount"></span>
					<div class="center">
						<span id="g-span">输液</span>
					</div>
				</button>
			</div>
		</div>
		<div class="mui-row">
			<div class="mui-col-xs-6">
				<button id="g-btn-message" style=" background: url(../../images/home/message.png);background-size:100% 100%" type="button" class="mui-btn g-home-btn" onclick="openWindow('../message/index.html');">
					<span id="messageCount" class="spanCount"></span>
					<div class="center">
						<span id="g-span">通知</span>
					</div>
				</button>
			</div>
			<div class="mui-col-xs-6">
				<button id="g-btn-video" style=" background: url(../../images/home/video.png);background-size:100% 100%" type="button" class="mui-btn g-home-btn" onclick="openWindow('../video/index.html');">
					<span id="videoCount" class="spanCount"></span>
					<div class="center">
						<span id="g-span">视频</span>
					</div>
				</button>
			</div>
		</div>
		<div class="mui-row">
			<div class="mui-col-xs-6">
				<button id="g-btn-takeOut" style=" background: url(../../images/home/takeOut.png);background-size:100% 100%" type="button" class="mui-btn g-home-btn" onclick="openWindow('../takeOut/index.html');">
					<span id="takeOutCount" class="spanCount"></span>
					<div class="center">
						<span id="g-span">外卖</span>
					</div>
				</button>
			</div>
			<div class="mui-col-xs-6">
				<button id="g-btn-dropIn" style=" background: url(../../images/home/dropIn.png);background-size:100% 100%" type="button" class="mui-btn g-home-btn" onclick="openWindow('../dropIn/index.html');">
					<span id="dropInCount" class="spanCount"></span>
					<div class="center">
						<span id="g-span">上门</span>
					</div>
				</button>
			</div>
		</div>
		<div class="mui-row">
			<div class="mui-col-xs-6">
				<button style=" background: url(../../images/home/userInfo.png);background-size:100% 100%" type="button" class="mui-btn g-home-btn" onclick="openWindow('../userInfo/index.html');">
					<div class="center">
						<span id="g-span">我的</span>
					</div>
				</button>
			</div>
		</div>

		<script type="text/javascript" src="../../js/jquery.1.11.1.js"></script>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/constants.js"></script>
		<script type="text/javascript">
			mui.init()
			mui.back = function() {
				return;
			};
			window.addEventListener('orientationchange', function(event) {
				location.reload();
			});
			if(localStorage.tqSrc) {
				var topImg = document.getElementById('g-top-img');
				topImg.src = localStorage.tqSrc;
			}
			if(localStorage.tqText) {
				var weather = document.getElementById('weather');
				weather.innerHTML = localStorage.tqText;
			}
		</script>
		<script type="text/javascript">
			$('.mui-icon-image').css('width', document.documentElement.clientWidth);
			$('.mui-icon-image').css('height', document.documentElement.clientWidth * HOMETOPIMGSCALE);
			setInterval(function() {
				var hour = new Date().getHours()
				var min = new Date().getMinutes();
				var date = '';
				if(min < 10) {
					date = hour + ":" + "0" + min;
				} else {
					date = hour + ":" + min;
				}
				$("#span-date").html(date);
			}, 50);
			$('.mui-btn').css('width', document.documentElement.clientWidth / 2);
			$('.mui-btn').css('height', (document.documentElement.clientWidth / 2) * HOMEIMGSCALE);

			function openWindow($url) {
				localStorage.homeWebId = plus.webview.currentWebview().id;
				mui.openWindow({
					url: $url,
					extras: {
						webId: plus.webview.currentWebview().id,
					},

				});
			}

			function findWeather() {
				var cityUrl = 'http://int.dpool.sina.com.cn/iplookup/iplookup.php?format=js';
				$.getScript(cityUrl, function(script, textStatus, jqXHR) {
					var citytq = remote_ip_info.city; // 获取城市
					var url = "http://php.weather.sina.com.cn/iframe/index/w_cl.php?code=js&city=" + citytq + "&day=0&dfc=3";
					$.ajax({
						url: url,
						dataType: "script",
						scriptCharset: "gbk",
						success: function(data) {
							var _w = window.SWther.w[citytq][0];
							var tq;
							var _f = _w.f1 + "_0.png";
							if(new Date().getHours() > 17) {
								_f = _w.f2 + "_1.png";
								setImg(_w.s2);
								tq = _w.s2 + " " + _w.t1 + "℃～" + _w.t2 + "℃ ";
							} else {
								setImg(_w.s1);
								tq = _w.s1 + " " + _w.t1 + "℃～" + _w.t2 + "℃ ";
							}            
							localStorage.tqText = tq;
							var weather = document.getElementById('weather');
							weather.innerHTML = tq;
						}
					});
				});
			}

			function setImg(tq) {
				var topImg = document.getElementById('g-top-img');
				var tqArray = {};
				//				console.log(tq);
				if(tq.indexOf("雾") >= 0) {
					tqArray[tq.indexOf("雾")] = "雾";
				}
				if(tq.indexOf("霾") >= 0) {
					tqArray[tq.indexOf("霾")] = "雾";
				}
				if(tq.indexOf("雨") >= 0) {

					tqArray[tq.indexOf("雨")] = "雨";
				}
				if(tq.indexOf("阴") >= 0) {
					tqArray[tq.indexOf("阴")] = "阴";
				}
				if(tq.indexOf("多云") >= 0) {
					tqArray[tq.indexOf("多云")] = "多云";
				}
				if(tq.indexOf("晴") >= 0) {
					tqArray[tq.indexOf("晴")] = "晴";
				}
				if(tq.indexOf("雷") >= 0) {

					tqArray[tq.indexOf("雷")] = "雷";
				}
				if(tq.indexOf("雪") >= 0) {

					tqArray[tq.indexOf("雪")] = "雪";
				}

				var tianqi = tqArray[getKey(tqArray)];
				if(tianqi == "雾") {
					localStorage.tqrbg = '#CBB364';
					localStorage.tqSrc = "../../images/home/wumai.png";
					topImg.src = "../../images/home/wumai.png";
				}
				if(tianqi == "雨") {
					localStorage.tqrbg = '#B0BBD3';
					localStorage.tqSrc = "../../images/home/xiayu.png";
					topImg.src = "../../images/home/xiayu.png";
				}
				if(tianqi == "阴") {
					localStorage.tqrbg = '#B0BBD3';
					localStorage.tqSrc = "../../images/home/yintian.png";
					topImg.src = "../../images/home/yintian.png";
				}
				if(tianqi == "多云") {
					localStorage.tqrbg = '#69E7F5';
					localStorage.tqSrc = "../../images/home/duoyun.png";
					topImg.src = "../../images/home/duoyun.png";
				}
				if(tianqi == "晴") {
					localStorage.tqrbg = '#69E7F5';
					localStorage.tqSrc = "../../images/home/qingtian.png";
					topImg.src = "../../images/home/qingtian.png";
				}
				if(tianqi == "雷") {
					localStorage.tqrbg = '#B0BBD3';
					localStorage.tqSrc = "../../images/home/leiyu.png";
					topImg.src = "../../images/home/leiyu.png";
				}
				if(tianqi == "雪") {
					localStorage.tqrbg = '#A785DC';
					localStorage.tqSrc = "../../images/home/xiaxue.png";
					topImg.src = "../../images/home/xiaxue.png";
				}
				//				plus.navigator.setStatusBarBackground(localStorage.tqrbg);
			}

			function getKey(json) {
				var keyText;
				var i = 0;
				for(var key in json) {
					if(i == 0) {
						keyText = key;
					} else {
						if(key < keyText) {
							keyText = key;
						}
					}
					++i;
				}
				//				console.log(keyText);
				return keyText;
			}

			function getListCount() {
				//				plus.nativeUI.showWaiting();
				var postData = {};
				postData['community_user_id'] = localStorage.community_user_id;
				postData['announcement_hospital_id'] = localStorage.community_hospitals_id;
				mui.ajax({
					type: 'POST',
					data: postData,
					url: SERVERURL + "ACommunityUserInfo/getListCount",
					dataType: "json",
					timeout: 20000,
					//成功获取数据赋值
					success: function(data) {
						plus.nativeUI.closeWaiting();
						console.log(JSON.stringify(data.data));
						var registration = data.data.registration;
						
						var spanList = document.getElementsByClassName('spanCount');
						mui.each(spanList,function (i) {
							spanList[i].style.height = (document.documentElement.clientWidth / 2)/497*110-1+'px';
							spanList[i].style.width = (document.documentElement.clientWidth / 2)/497*110-1+'px';
							spanList[i].style.lineHeight = (document.documentElement.clientWidth / 2)/497*110-1+'px';
						});
						
						if(registration != 0) {
							document.getElementById('g-btn-registration').style.background = 'url(../../images/home/registrationCount.png)';
							document.getElementById('g-btn-registration').style.backgroundSize = '100% 100%';
							document.getElementById('registrationCount').innerHTML = registration;
						} else {
							document.getElementById('registrationCount').innerHTML = '';
							document.getElementById('g-btn-registration').style.background = 'url(../../images/home/registration.png)';
							document.getElementById('g-btn-registration').style.backgroundSize = '100% 100%';
						}
						var transfuse = data.data.transfusion;
						if(transfuse != 0) {
							document.getElementById('g-btn-transfuse').style.background = 'url(../../images/home/transfuseCount.png)';
							document.getElementById('g-btn-transfuse').style.backgroundSize = '100% 100%';
							document.getElementById('transfuseCount').innerHTML = transfuse;
						} else {
							document.getElementById('transfuseCount').innerHTML = '';
							document.getElementById('g-btn-transfuse').style.background = 'url(../../images/home/transfuse.png)';
							document.getElementById('g-btn-transfuse').style.backgroundSize = '100% 100%';
						}
						var message = data.data.message;
						if(message != 0) {
							document.getElementById('g-btn-message').style.background = 'url(../../images/home/messageCount.png)';
							document.getElementById('g-btn-message').style.backgroundSize = '100% 100%';
							document.getElementById('messageCount').innerHTML = message;
						} else {
							document.getElementById('messageCount').innerHTML = '';
							document.getElementById('g-btn-message').style.background = 'url(../../images/home/message.png)';
							document.getElementById('g-btn-message').style.backgroundSize = '100% 100%';
						}
						var video = data.data.video;
						if(video != 0) {
							document.getElementById('g-btn-video').style.background = 'url(../../images/home/videoCount.png)';
							document.getElementById('g-btn-video').style.backgroundSize = '100% 100%';
							document.getElementById('videoCount').innerHTML = video;
						} else {
							document.getElementById('videoCount').innerHTML = '';
							document.getElementById('g-btn-video').style.background = 'url(../../images/home/video.png)';
							document.getElementById('g-btn-video').style.backgroundSize = '100% 100%';
						}
						var takeOut = data.data.takeOut;
						if(takeOut != 0) {
							document.getElementById('g-btn-takeOut').style.background = 'url(../../images/home/takeOutCount.png)';
							document.getElementById('g-btn-takeOut').style.backgroundSize = '100% 100%';
							document.getElementById('takeOutCount').innerHTML = takeOut;
						} else {
							document.getElementById('takeOutCount').innerHTML = '';
							document.getElementById('g-btn-takeOut').style.background = 'url(../../images/home/takeOut.png)';
							document.getElementById('g-btn-takeOut').style.backgroundSize = '100% 100%';
						}
						var dropIn = data.data.dropIn;
						if(dropIn != 0) {
							document.getElementById('g-btn-dropIn').style.background = 'url(../../images/home/drioInCount.png)';
							document.getElementById('g-btn-dropIn').style.backgroundSize = '100% 100%';
							document.getElementById('dropInCount').innerHTML = dropIn;
						} else {
							document.getElementById('dropInCount').innerHTML = '';
							document.getElementById('g-btn-dropIn').style.background = 'url(../../images/home/dropIn.png)';
							document.getElementById('g-btn-dropIn').style.backgroundSize = '100% 100%';
						}
					},
					error: function(xhr, type, errorThrown) {
						plus.nativeUI.closeWaiting();
						mui.alert('网络连接失败');
						console.log(type);
					}
				});
			}
			 
			mui.plusReady(function() {
				
				
				//首页返回键处理
				//处理逻辑：2秒内，连续两次按返回键，则退出应用 
				var first = null;
				plus.key.addEventListener('backbutton', function() {
					//首次按键，提示‘再按一次退出应用’  
					if(!first) {
						first = new Date().getTime();
						mui.toast('再按一次退出应用');
						setTimeout(function() {
							first = null;
						}, 2000);
					} else {
						if(new Date().getTime() - first < 2000) {
							plus.runtime.quit();
						}
					}
				}, false);
				
				if(mui.os.ios) {
					plus.navigator.setFullscreen(true);
				}
				
				document.getElementById('span-address').innerHTML = localStorage.community_user_address;
				plus.navigator.setStatusBarBackground('#FFFFFF');
				findWeather();
				getListCount();
				
				window.addEventListener('refreshWeather', function() {
					document.getElementById('span-address').innerHTML = localStorage.community_user_address;
					plus.navigator.setStatusBarBackground('#FFFFFF');
					findWeather();
					getListCount();
					//					plus.webview.getWebviewById(plus.webview.currentWebview().id).reload();
//					// 获取所有Webview窗口
//					var curr = plus.webview.currentWebview();
//					var wvs = plus.webview.all();
//					for(var i = 0, len = wvs.length; i < len; i++) {
//						//关闭除setting页面外的其他页面
//						if(wvs[i].getURL() == curr.getURL())
//							continue;
//						plus.webview.close(wvs[i]);
//					}

				});

			});
		</script>

	</body>

</html>