<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/home/index.css" />
	</head>

	<body>
		<div class="mui-row">
			<img src="../../images/home/cloudySky.png" class="mui-icon-image" id="g-top-img" />
			<span id="span-date"></span>
			<span id="span-F" class="">严重污染!!!!</span>
			<span id="span-address" class="mui-icon mui-icon-location">社区</span>
		</div>
		<div class="mui-row">
			<div class="mui-col-xs-6">
				<button style=" background: url(../../images/home/registration.png);background-size:100% 100%" type="button" class="mui-btn" id="g-btn" onclick="openWindow('../registration/detepicker.html');">
					<div class="center">
						<span id="g-span">挂号</span>
					</div>
				</button>
			</div>
			<div class="mui-col-xs-6">
				<button style=" background: url(../../images/home/transfuse.png);background-size:100% 100%" type="button" class="mui-btn" id="g-btn" onclick="openWindow('../transfuse/index.html');">
					<div class="center">
						<span id="g-span">输液</span>
					</div>
				</button>
			</div>
		</div>
		<div class="mui-row">
			<div class="mui-col-xs-6">
				<button style=" background: url(../../images/home/message.png);background-size:100% 100%" type="button" class="mui-btn" id="g-btn" onclick="openWindow('../message/index.html');">
					<div class="center">
						<span id="g-span">通知</span>
					</div>
				</button>
			</div>
			<div class="mui-col-xs-6">
				<button style=" background: url(../../images/home/video.png);background-size:100% 100%" type="button" class="mui-btn" id="g-btn" onclick="openWindow('../video/index.html');">
					<div class="center">
						<span id="g-span">视频</span>
					</div>
				</button>
			</div>
		</div>
		<div class="mui-row">
			<div class="mui-col-xs-6">
				<button style=" background: url(../../images/home/takeOut.png);background-size:100% 100%" type="button" class="mui-btn" id="g-btn" onclick="openWindow('../takeOut/index.html');">
					<div class="center">
						<span id="g-span">外卖</span>
					</div>
				</button>
			</div>
			<div class="mui-col-xs-6">
				<button style=" background: url(../../images/home/dropIn.png);background-size:100% 100%" type="button" class="mui-btn" id="g-btn" onclick="openWindow('../dropIn/index.html');">
					<div class="center">
						<span id="g-span">上门</span>
					</div>
				</button>
			</div>
		</div>

		<script type="text/javascript" src="../../js/jquery.1.11.1.js"></script>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/constants.js" ></script>
		<script type="text/javascript">
			mui.init()
			window.addEventListener('orientationchange', function(event) {
				location.reload();
			});
		</script>
		<script type="text/javascript">
			$('.mui-icon-image').css('width', document.documentElement.clientWidth);
			$('.mui-icon-image').css('height', document.documentElement.clientWidth*HOMETOPIMGSCALE);
			setInterval(function() {
				var hour = new Date().getHours()
				var min = new Date().getMinutes();
				var date = '';
				if(min < 10) {
					date = hour + ":" + "0" + min;
				} else {
					date = hour + ":" + min;
				}
				$("#span-date").html(date);
			}, 50);
			$('.mui-btn').css('width', document.documentElement.clientWidth / 2);
			$('.mui-btn').css('height', (document.documentElement.clientWidth / 2)*HOMEIMGSCALE);

			function openWindow($url) {
				mui.openWindow({
					url: $url,
				});
			}
		</script>

	</body>

</html>