<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/home/index.css" />
	</head>

	<body>
		<div class="mui-row">
			<img src="../../images/home/qingtian.png" class="mui-icon-image" id="g-top-img" />
			<span id="span-date"></span>
			<span id="weather" class="span-F">正在获取天气...</span>
			<span id="span-address" class="mui-icon mui-icon-location">社区</span>
		</div>
		<div class="mui-row">
			<div class="mui-col-xs-6">
				<button style=" background: url(../../images/home/registration.png);background-size:100% 100%" type="button" class="mui-btn" id="g-btn" onclick="openWindow('../registration/registrationTime.html');">
					<div class="center">
						<span id="g-span">挂号</span>
					</div>
				</button>
			</div>
			<div class="mui-col-xs-6">
				<button style=" background: url(../../images/home/transfuse.png);background-size:100% 100%" type="button" class="mui-btn" id="g-btn" onclick="openWindow('../transfuse/selectSeat.html');">
					<div class="center">
						<span id="g-span">输液</span>
					</div>
				</button>
			</div>
		</div>
		<div class="mui-row">
			<div class="mui-col-xs-6">
				<button style=" background: url(../../images/home/message.png);background-size:100% 100%" type="button" class="mui-btn" id="g-btn" onclick="openWindow('../message/index.html');">
					<div class="center">
						<span id="g-span">通知</span>
					</div>
				</button>
			</div>
			<div class="mui-col-xs-6">
				<button style=" background: url(../../images/home/video.png);background-size:100% 100%" type="button" class="mui-btn" id="g-btn" onclick="openWindow('../video/index.html');">
					<div class="center">
						<span id="g-span">视频</span>
					</div>
				</button>
			</div>
		</div>
		<div class="mui-row">
			<div class="mui-col-xs-6">
				<button style=" background: url(../../images/home/takeOut.png);background-size:100% 100%" type="button" class="mui-btn" id="g-btn" onclick="openWindow('../takeOut/index.html');">
					<div class="center">
						<span id="g-span">外卖</span>
					</div>
				</button>
			</div>
			<div class="mui-col-xs-6">
				<button style=" background: url(../../images/home/dropIn.png);background-size:100% 100%" type="button" class="mui-btn" id="g-btn" onclick="openWindow('../dropIn/index.html');">
					<div class="center">
						<span id="g-span">上门</span>
					</div>
				</button>
			</div>
		</div>

		<script type="text/javascript" src="../../js/jquery.1.11.1.js"></script>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/constants.js"></script>
		<script type="text/javascript">
			mui.init()
			window.addEventListener('orientationchange', function(event) {
				location.reload();
			});
			if(localStorage.tqSrc) {
				var topImg = document.getElementById('g-top-img');
				topImg.src = localStorage.tqSrc;
			}
			if(localStorage.tqText) {
				var weather = document.getElementById('weather');
				weather.innerHTML = localStorage.tqText;
			}
		</script>
		<script type="text/javascript">
			$('.mui-icon-image').css('width', document.documentElement.clientWidth);
			$('.mui-icon-image').css('height', document.documentElement.clientWidth * HOMETOPIMGSCALE);
			setInterval(function() {
				var hour = new Date().getHours()
				var min = new Date().getMinutes();
				var date = '';
				if(min < 10) {
					date = hour + ":" + "0" + min;
				} else {
					date = hour + ":" + min;
				}
				$("#span-date").html(date);
			}, 50);
			$('.mui-btn').css('width', document.documentElement.clientWidth / 2);
			$('.mui-btn').css('height', (document.documentElement.clientWidth / 2) * HOMEIMGSCALE);

			function openWindow($url) {
				localStorage.homeWebId = plus.webview.currentWebview().id;
				mui.openWindow({
					url: $url,
					extras: {
						webId: plus.webview.currentWebview().id,
					},

				});
			}

			function findWeather() {
				var cityUrl = 'http://int.dpool.sina.com.cn/iplookup/iplookup.php?format=js';
				$.getScript(cityUrl, function(script, textStatus, jqXHR) {
					var citytq = remote_ip_info.city; // 获取城市
					var url = "http://php.weather.sina.com.cn/iframe/index/w_cl.php?code=js&city=" + citytq + "&day=0&dfc=3";
					$.ajax({
						url: url,
						dataType: "script",
						scriptCharset: "gbk",
						success: function(data) {
							var _w = window.SWther.w[citytq][0];
							var tq;
							var _f = _w.f1 + "_0.png";
							if(new Date().getHours() > 17) {
								_f = _w.f2 + "_1.png";
								setImg(_w.s2);
								tq = _w.s2 + " " + _w.t1 + "℃～" + _w.t2 + "℃ ";
							} else {
								setImg(_w.s1);
								tq = _w.s1 + " " + _w.t1 + "℃～" + _w.t2 + "℃ ";
							}            
							localStorage.tqText = tq;
							var weather = document.getElementById('weather');
							weather.innerHTML = tq;
						}
					});
				});
			}

			function setImg(tq) {
				var topImg = document.getElementById('g-top-img');
				var tqArray = {};
				//				console.log(tq);
				if(tq.indexOf("雾") >= 0) {
					tqArray[tq.indexOf("雾")] = "雾";
				}
				if(tq.indexOf("霾") >= 0) {
					tqArray[tq.indexOf("霾")] = "雾";
				}
				if(tq.indexOf("雨") >= 0) {

					tqArray[tq.indexOf("雨")] = "雨";
				}
				if(tq.indexOf("阴") >= 0) {
					tqArray[tq.indexOf("阴")] = "阴";
				}
				if(tq.indexOf("多云") >= 0) {
					tqArray[tq.indexOf("多云")] = "多云";
				}
				if(tq.indexOf("晴") >= 0) {
					tqArray[tq.indexOf("晴")] = "晴";
				}
				if(tq.indexOf("雷") >= 0) {

					tqArray[tq.indexOf("雷")] = "雷";
				}
				if(tq.indexOf("雪") >= 0) {

					tqArray[tq.indexOf("雪")] = "雪";
				}

				var tianqi = tqArray[getKey(tqArray)];
				if(tianqi == "雾") {
					localStorage.tqrbg = '#CBB364';
					localStorage.tqSrc = "../../images/home/wumai.png";
					topImg.src = "../../images/home/wumai.png";
				}
				if(tianqi == "雨") {
					localStorage.tqrbg = '#B0BBD3';
					localStorage.tqSrc = "../../images/home/xiayu.png";
					topImg.src = "../../images/home/xiayu.png";
				}
				if(tianqi == "阴") {
					localStorage.tqrbg = '#B0BBD3';
					localStorage.tqSrc = "../../images/home/yintian.png";
					topImg.src = "../../images/home/yintian.png";
				}
				if(tianqi == "多云") {
					localStorage.tqrbg = '#69E7F5';
					localStorage.tqSrc = "../../images/home/duoyun.png";
					topImg.src = "../../images/home/duoyun.png";
				}
				if(tianqi == "晴") {
					localStorage.tqrbg = '#69E7F5';
					localStorage.tqSrc = "../../images/home/qingtian.png";
					topImg.src = "../../images/home/qingtian.png";
				}
				if(tianqi == "雷") {
					localStorage.tqrbg = '#B0BBD3';
					localStorage.tqSrc = "../../images/home/leiyu.png";
					topImg.src = "../../images/home/leiyu.png";
				}
				if(tianqi == "雪") {
					localStorage.tqrbg = '#A785DC';
					localStorage.tqSrc = "../../images/home/xiaxue.png";
					topImg.src = "../../images/home/xiaxue.png";
				}
				//				plus.navigator.setStatusBarBackground(localStorage.tqrbg);
			}

			function getKey(json) {
				var keyText;
				var i = 0;
				for(var key in json) {
					if(i == 0) {
						keyText = key;
					} else {
						if(key < keyText) {
							keyText = key;
						}
					}
					++i;
				}
				//				console.log(keyText);
				return keyText;
			}
			//查询用户信息
			function findUserInfo() {
				console.log('asd');
				mui.ajax({
					type: 'GET',
					url: SERVERURL + "ACommunityUserInfo/findUser",
					dataType: "json",
					success: function(data) {
						var community_user_id; //社区用户内码
						var community_user_phone; //用户手机号
						var community_user_password; //登录密码
						var community_user_name; //用户姓名
						var community_user_sex; //用户性别
						var community_user_picture; //用户头像url
						var community_user_address; //用户住址
						var community_id; //社区内码
						var community_hospitals_id; //社区医院内码
						var state; //状态

						localStorage.setItem(community_user_id, data.data.community_user_id);
						console.log(localStorage.getItem(community_user_id));
						localStorage.setItem(community_user_phone, data.data.community_user_phone);
						console.log(localStorage.getItem(community_user_phone));
						localStorage.setItem(community_user_password, data.data.community_user_password);
						console.log(localStorage.getItem(community_user_password));
						localStorage.setItem(community_user_name, data.data.community_user_name);
						console.log(localStorage.getItem(community_user_name));
						localStorage.setItem(community_user_sex, data.data.community_user_sex);
						console.log(localStorage.getItem(community_user_sex));
						localStorage.setItem(community_user_picture, data.data.community_user_picture);
						console.log(localStorage.getItem(community_user_picture));
						localStorage.setItem(community_user_address, data.data.community_user_address);
						console.log(localStorage.getItem(community_user_address));
						localStorage.setItem(community_id, data.data.community_id);
						console.log(localStorage.getItem(community_id));
						localStorage.setItem(community_hospitals_id, data.data.community_hospitals_id);
						console.log(localStorage.getItem(community_hospitals_id));

					},

				});
			}

			mui.plusReady(function() {
				findWeather();
				findUserInfo();
				plus.screen.lockOrientation("portrait-primary");
				window.addEventListener('refreshWeather', function() {
						plus.navigator.setStatusBarBackground('#FFFFFF');
						findWeather();
						//					plus.webview.getWebviewById(plus.webview.currentWebview().id).reload();
						// 获取所有Webview窗口
						var curr = plus.webview.currentWebview();
						var wvs = plus.webview.all();
						for(var i = 0, len = wvs.length; i < len; i++) {
							//关闭除setting页面外的其他页面
							if(wvs[i].getURL() == curr.getURL())
								continue;
							plus.webview.close(wvs[i]);
							plus.webview.open('../home/index.html');
						}
						//打开login页面后再关闭setting页面
						curr.close();
				});

			});
		</script>

	</body>

</html>