<include file="Index/header" />
<div id="wrapper">
	<include file="Index/nav" />
	<div id="page-wrapper">
		<div class="container">
			<h3>医生信息录入</h3>
			<div class="row">
				<div class="col-sm-10">
					<form id="xx-form-add" class="form-horizontal">
						<div class="form-group">
							<label for="xx-input-hospital-doctor-name" class="control-label col-sm-3">医生姓名：</label>
							<div class="col-sm-5">
								<input id="xx-input-hospital-doctor-name" class="form-control" type="text" 
								name="hospital_doctor_name" placeholder="请输入医生姓名" />
							</div>
							<div class="col-sm-4">
								<p class="xx-p-validate-result" attr-validate="hospital_doctor_name"></p>
							</div>
						</div>
						<div class="form-group">
							<label for="xx-input-hospital-doctor-identity" class="control-label col-sm-3">医生职称：</label>
							<div class="col-sm-5">
								<input id="xx-input-hospital-doctor-identity" class="form-control" type="text" 
								name="hospital_doctor_identity" placeholder="请输入医生职称" />
							</div>
							<div class="col-sm-4">
								<p class="xx-p-validate-result" attr-validate="hospital_doctor_identity"></p>
							</div>
						</div>
						<div class="form-group">
							<label for="xx-input-hospital-doctor-introduction" class="control-label col-sm-3">医生简介：</label>
							<div class="col-sm-5">
								<textarea class="js-editor" id="xx-textarea-hospital-doctor-introduction" name="hospital_doctor_introduction" cols="50" rows="5" placeholder="请输入内容"></textarea>
							</div>
							<div class="col-sm-4">
								<p class="xx-p-validate-result" attr-validate="hospital_doctor_introduction"></p>
							</div>
						</div>
						<div class="form-group">
							<label for="xx-input-hospital-doctor-phone" class="control-label col-sm-3">联系方式：</label>
							<div class="col-sm-5">
								<input id="xx-input-hospital-doctor-phone" class="form-control" type="text" 
								name="hospital_doctor_phone" placeholder="请输入联系方式" />
							</div>
							<div class="col-sm-4">
								<p class="xx-p-validate-result" attr-validate="hospital_doctor_phone"></p>
							</div>
						</div>
						<div class="form-group">
							<label for="xx-input-image" class="control-label col-sm-3">医生照片：</label>
							<div class="col-sm-5">
								<input id="xx-input-uploader" type="file" />
								<!-- 展示缩略图 -->
								<img src="" alt="" id="xx-img-show-thumb" width="150px" style="display: none;"/>
								<!-- 封面图字段 -->
								<input type="hidden" name="image_path" id="xx-input-image-path"/>
								<!-- 缩略图图字段 -->
								<input type="hidden" name="thumb_path" id="xx-input-thumb-path"/>
							</div>
						</div>
						<div class="form-group">
							<label for="xx-input-doctor-registration-number" class="control-label col-sm-3">号池数量：</label>
							<div class="col-sm-5">
								<input id="xx-input-doctor-registration-number" class="form-control" type="text" 
								name="doctor_registration_number" placeholder="请输入号池数量" />
							</div>
							<div class="col-sm-4">
								<p class="xx-p-validate-result" attr-validate="doctor_registration_number"></p>
							</div>
						</div>
						<div class="form-group">
							<label for="xx-input-registration-predict-money" class="control-label col-sm-3">挂号费用：</label>
							<div class="col-sm-5">
								<input id="xx-input-registration-predict-money" class="form-control" type="text" 
								name="registration_predict_money" placeholder="请输入挂号费用" />
							</div>
							<div class="col-sm-4">
								<p class="xx-p-validate-result" attr-validate="registration_predict_money"></p>
							</div>
						</div>
						<div class="form-group">
							<label for="" class="control-label col-sm-3">性别：</label>
							<div class="col-sm-5">
								<input type="radio" name="hospital_doctor_sex" value="1" checked="" />男
								<input type="radio" name="hospital_doctor_sex" value="0" />女
							</div>
						</div>
						<div class="form-group">
							<label for="" class="control-label col-sm-3">状态：</label>
							<div class="col-sm-5">
								<input type="radio" name="status" value="1" checked="" />开启
								<input type="radio" name="status" value="0" />关闭
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6 col-sm-offset-4">
								<button type="button" id="xx-btn-add-submit" class="btn btn-primary">提交</button>
							</div>
						</div>
					</form>
				</div>
			</div><!--.row表单-->
		</div>
	</div>
</div>
<script>
	var SCOPE = {
		'add_url':'__ACTION__',
		'success_jump_url':'__URL__/index',
		'ajax_upload_swf':'__JS__/vendor/uploadify/uploadify.swf',
		'ajax_upload_url':'__URL__/ajaxUploadImage',
	};
</script>
		
<include file="Index/footer" />