<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>居家养老服务平台管理系统</title>
	
	<link rel="stylesheet" href="__CSS__/bootstrap.css" />
	<link rel="stylesheet" href="__CSS__/sb-admin-2.css" />
	<link rel="stylesheet" href="__CSS__/metisMenu.css" />
	<link rel="stylesheet" href="__CSS__/font-awesome/css/font-awesome.css" />
	<link rel="stylesheet" href="__CSS__/admin/common.css" />
	<link rel="stylesheet" href="__CSS__/vendor/uploadify/uploadify.css" />
	
	
	<script type="text/javascript" src="__JS__/jquery.1.11.1.js" ></script>
    <script type="text/javascript" src="__JS__/bootstrap.js" ></script>
    <script type="text/javascript" src="__JS__/sb-admin-2.js" ></script>
    <script type="text/javascript" src="__JS__/metisMenu.js" ></script>
    <script type="text/javascript" src="__JS__/dialog/layer.js" ></script>
	<script type="text/javascript" src="__JS__/dialog.js" ></script>
	<script type="text/javascript" src="__JS__/vendor/uploadify/jquery.uploadify.js" ></script>
	<script type="text/javascript" src="__JS__/vendor/kindeditor/kindeditor-all.js"></script>
		
	</head>
	<body>
	
