<include file="Index/header"/>
		
<div id="wrapper">
	<include file="Index/nav"/>
	<div id="page-wrapper">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<ol class="breadcrumb">
						<i class="fa fa-fw fa-table"></i>
						<a href="__ACTION__">角色管理</a>
					</ol>
				</div>
			</div>
                  <!--
                  	作者：925440019@qq.com
                  	时间：2016-11-23
                  	描述：row 面包屑导航
                  -->
        	<div class='row'>
        		<div class="col-sm-6">
        			<button type="button" class="btn btn-primary" id="zyn-btn-add">
        				创建角色
        			</button>
        		</div>
        	</div>
            <div class="row">
            	<div class="col-md-9 col-md-offset-1">
            		<div class="table-responsive">
            			<form id="zyn-form-list">
            				<table class="table table-bordered table-hover zyn-table-list">
            					<thead>
            						<tr>
            							<td>角色id</td>
            							<td>角色名</td>
            							<td>状态</td>
            							<td colspan="3">操作</td>
            						</tr>
            					</thead>
            					<tbody>
            						<volist name='roles' id='vo'>
	            					<tr>
										<td>{$vo.role_id}</td>
										<td>{$vo.role_name}</td>
										<td>{$vo.status|getDataStatus}</td>
	            						<td>
	            							<span class="zyn-span-operation" id='zyn-span-edit' attr-id="{$vo.role_id}">编辑</span>
	            						</td>
	            						<td>
	            							<span class="zyn-span-operation" id='zyn-span-assign-auth' attr-id="{$vo.role_id}">权限分配</span>
	            						</td>	
	            						<td>
	            							<span class="zyn-span-operation" id='zyn-span-trash' attr-id="{$vo.role_id}">删除</span>
	            						</td>
	            					</tr>
            						</volist>
            					</tbody>
            				</table>
            			</form>
            			<nav>
							<ul class="pagination">
								{$pageRes}
							</ul>
						</nav>
            		</div>
            	</div>
            </div>
			<!--<div class="row">
				<button type="button" class="btn btn-group btn-primary" id="zyn-btn-add">创建菜单</button>
				<button type="button" class="btn btn-group btn-primary" id="zyn-btn-list_order">排序</button>
			</div>-->
		</div>
	</div>
</div>		
<script>
	var SCOPE = {
		'add_url':'__URL__/add',
		'edit_url':'__URL__/edit',
		'set_status_url':'__URL__/setStatus',
		'list_order_url':'__URL__/listOrder',
		'success_refresh_url':'__ACTION__',
		'assign_auth_url':'__URL__/assignAuth',
	};
</script>	
<include file="Index/footer"/>