<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/common/common.css" />
		<link rel="stylesheet" href="../../css/transfuse/makeSureMessage.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav m_blue">
			<a id="backHome" class="mui-action-back mui-icon  mui-pull-left" style="font-size: 30px;margin-left: -3%;margin-top: 15px;">首页</a>
			<h1 class="mui-title">查看详情</h1>
		</header>
		<div class="mui-content top35px ">
			<div class="mui-row zz-div-line marginLeftRight">
				<div class="zz-div-doctName">
					<h3 class="MSM-gray-text">输液医院</h3>
					<h1 class="MSM-black-text" id="hospitalName">贺福里社区医院</h1>
					<hr class="zz-hr-line" />
				</div>
			</div>
			<div class="mui-row zz-div-line marginLeftRight">
				<div class="zz-div-doctName">
					<h3 class="MSM-gray-text">输液时间</h3>
					<h1 class="MSM-black-text" id="transTime"></h1>
					<hr class="zz-hr-line" />
				</div>
			</div>
			<div class="mui-row zz-div-line marginLeftRight">
				<div class="zz-div-doctName">
					<h3 class="MSM-gray-text">预约时长</h3>
					<h1 class="MSM-black-text" id="transDuration"></h1>
					<hr class="zz-hr-line" />
				</div>
			</div>
			<div class="mui-row zz-div-line marginLeftRight">
				<div class="zz-div-doctName">
					<h3 class="MSM-gray-text">就诊人</h3>
					<h1 class="MSM-black-text" id="userName" name="uasername">李晨</h1>
					<hr class="zz-hr-line" />
				</div>
			</div>
			<div class="mui-row zz-div-line marginLeftRight">
				<div class="zz-div-doctName">
					<h3 class="MSM-gray-text">输液位类型</h3>
					<h1 class="MSM-black-text" id="seatType" ></h1>
					<hr class="zz-hr-line" />
				</div>
			</div>
			
			<!--<div class="mui-row marginLeftRight MSM-top35px">
				<h3 class="zz-gray-text" style="text-align: center;">当前可预约：<span style="color: rgb(76,188,236);">20</span>个输液位</h3>
				<button type="button" class="zz-btn-next m_blue" id="zz-btn-next">下一步</button>
				<!--onclick="openWindow('../transfuse/finish.html');"-->
			<!--</div>-->
		</div>
		
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/constants.js"></script>
		<script type="text/javascript">
			mui.init({
				beforeback: function() {
					//获得你要前往页面的webview id
					var Scanner = plus.webview.getWebviewById(localStorage.homeWebId);
					//触发前往页面的自定义事件（例：AddNew）,从而进行数据刷新
					mui.fire(Scanner, 'refreshWeather');
					backToHomeIndex();
				},
			});
			mui.plusReady(function(){
				var sData = plus.webview.currentWebview();
				
				var transTime = sData.transTime;
				var transTimeHtml = document.getElementById("transTime");
				transTimeHtml.innerHTML = transTime;
//				console.log(sData.transtime); 
				
				var transDuration = sData.transDuration;
				var transDurationHtml = document.getElementById("transDuration");
				transDurationHtml.innerHTML = transDuration;
				console.log(transDurationHtml.innerHTML);
				document.getElementById('hospitalName').innerHTML = localStorage.community_hospitals_name;
				document.getElementById('seatType').innerHTML = localStorage.selectSeat;
				document.getElementById('userName').innerHTML = localStorage.community_user_name;
				
				
			});
		</script>
	</body>

</html>