<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/common/common.css" />
		<link rel="stylesheet" href="../../css/transfuse/transFuseTime.css" />
		
		<!--<link rel="stylesheet" href="../../css/app.css" />-->
		<link rel="stylesheet" href="../../css/mui.picker.css" />
		<link rel="stylesheet" href="../../css/mui.poppicker.css" />
		
		<style>
			.mui-btn {
				font-size: 16px;
				padding: 8px;
				margin: 3px;
			}
			h5.mui-content-padded {
				margin-left: 3px;
				margin-top: 20px !important;
			}
			h5.mui-content-padded:first-child {
				margin-top: 12px !important;
			}
			.ui-alert {
				text-align: center;
				padding: 20px 10px;
				font-size: 16px;
			}
		</style>
		
	</head>
		
	<body>
		<header class="mui-bar mui-bar-nav m_blue">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">输液时长</h1>
		</header>
		<div class="mui-content">
			<div class="mui-row ">
				<button id='showUserPicker' class="zz-btn-timeClass" type='button' >选择输液时长</button>
				
			</div>
			
			<div  class="mui-row zz-div-result">
				<label id="zz-label-ymd"></label>
			</div>
			<div  class="mui-row zz-div-result">
				<label id="zz-label-timeSlot"></label>
			</div>
			<div  class="mui-row zz-div-result">
				<label id="zz-label-time"></label>
			</div>
			<div class="mui-row marginLeftRight">
				<button type="button" class="zz-btn-next" onclick="openWindow('../transfuse/makeSureMessage.html');">
					下一步
				</button>
			</div>
			
			
			
			
			
			<!--<button id='showUserPicker' class="mui-btn mui-btn-block" type='button' style="margin-top: 45px;">一级选择示例 ...</button>
				<div id='userResult' class="ui-alert"></div>
			
			<div class="mui-row ">
				<button type="button" class="zz-btn-next" onclick="openWindow('../transfuse/makeSureMessage.html');">
					下一步
				</button>
			</div>-->
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/jquery.1.11.1.js"></script>
		<script type="text/javascript" src="../../js/mui.picker.min.js" ></script>
		<script type="text/javascript" src="../../js/mui.picker.js" ></script>
		<script type="text/javascript" src="../../js/mui.poppicker.js" ></script>
		<script type="text/javascript" src="../../js/city.data.js" ></script>
		<script type="text/javascript" src="../../js/city.data-3.js" ></script>
		<script type="text/javascript">
		mui.plusReady(function() {
			var sData = plus.webview.currentWebview();
			var timeResult = sData.timeResult;
			var transtime = document.getElementById('zz-label-ymd');
			transtime.innerHTML = timeResult.substr(0, 10);
			var timeSlot = document.getElementById('zz-label-timeSlot');
			timeSlot.innerHTML = timeResult.substr(10, 6);
//			console.log(timeResult);


		});
		
		$('.zz-btn-timeClass').css('height', document.documentElement.clientWidth/2);
			(function($, doc) {
				$.init();
				$.ready(function() {
					
					//普通示例
					var userPicker = new $.PopPicker();
					userPicker.setData([{
						value: '1',
						text: '1小时'
					},{
						value: '1.5',
						text: '1.5小时'
					}, {
						value: '2',
						text: '2小时'
					}, {
						value: '2.5',
						text: '2.5小时'
					},{
						value: '3.',
						text: '3小时'
					}, ]);
					var showUserPickerButton = doc.getElementById('showUserPicker');
					var userResult = doc.getElementById('zz-label-time');
					showUserPickerButton.addEventListener('tap', function(event) {
						userPicker.show(function(items) {
//							console.log(JSON.stringify(items[0]['text']).length);
							if(JSON.stringify(items[0]['text']).length == 5){
								userResult.innerHTML = JSON.stringify(items[0]['text']).substr(1, 3);
							}else{
								userResult.innerHTML = JSON.stringify(items[0]['text']).substr(1, 5);
							}
							//返回 false 可以阻止选择框的关闭
							//return false;
						});
					}, false);
				});
			})(mui, document);
//			console.log(timeResult);
			function openWindow($url) {
				var userResult = document.getElementById('zz-label-time');
				var transtime =	document.getElementById('zz-label-ymd');
				var timeSlot = document.getElementById('zz-label-timeSlot');
				var userResult = document.getElementById('zz-label-time');
				console.log(userResult.innerHTML);
				if(userResult.innerHTML == ''){
					mui.alert('您还没有选择输液时长');
				}else{
					mui.openWindow({
						url: $url,
						extras: {
									'transtime' : transtime.innerHTML+timeSlot.innerHTML,
									'userResult' : userResult.innerHTML
								}
						
					});
				}
			}
		</script>
	</body>

</html>