<!--头尾分离    忽略错误信息 运行可用-->
<include file="Index/header" />
<div id="wrapper">
	<include file="Index/nav" />
	<div id="page-wrapper">
		
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<ol class="breadcrumb">
						<li>
							<i class="fa fa-fw fa-table"></i>
							<a href="__ACTION__">公告管理</a>
						</li>					
					</ol>
				</div>
			</div><!--.row面包屑导航-->
			<div class="row zz-div-search" >
				<div class="col-sm-6">
					<form action="__ACTION__" method="get" class="form-horizontal">
						<div class="input-group">
							<span class="input-group-addon">查询</span>
							<span class="input-group">
    							<input type="text" class="form-control input-lg" id="zz-input-keywords" placeholder="search">
    							<span class="input-group-addon btn btn-primary" id="zz-span-thesearch">搜索</span>
							</span>
						</div>	
					</form>
				</div>
				<div class="col-sm-2">
					<button id="zyn-btn-add" type="button" class="btn btn-primary">添加公告</button>
				</div>
				
			</div><!--搜索-->
			<div class="row">
				<div class="col-md-12">
					<div class="table-responsive">
						<form id="zz-form-list">
							<table class="table table-bordered table-hover zz-table-list" >
								<thead>
									<tr>
										<td>标题</td>
										<td>发布用户</td>
										<td>所属单位</td>
										<td>审核人员</td>
										<td>发布时间</td>
										<td>查看</td>
									</tr>
								</thead>
								<tbody>
									<volist name="articles" id="vo">
										<tr>
											<td>{$vo.article_id}</td>
											<td>{$vo.title}</td>
											<td>{$vo.small_title}</td>
											<td>{$vo.keywords}</td>
											<td>{$vo.status|getDataStatus}</td>
											<td>{$vo.create_time}</td>
										</tr>
									</volist>
								</tbody>
							</table>
						</form>
						<!--分页控件-->
						<nav>
							<ul class="pagination">
								{$pageRes}
							</ul>
						</nav>
				</div>
				</div>
			</div>
		</div>
	</div>
</div>	
	<script>
		var SCOPE = {
		
		'add_url':'__URL__/add',
		'edit_url':'__URL__/edit',
		'set_status_url':'__URL__/setStatus',
		'list_order_url':'__URL__/listOrder',
		'success_refresh_url':'__ACTION__',
	};
	</script>
	
		
<include file="Index/footer" />