<!--头尾分离    忽略错误信息 运行可用-->
<include file="Index/header" />
<div id="wrapper">
	<include file="Index/nav" />
	<div id="page-wrapper">
		
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<ol class="breadcrumb">
						<li class="active">
							<i class="fa fa-fw fa-edit"></i>
							公告预览
						</li>					
					</ol>
				</div>
			</div><!--.row面包屑导航-->
			<!--<div class="row zyn-div-search" >
				<div class="col-md-4">
					<form class="form-horizontal" action="__ACTION__" method="post">
						<div class="input-group">
							<span class="input-group-addon">搜索</span>
							<input type="text" name='search' style="width: 250px; height: 34px;" />
							<div class="input-group-btn">
							<button type="submit" class="btn btn-primary">
								<span class="glyphicon glyphicon-search"></span>
							</button>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-4">
					<button id="zyn-btn-add" type="button" class="btn btn-primary">添加公告</button>
				</div>
				
			</div><!--搜索-->
			<!--<br />-->
			<!--<div class="row">
				<div class="col-md-12">
					<div class="table-responsive">
						<form id="zyn-form-list">
							<table class="table table-bordered table-hover zyn-table-list" >
								<thead>
									<tr class="success">
										<td>标题</td>
										<td>发布用户</td>
										<!--<td>所属单位</td>-->
										<!--<td>审核人员</td>
										<td>审核状态</td>
										<td>发布时间</td>
										<td>操作</td>
									</tr>
								</thead>
								<tbody>
									<volist name="ancheckstate" id="vo">
										<tr>
											<td>{$vo.announcement_title}</td>
											<td>{$vo.announcement_sender_id}</td>
											<!--<td>{$vo.announcement_hospital_id}</td>-->
											<!--<td>{$vo.announcement_checker_id}</td>
											<td>{$vo.state}</td>
											<td>{$vo.send_datetime}</td>
											<td id='zyn-span-edit' attr-id="{$vo.announcement_id}"><a href="#">查看</a></td>
											
										</tr>
									</volist>
								</tbody>
							</table>
						</form>
						<!--分页控件-->
				<!--<nav>
							<ul class="pagination">
								{$pageRes}
							</ul>
						</nav>
				</div>
				</div>
			</div>-->
			
			
		</div>
	</div>
</div>	
	<script>
		var SCOPE = {
		
		'add_url':'__URL__/add',
		'edit_url':'__URL__/edit',
		'set_status_url':'__URL__/setStatus',
		'list_order_url':'__URL__/listOrder',
		'success_refresh_url':'__ACTION__',
	};
	</script>
	
		
<include file="Index/footer" />
