/*菜单管理搜索*/
/*//搜索条与表格隔开*/
.zh-div-serach{
	margin-bottom: 20px;
}
/*列表页操作按钮*/
.zh-span-operation{
	color: #428bca;
}
/*hover添加一个下滑线*/
.zh-span-operation:hover{
	text-decoration: underline;
	cursor: pointer;
}
