<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/common/common.css" />
		<link rel="stylesheet" href="../../css/takeOut/index.css" />
	</head>

	<body>
		<header id="g-header" class="mui-bar mui-bar-nav m_orange2">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">外卖</h1>
			<ul id="g-ul" class="mui-bar top60px " style="padding-left: 0px;padding-right: 0px;">
				<li id="g-li-myHistory" class="mui-table-view-cell mui-media g-btnActive" style="background: rgb(254,227,109);">
					<h5 id="g-myHistory" class="mui-navigate-right" style="color: black; font-weight: bold; font-size: 30px; margin-left: 15px;">我的历史订单</h5>
				</li>
				<!--<li id="g-li-myAddress" class="mui-table-view-cell mui-media" style="">
					<h5 id="g-myAddress" class="mui-navigate-right" style="color: black; font-weight: bold; font-size: 30px; margin-left: 15px;margin-right: 40px;"></h5>
				</li>-->
			</ul>
		</header>
		<div id="g-div-content" class="mui-content"></div>
		<!--<ul class="mui-table-view " id="list_ul" style="margin-top: 105px;">-->
		<!--<li class="mui-table-view-cell mui-media" id="list">
					<div class="marginLeftRight">
						<img class="mui-media-object mui-pull-left" src="../../images/small.png">
						<h3>李</h3>
						<label class="gray-text">2016-12-12 下午</label>
					</div>
				</li>-->
		<!--<li class="mui-table-view-cell mui-media" id="list">
					<div class="marginLeftRight">
						<img class="mui-media-object mui-pull-left" src="../../images/small.png">
						<h1>李</h1>
						<label class="gray-text">2016-12-12 下午</label>
					</div>
				</li>-->
		<!--</ul>-->
		<!--</div>-->

		<script type="text/javascript" src="../../js/jquery.1.11.1.js"></script>
		<script type="text/javascript" src="../../js/constants.js"></script>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript">
//		if (localStorage.isFirst == '0') {
//			document.getElementById('g-header').style.height = header+'px';
//		}
		
			mui.init({
				swipeBack: true, //启用右滑关闭功能
				beforeback: function() {
					//获得你要前往页面的webview id
					var Scanner = plus.webview.getWebviewById(plus.webview.currentWebview().webId);

					//触发前往页面的自定义事件（例：AddNew）,从而进行数据刷新
					mui.fire(Scanner, 'refreshWeather');

					//返回true，继续页面关闭逻辑

					backToHomeIndex();
					return true;
				},
				subpages: [{
					url: '../takeOut/indexSub.html',
					id: 'takeOut/indexSub.html',
					styles: {
						top: '115px',
						bottom: '0px',
					}
				}],
			});

			mui.plusReady(function() {
				//				plus.key.addEventListener('backbutton', function() {
				//					backToHomeIndex();
				//				}, false);
				//				
				console.log('11111'+document.getElementById('g-ul').offsetHeight)
				
				//
				

				
				document.getElementById("g-li-myHistory").addEventListener("tap", function() {
					mui.openWindow({
						url: '../takeOut/takeOutHistoryList.html',
					});
				});
			});
		</script>
	</body>

</html>