<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link rel="stylesheet" href="../../css/mui.css" />
		<link rel="stylesheet" href="../../css/common/common.css" />
		<link rel="stylesheet" href="../../css/takeOut/orderForm.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav m_orange2">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">订单详情</h1>
		</header>
		
		<div class="mui-content">
		   <ul class="mui-table-view" style="margin-bottom: 80px;">
				
				<li class="mui-table-view-cell ">
					<div class="marginLeftRight">
						<img src="../../images/takeOut/location.png" class="mui-media-object mui-pull-left" style="width: 20px; height: 30px;margin-top: 12px;"/>
						<div class="mui-media-body ">
							<h4>刘&nbsp;先生&nbsp;15620612220</h4>
							<h4 class='mui-ellipsis gray-text' style="margin-top: 10px;">金田花园8号楼45门708</h4>
						</div>
					</div>

				</li>
				<li class="mui-table-view-cell">
					<div class="marginLeftRight">
						<h4>外卖：杨铭宇黄焖鸡米饭</h4>
					</div>
				</li>
				<li class="mui-table-view-cell">
					<div class="mui-row marginLeftRight">
						<div class="mui-col-xs-7">
							<h4 class="gray-text">黄焖鸡</h4>
						</div>
						<div class="mui-col-xs-7">
							<h4 class="gray-text">黄焖鸡</h4>
						</div>
						<div class="mui-col-xs-7">
							<h4 class="gray-text">黄焖鸡</h4>
						</div>
						<div class="mui-col-xs-7">
							<h4 class="gray-text">黄焖鸡</h4>
						</div>
						<div class="mui-col-xs-7">
							<h4 class="gray-text">黄焖鸡</h4>
						</div>
						<div class="mui-col-xs-7">
							<h4 class="gray-text">黄焖鸡</h4>
						</div>
						<div class="mui-col-xs-7">
							<h4 class="gray-text">黄焖鸡</h4>
						</div>
						<div class="mui-col-xs-7">
							<h4 class="gray-text">黄焖鸡</h4>
						</div>
						<div class="mui-col-xs-7">
							<h4 class="gray-text">黄焖鸡</h4>
						</div>
						<div class="mui-col-xs-7">
							<h4 class="gray-text">黄焖鸡</h4>
						</div>
						<div class="mui-col-xs-7">
							<h4 class="gray-text">黄焖鸡</h4>
						</div>
						<div class="mui-col-xs-7">
							<h4 class="gray-text">黄焖鸡</h4>
						</div>
						<div class="mui-col-xs-7">
							<h4 class="gray-text">黄焖鸡</h4>
						</div>
						<div class="mui-col-xs-7">
							<h4 class="gray-text">黄焖鸡</h4>
						</div>
						<div class="mui-col-xs-3">
							<h4>x1</h4>
						</div>
						<div class="mui-col-xs-2 mui-text-right">
							<h4 style="color: red;">￥20</h4>
						</div>
					</div>
				</li>
				<li class="mui-table-view-cell">
					<div class="mui-row marginLeftRight">
						<div class="mui-col-xs-10">
							<h4 id="sendraise">配送费</h4> 
						</div>
						<div class="mui-col-xs-2 mui-text-right">
							<h4 style="color: red;">￥10</h4>
						</div>
					</div>
				</li>
				<li class="mui-table-view-cell ">
					<div class="mui-col-xs-12 mui-text-right ">
						<div class="marginLeftRight">
							<h4 style="color: red;">实付￥20</h4>
						</div>

					</div>
				</li>
				<!--<li class="mui-table-view-cell">
					<div class="marginLeftRight">
						<h4>下单:2016-12-27 22:20:30</h4>
					</div>
				</li>-->
			</ul>
        	
    	</div>
    	<div class="mui-row mui-col-xs-12" style="position: fixed; bottom: 0px;">
			<div class="mui-col-xs-7"><button style="background-color:rgb(51,51,51); color: #FFFFFF; font-size: 30px;  text-align: center; border: none;border-radius: 0px;margin-bottom: 0px;margin-top: 10px;" class="mui-btn mui-btn-block">待支付20元</button></div>
			<div class="mui-col-xs-5"><button style="background-color:#FF7A42; color: #FFFFFF; font-size: 30px;  text-align: center; border: none;border-radius: 0px;margin-bottom: 0px;margin-top: 10px;" class="mui-btn mui-btn-block">提交订单</button></div>
		</div>
    	<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" charset="utf-8">
			mui.init();
			mui.plusReady(function() {

			});
		</script> 
	</body>
</html>

