<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/takeOut/progress.css" />
		<link rel="stylesheet" href="../../css/common/common.css" />
	</head>

	<body>

		<header class="mui-bar mui-bar-nav m_orangeTakeOut">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">订单详情</h1>
		</header>
		<div class="mui-content">
			<ul class="mui-table-view" style="margin-bottom: 80px;">
				<li class="mui-table-view-cell">
					<div class="mui-row marginLeftRight">
						<div class="mui-col-xs-12" style="margin-top: 20px;">
							<img src="../../images/takeOut/progress1.png" style="width: 100%;" id="g-img-status" />
						</div>
						<h1 style="text-align: center; color: #FF7A42; margin-top: 70px;" id="g-text-status">等待商家接单</h1>
					</div>
				</li>
				<li class="mui-table-view-cell ">
					<div class="marginLeftRight">
						<img src="../../images/takeOut/location.png" class="mui-media-object mui-pull-left" style="width: 20px; height: 30px;margin-top: 12px;" />
						<div class="mui-media-body ">
							<h4 id="zz-h4-userNameAndPhone">刘&nbsp;先生&nbsp;15620612220</h4>
							<h4 class='mui-ellipsis gray-text' style="margin-top: 10px;" id="zz-h4-location">金田花园8号楼45门708</h4>
						</div>
					</div>

				</li>
				<li class="mui-table-view-cell">
					<div class="marginLeftRight">
						<h4 id="zz-h4-storeName">外卖：杨铭宇黄焖鸡米饭</h4>
					</div>
				</li>
				<li class="mui-table-view-cell" id="list_food">
					<!--<div class="mui-row marginLeftRight">
						<div class="mui-col-xs-7">
							<h4 class="gray-text">黄焖鸡</h4>
						</div>
						<div class="mui-col-xs-3">
							<h4>x1</h4>
						</div>
						<div class="mui-col-xs-2 mui-text-right">
							<h4 style="color: red;">￥20</h4>
						</div>
					</div>-->
				</li>
				<li class="mui-table-view-cell">
					<div class="mui-row marginLeftRight">
						<div class="mui-col-xs-10">
							<h4 id="sendraise" class="gray-text">配送费</h4>
						</div>
						<div class="mui-col-xs-2 mui-text-right">
							<h4 style="color: red;" id="freight">￥10</h4>
						</div>
					</div>
				</li>
				<li class="mui-table-view-cell ">
					<div class="mui-col-xs-12 mui-text-right ">
						<div class="marginLeftRight">
							<h4 style="color: red;" id="actualPayment">sss</h4>
						</div>

					</div>
				</li>
				<li class="mui-table-view-cell">
					<div class="marginLeftRight">
						<h4 id="time">下单:2016-12-27 22:20:30</h4>
					</div>
				</li>
			</ul>
		</div>
		<div class="mui-row mui-col-xs-12" style="position: fixed; bottom: 0px;">
			<div class="mui-col-xs-7"><button style="background-color:#FF7A42; color: #FFFFFF; font-size: 30px;  text-align: center; border: none;border-radius: 0px;margin-bottom: 0px;margin-top: 10px;" class="mui-btn mui-btn-block" id="makeSure">确认收货</button></div>
			<div class="mui-col-xs-5"><button style="background-color:#52B53E; color: #FFFFFF; font-size: 30px;  text-align: center; border: none;border-radius: 0px;margin-bottom: 0px;margin-top: 10px;" class="mui-btn mui-btn-block" id="contactMerchant">联系商家</button></div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/constants.js"></script>
		<script type="text/javascript" charset="utf-8">
			mui.init({
				beforeback: function() {
					var wobj = plus.webview.getWebviewById(localStorage.transHistorylistId);
					wobj.reload(true);					
				},
				swipeBack: true ,//启用右滑关闭功能
			});
			mui.plusReady(function() {
				var sData = plus.webview.currentWebview();
				if(sData.finished == 'finished') {
					console.log('llllllllllllllllllllllllllllllllllll');
					document.getElementById('g-img-status').src = '../../images/takeOut/progress4.png';
					document.getElementById('g-text-status').innerHTML = '订单已完成';
					document.getElementById('makeSure').setAttribute("class", "mui-btn mui-btn-block");
					document.getElementById('makeSure').setAttribute("style", "background-color:#777777; color: white; font-size: 30px;  text-align: center; border: none;border-radius: 0px;margin-bottom: 0px;margin-top: 10px;");
					document.getElementById('makeSure').innerHTML = '再来一单';
				}
				
				//商品全部信息
				var takeOutHistoryDetails = JSON.parse(localStorage.takeOutHistoryDetails);
				console.log('sssssssssssss' + JSON.stringify(takeOutHistoryDetails));
//				var sData = plus.webview.currentWebview();
				var userSex = '男';
				if(localStorage.community_user_sex == '男') {
					userSex = '先生';
				} else {
					userSex = '女士';
				}
				document.getElementById('zz-h4-userNameAndPhone').innerHTML = localStorage.community_user_name + "   " + userSex + " " + localStorage.community_user_phone;
				document.getElementById('zz-h4-location').innerHTML = localStorage.community_user_address;
				document.getElementById('zz-h4-storeName').innerHTML = '外卖：' + takeOutHistoryDetails.order['store_shop_name'];
				document.getElementById('freight').innerHTML = "￥" + takeOutHistoryDetails.order['store_carriage'];
				document.getElementById('actualPayment').innerHTML = "实付￥" + takeOutHistoryDetails.order['store_list_money'];
				document.getElementById('time').innerHTML = "下单：" + takeOutHistoryDetails.order['store_list_time'];

				fragment = document.createDocumentFragment();
				container_list_food = document.getElementById("list_food");
				var storeFoodData = takeOutHistoryDetails.detail;
				mui.each(storeFoodData, function(i) {
					divContent = document.createElement('div');
					divContent.setAttribute("class", "mui-row marginLeftRight");
					divFoodName = document.createElement('div');
					divFoodName.setAttribute("class", "mui-col-xs-7");
					h4FoodName = document.createElement('h4');
					h4FoodName.setAttribute("class", "gray-text");
					h4FoodName.innerHTML = storeFoodData[i]['store_goods_name'];

					divContent.appendChild(divFoodName);
					divFoodName.appendChild(h4FoodName);

					divCount = document.createElement('div');
					divCount.setAttribute("class", "mui-col-xs-3");
					h4Count = document.createElement('h4');
					h4Count.innerHTML = '×' + storeFoodData[i]['store_count'];

					divContent.appendChild(divCount);
					divCount.appendChild(h4Count);

					divUnitPirce = document.createElement('div');
					divUnitPirce.setAttribute("class", "mui-col-xs-2 mui-text-right");
					h4UnitPirce = document.createElement('h4');
					h4UnitPirce.setAttribute("style", "color: red;");
					h4UnitPirce.innerHTML = storeFoodData[i]['store_count'] * storeFoodData[i]['store_goods_price'];

					divContent.appendChild(divUnitPirce);
					divUnitPirce.appendChild(h4UnitPirce);

					fragment.appendChild(divContent);
				});

				container_list_food.appendChild(fragment);

				document.getElementById('makeSure').addEventListener('tap', function() {
					if(document.getElementById('makeSure').innerHTML == '确认收货') {
						var btnArray = ['否', '是'];
						mui.confirm('您确认收到货物吗？', '提示', btnArray, function(e) {
							if(e.index == 1) {
								var postData = {};
								postData['store_list_id'] = takeOutHistoryDetails.order['store_list_id'];
								postData['store_list_state_id'] = '0004';
								console.log(postData['store_list_id']);
								mui.ajax({
									type: 'POST',
									url: SERVERURL + "SStoreListInfo/upDataStoreListStatus",
									data: postData,
									dataType: "json",
									timeout: 20000,
									success: function(data) {
										console.log(JSON.stringify(data));
									},
									error: function(xhr, type, errorThrown) {
										plus.nativeUI.closeWaiting();
										console.log(type);
										mui.toast('网络连接失败');
									}
								});

								console.log('22222222222');
								document.getElementById('g-img-status').src = '../../images/takeOut/progress4.png';
								document.getElementById('g-text-status').innerHTML = '订单已完成';
								document.getElementById('makeSure').setAttribute("class", "mui-btn mui-btn-block");
								document.getElementById('makeSure').setAttribute("style", "background-color:#777777; color: white; font-size: 30px;  text-align: center; border: none;border-radius: 0px;margin-bottom: 0px;margin-top: 10px;");
								document.getElementById('makeSure').innerHTML = '再来一单';
								console.log('aaaa');
							} else {
								console.log('llllllllllll');
							}
						});

					}

					if(document.getElementById('makeSure').innerHTML == '再来一单') {
						var Scanner = plus.webview.getWebviewById(localStorage.takeOutId);
						//触发前往页面的自定义事件（例：AddNew）,从而进行数据刷新
						mui.fire(Scanner, 'refresh');
						mui.openWindow({
							url: '../takeOut/index.html',
						});
						console.log('aaaaaaaaaaaaaaa');
					}

				});

				document.getElementById('contactMerchant').addEventListener('tap', function() {
//					var phone = JSON.parse(localStorage.shopData);
					var takeOutHistoryDetails = JSON.parse(localStorage.takeOutHistoryDetails);
					if(plus.os.name == "Android") {
						var Intent = plus.android.importClass("android.content.Intent");
						var Uri = plus.android.importClass("android.net.Uri");
						var main = plus.android.runtimeMainActivity();
						var uri = Uri.parse("tel:" + takeOutHistoryDetails.order.store_contact_user_phone);
						var call = new Intent("android.intent.action.CALL", uri);
						main.startActivity(call);
					} else {
						var UIAPP = plus.ios.importClass("UIApplication");
						var NSURL = plus.ios.importClass("NSURL");
						var app = UIAPP.sharedApplication();
						app.openURL(NSURL.URLWithString("tel://" + takeOutHistoryDetails.order.store_contact_user_phone));
					}
				})

			});

			setInterval(function() {
				var storeListData = JSON.parse(localStorage.storeListData);
				console.log(storeListData);
				var postData = {};
				postData['store_list_id'] = storeListData.order.store_list_id;
				mui.ajax({
					type: 'POST',
					data: postData,
					url: SERVERURL + 'SStoreListInfo/getStoreListState',
					dataType: "json",
					timeout: 20000,
					//成功获取数据赋值
					success: function(data) {
						console.log(JSON.stringify(data.data.store_list_state_id));
						if(data.data.store_list_state_id == '0001') {
							document.getElementById('g-img-status').src = '../../images/takeOut/progress1.png';
							document.getElementById('g-text-status').innerHTML = '等待商家接单';
							console.log('0001');
						} else if(data.data.store_list_state_id == '0002') {
							document.getElementById('g-img-status').src = '../../images/takeOut/progress2.png';
							document.getElementById('g-text-status').innerHTML = '商家已接单';
							console.log('0002')
						} else if(data.data.store_list_state_id == '0003') {
							document.getElementById('g-img-status').src = '../../images/takeOut/progress3.png';
							document.getElementById('g-text-status').innerHTML = '正在配送...';
							console.log('0003');
						} else if(data.data.store_list_state_id == '0004') {
							document.getElementById('g-img-status').src = '../../images/takeOut/progress4.png';
							document.getElementById('g-text-status').innerHTML = '订单已完成';
							console.log('0004');
						} else if(data.data.store_list_state_id == '0005') {
							document.getElementById('g-img-status').src = '';
							document.getElementById('g-text-status').innerHTML = '';
							console.log('0005');
						}
					},
					error: function(xhr, type, errorThrown) {}
				});
			}, 60000);
		</script>

	</body>

</html>