.m_orange{
	background: rgb(238,160,47);
}
.m_blue{
	background: rgb(76,188,236);
}
.m_white{
	background: #FFFFFF;
}
.m_gray_text{
	color: rgb(97,98,99);
}
.m_black_text{
	color: #000000;
}
.m_white_text{
	color: #FFFFFF;
}
.m_line{
	background: rgb(204,205,206);
}

.mui-bar-nav {
    top: 0;
    -webkit-box-shadow: 0 1px 6px #ccc;
    box-shadow: 0 1px 6px #ccc;
    height: 60px;    
}
.mui-bar .mui-title {
    right: 40px;
    left: 40px;
    display: inline-block;
    overflow: hidden;
    width: auto;
    margin: 0;
    text-overflow: ellipsis;
    top: 10px;
    font-size: 40px;
    color: white;
    
}
.mui-bar-nav.mui-bar .mui-icon {
    margin-right: -10px;
    margin-left: -20px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 6px;
    color: white;
    font-size: 50px;
}
.top35px{
	margin-top: 35px;
}