<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/common/common.css" />
		<link rel="stylesheet" href="../../css/dropIn/serviceInfo.css" />
		<style>
			.mui-table-view-cell.mui-active {
				background-color: white;
			}
		</style>
		
	</head>

	<body style="background: white;">
		<header class="mui-bar mui-bar-nav m_green2DropIn">
			<a id="backHome" class="mui-action-back mui-icon  mui-pull-left" style="font-size: 30px;margin-left: -3%;margin-top: 15px;">首页</a>
			<h1 id="g-title" class="mui-title">订单详情</h1>
		</header>
		<div class="mui-content">
			<ul class="mui-table-view" id="list_ul">
				<li class="mui-table-view-cell mui-media" id="g-li">
					<div class="marginLeftRight">
						<img id="g-img-status" style="width: 100%; margin-top: 10px;" src="../../images/dropIn/jindu1.png">
						<h1 id="g-text-status" style="color: rgb(48,182,156);font-size: 40px;text-align: center;">等待商家接单</h1>
					</div>
				</li>
			</ul>
			<ul class="mui-table-view" id="list_ul">
				<li class="mui-table-view-cell mui-media" id="list">
					<div class="mui-media-object mui-pull-left" style="margin-left: 5%;margin-top: 5%;">
						<img style="width: 40px;margin-top: -30%;" src="../../images/dropIn/compositePath.png">
					</div>
					<div class="mui-pull-left" style="margin-left: 20%;margin-top: -20%;width: 80%;">
						<h1 id="g-text-namePhone" class="grayText" style="color: black;"></h1>
						<h3 id="g-text-address" class="grayText" style="margin-top: 5px;"></h3>
					</div>
				</li>
			</ul>
			<ul class="mui-table-view" id="list_ul">
				<li class=" mui-table-view-cell mui-col-xs-12 mui-row">
					<div class="mui-col-xs-4">
						<label class="grayTextStoreName" style="margin-left: 15px;line-height: 30px;">商店：</label>
					</div>
					<div class="mui-col-xs-8">
						<label id="g-text-shopName" class="grayTextStoreName" style="line-height: 30px;"></label>
					</div>
				</li>
				<ul class="mui-table-view">
					<li class=" mui-table-view-cell ">
						<h1 class="mui-pull-left grayText" style="margin-left: 15px;text-align: left;">上门服务：</h1>
						<h1 id="g-text-service" class="mui-pull-left grayText" style="margin-left: 15px;"></h1>
						<h1 id="g-text-servicePrice" class="mui-pull-left grayText" style="margin-left: 15px;color: red;">dsdsd </h1>
					</li>
					<li class=" mui-table-view-cell " style="margin-top: -5%;">
						<h1 class="mui-pull-left grayText" style="margin-left: 15px;text-align: left;">上门时间：</h1>
						<h1 id="g-orderDropInTime" class="mui-pull-left grayText" style="margin-left: 15px;text-align: left;"></h1>
					</li>
				</ul>
				<!--<ul class="mui-table-view" id="list_ul">
					<li class="mui-table-view-cell mui-checkbox mui-right">
						<div class="mui-row mui-col-xs-12">
							<h1 class="mui-pull-left mui-col-xs-10 g-inputText" style="margin-left: 15px;padding-right: 20px;">使用我们提供的工具</h1>
							<input id="g-input-service" class="mui-col-xs-2" name="checkbox" type="checkbox">
						</div>
					</li>
				</ul>-->
				<ul class="mui-table-view" id="list_ul">
					<li class=" mui-table-view-cell ">
						<h1 class="mui-col-xs-5 mui-pull-left grayText" style="margin-left: 10px;text-align: left;">支付方式</h1>
						<h1 class="mui-col-xs-5 mui-pull-right grayText" style="margin-right: 10px;text-align: right;">上门付款</h1>
					</li>
				</ul>
				<li class=" mui-table-view-cell ">
					<h1 class="mui-pull-left grayText" style="margin-left: 10px;text-align: left;">下单时间：</h1>
					<h1 id="g-text-orderTime" class="mui-pull-left grayText" style="margin-left: 10px;text-align: left;"></h1>
				</li>
			</ul>
		</div>
		<div class="mui-row marginLeftRight " style="background: white;">
			<button id="g-btn" type="button" class="zz-btn-next">联系商家</button>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/constants.js"></script>
		<script type="text/javascript">
			mui.init({
				beforeback: function() {
					//获得你要前往页面的webview id
					var Scanner = plus.webview.getWebviewById(localStorage.homeWebId);
					//触发前往页面的自定义事件（例：AddNew）,从而进行数据刷新
					mui.fire(Scanner, 'refreshWeather');
					backToHomeIndex();
				},
			});
			mui.plusReady(function() {
				//				var nwaiting = plus.nativeUI.showWaiting();
				plus.navigator.setStatusBarBackground('#30B69C');
				var serviceInfo = JSON.parse(localStorage.serviceInfo);
				var serviceDetailData = JSON.parse(localStorage.serviceDetailData);
				console.log(localStorage.serviceInfo);
				console.log(localStorage.serviceDetailData);
				document.getElementById('g-text-namePhone').innerHTML = localStorage.community_user_name + " " + localStorage.community_user_phone;
				document.getElementById('g-text-address').innerHTML = localStorage.community_user_address;
				document.getElementById('g-text-shopName').innerHTML = '商家：' + serviceInfo.store_shop_name;
				document.getElementById('g-text-service').innerHTML = serviceInfo.store_service_name;
				document.getElementById('g-text-servicePrice').innerHTML = serviceInfo.store_service_price + '元' + serviceInfo.store_service_length + '小时 × ' + serviceDetailData.detail[0].store_count;

				document.getElementById('g-orderDropInTime').innerHTML = serviceDetailData.order.store_list_require_time;
				document.getElementById('g-text-orderTime').innerHTML = serviceDetailData.order.store_list_time;
				document.getElementById('g-btn').addEventListener('tap', function() {
					if(plus.os.name == "Android") {

						var Intent = plus.android.importClass("android.content.Intent");
						var Uri = plus.android.importClass("android.net.Uri");
						var main = plus.android.runtimeMainActivity();
						var uri = Uri.parse("tel:" + serviceInfo.store_contact_user_phone);

						var call = new Intent("android.intent.action.CALL", uri);
						main.startActivity(call);
					} else {
						var UIAPP = plus.ios.importClass("UIApplication");
						var NSURL = plus.ios.importClass("NSURL");
						var app = UIAPP.sharedApplication();
						app.openURL(NSURL.URLWithString("tel://" + serviceInfo.store_contact_user_phone));
					}
				})

				setInterval(function() {
					var serviceDetailData = JSON.parse(localStorage.serviceDetailData);
					var postData = {};
					postData['store_list_id'] = serviceDetailData.order.store_list_id;
					mui.ajax({
						type: 'POST',
						data: postData,
						url: SERVERURL + 'SStoreListInfo/getStoreListState',
						dataType: "json",
						timeout:20000,
						//成功获取数据赋值
						success: function(data) {
							console.log(JSON.stringify(data.data.store_list_state_id));
							if(data.data.store_list_state_id == '0001') {
								document.getElementById('g-img-status').src = '../../images/dropIn/jindu1.png';
								document.getElementById('g-text-status').innerHTML = '等待商家接单';
								console.log('0001');
							} else if(data.data.store_list_state_id == '0002') {
								document.getElementById('g-img-status').src = '../../images/dropIn/jindu2.png';
								document.getElementById('g-text-status').innerHTML = '商家已接单';
								console.log('0002')
							} else if(data.data.store_list_state_id == '0003') {
								document.getElementById('g-img-status').src = '../../images/dropIn/jindu3.png';
								document.getElementById('g-text-status').innerHTML = '正在赶来';
								console.log('0003');
							} else if(data.data.store_list_state_id == '0004') {
								document.getElementById('g-img-status').src = '../../images/dropIn/jindu4.png';
								document.getElementById('g-text-status').innerHTML = '服务已完成';
								console.log('0004');
							}
							 else if(data.data.store_list_state_id == '0005') {
								document.getElementById('g-img-status').src = '';
								document.getElementById('g-text-status').innerHTML = '';
								console.log('0005');
							}
						},
						error: function(xhr, type, errorThrown) {}
					});
				}, 5000);
			});
		</script>
	</body>

</html>