<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/common/common.css" />
		<link rel="stylesheet" href="../../css/dropIn/index.css" />
		<style>
			.marginLeftRight {
				margin-left: 10px;
				margin-right: 25px;
			}
		</style>
	</head>

	<body>
		<header id="g-header" class="mui-bar mui-bar-nav m_green2DropIn" style="height: 300px;">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<!--<a id="btn-history" class=" mui-icon  mui-pull-right" style="font-size: 30px;margin-left: -3%;margin-top: 15px;">订单</a>-->
			<h1 class="mui-title">上门</h1>
			<ul id="g-ul" class="mui-bar top60px " style="padding-left: 0px;padding-right: 0px;">
				<li id="g-li-myHistory" class="mui-table-view-cell mui-media g-btnActive" style="background: rgb(254,227,109);">
					<h5 id="g-myHistory" class="mui-navigate-right" style="color: black; font-weight: bold; font-size: 30px; margin-left: 15px;">我的历史订单</h5>
				</li>
				<li id="g-li-myAddress" class="mui-table-view-cell mui-media" style="">
					<h5 id="g-myAddress" class="mui-navigate-right" style="color: black; font-weight: bold; font-size: 30px; margin-left: 15px;margin-right: 40px;">zhisongzhisongzhisongzhisongzhi</h5>
				</li>
			</ul>
		</header>
		<ul class="mui-table-view" id="list_ul" style="margin-top: 200px;">
			<!--<li id="g-li" class="mui-table-view-cell mui-media">
				<div class="marginLeftRight">
					<h1 class="blackTitle">家政清洁</h1>
					<h3 class="grayText">17个服务</h3>
				</div>
			</li>-->
		</ul>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/constants.js"></script>
		<script type="text/javascript" src="../../js/jquery.1.11.1.js"></script>
		<script type="text/javascript">
			mui.init({
				swipeBack: true, //启用右滑关闭功能
				beforeback: function() {
					//获得你要前往页面的webview id
					var Scanner = plus.webview.getWebviewById(plus.webview.currentWebview().webId);
					//触发前往页面的自定义事件（例：AddNew）,从而进行数据刷新
					mui.fire(Scanner, 'refreshWeather');
					//返回true，继续页面关闭逻辑
					return true;
				},
			});

			mui.plusReady(function() {
				window.addEventListener('refreshAddress', function() {
					console.log('刷新');
					var nwaiting = plus.nativeUI.showWaiting();
					plus.navigator.setStatusBarBackground('#30B69C');

					document.getElementById('g-myAddress').innerHTML = '送至：' + localStorage.community_user_address;
					var ulHeight = document.getElementById("zz-ul-address");
					console.log(document.getElementById("g-myHistory").offsetHeight);
					console.log(document.getElementById("g-li-myHistory").offsetHeight);
					console.log(document.getElementById("g-myAddress").offsetHeight);
					console.log(document.getElementById("g-li-myAddress").offsetHeight);
					document.getElementById("g-ul").style.height =
						(document.getElementById("g-li-myHistory").offsetHeight +
							document.getElementById("g-li-myAddress").offsetHeight) + 'px';
					document.getElementById("g-header").style.height = document.getElementById("g-ul").offsetHeight + 'px';
					document.getElementById("list_ul").style.marginTop = (document.getElementById("g-header").offsetHeight + 60) + 'px';
					$('#list_ul').empty();
					getListData();
					
				});

				document.getElementById('g-li-myAddress').addEventListener('tap', function() {
					localStorage.changeAddress = plus.webview.currentWebview().id;
					mui.openWindow({
						url: '../userInfo/certification.html',
					});
				});

				document.getElementById('g-li-myHistory').addEventListener('tap', function() {
					localStorage.fromUserInfo = 'no';
					mui.openWindow({
						url: '../dropIn/myHistory.html',
					});
				});
				var nwaiting = plus.nativeUI.showWaiting();
				plus.navigator.setStatusBarBackground('#30B69C');

				document.getElementById('g-myAddress').innerHTML = '送至：' + localStorage.community_user_address;
				var ulHeight = document.getElementById("zz-ul-address");
				console.log(document.getElementById("g-myHistory").offsetHeight);
				console.log(document.getElementById("g-li-myHistory").offsetHeight);

				console.log(document.getElementById("g-myAddress").offsetHeight);
				console.log(document.getElementById("g-li-myAddress").offsetHeight);
				document.getElementById("g-ul").style.height =
					(document.getElementById("g-li-myHistory").offsetHeight +
						document.getElementById("g-li-myAddress").offsetHeight) + 'px';
				document.getElementById("g-header").style.height = document.getElementById("g-ul").offsetHeight + 'px';
				document.getElementById("list_ul").style.marginTop = (document.getElementById("g-header").offsetHeight + 60) + 'px';

				getListData();

				function getListData() {
					var postData = {};
					postData['lat'] = localStorage.community_user_lat;
					postData['lng'] = localStorage.community_user_lng;
					console.log(JSON.stringify(postData));
					mui.ajax({
						type: 'POST',
						data: postData,
						url: SERVERURL + 'SStoreServiceClassify/getServiceClassifyList',
						dataType: "json",
						timeout: 20000,
						//成功获取数据赋值
						success: function(data) {
							console.log(JSON.stringify(data));
							plus.nativeUI.closeWaiting();
							var doc = document;
							fragment = doc.createDocumentFragment();
							container = doc.getElementById("list_ul");
							mui.each(data.data, function(i) {
								var doc = document;
								li = doc.createElement("li");
								div = doc.createElement('div');
								h1 = doc.createElement('h1');
								h3 = doc.createElement('h3');
								li.setAttribute("class", "mui-table-view-cell mui-media");
								div.setAttribute("class", "marginLeftRight");
								h1.setAttribute("class", "blackTitle");
								h1.innerHTML = data.data[i].type;
								h3.setAttribute("class", "grayText");
								h3.innerHTML = data.data[i].count + '个服务';
								li.id = data.data[i].type;

								li.addEventListener('tap', function() {
									localStorage.service_classify_name = this.id;
									console.log('=====' + this.id);
									mui.openWindow({
										url: '../dropIn/serviceList.html',
									});
								});
								li.appendChild(div);
								div.appendChild(h1);
								div.appendChild(h3);
								fragment.appendChild(li);
							});
							container.appendChild(fragment);
						},
						error: function(xhr, type, errorThrown) {
							console.log(type);
							plus.nativeUI.closeWaiting();
							mui.alert('网络连接失败');
						}
					});
				}
			});
		</script>
	</body>

</html>