<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/common/common.css" />
		<link rel="stylesheet" href="../../css/registration/myHistory.css" />
		<style>
			.marginLeftRight {
				margin-left: 10px;
				margin-right: 25px;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav m_green2DropIn ">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">我的订单</h1>

		</header>
		<div class="mui-content">
			<div class="top14px headline" id "already_title">
				<h1 class="title" style="margin-left: 20px;">已预约</h1>
				<!--<label id="g-delete" class="mui-pull-right " style="color: red; margin-top: -30px; margin-right: 20px;font-size: 30px;">删除预约</label>
				<label id="cancel" class="mui-pull-right " style="color: red; margin-top: -30px; margin-right: 100px;font-size: 30px;"></label>-->
			</div>
			<ul class="mui-table-view" id="list_already">
				<!--<li class="mui-table-view-cell mui-media" id="list">
					<div class="marginLeftRight">
						<div class="mui-row mui-col-xs-12">
							<div class="mui-row mui-col-xs-2">
								<img class="mui-media-object mui-pull-left" src="../../images/small.png">
							</div>
							<div class="mui-row mui-col-xs-10">
								<h1>李李李李李李李李李李李李李李李李李李李李李</h1>
								<label class="gray-text">2016-12-12 下午</label>
							</div>
						
							
						</div>
						
					</div>
				</li>-->
				<!--<li class="mui-table-view-cell mui-media" id="list">
					<div class="marginLeftRight">
						<img class="mui-media-object mui-pull-left" src="../../images/small.png">
						<h1>李</h1>
						<label class="gray-text">2016-12-12 下午</label>
					</div>
				</li>-->
			</ul>
			<div class="headline" style="margin-top: -10px;">
				<h1 class="title"style="margin-left: 20px;">已完成</h1>
			</div>
			<ul class="mui-table-view" id="list_finish">
				<!--<li class="mui-table-view-cell mui-media" id="list">
					<div class="marginLeftRight">
						<img class="mui-media-object mui-pull-left" src="../../images/small.png">
						<h1>李</h1>
						<label class="gray-text">2016-12-12 下午</label>
					</div>
				</li>-->
			</ul>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/constants.js"></script>
		<script type="text/javascript" src="../../js/jquery.1.11.1.js" ></script>
		<script type="text/javascript">
			mui.init({
				swipeBack: true,  //启用右滑关闭功能
			});
			mui.plusReady(function() {
				plus.webview.currentWebview().setStyle({scrollIndicator:'none'}); //去掉滚动条
				window.addEventListener('refresh', function() {
					$("#list_already").empty(); 
					$("#list_finish").empty(); 
					getListData();
				});
				localStorage.transHistorylistId = plus.webview.currentWebview().id;
				
				getListData();

				function getListData() {
					plus.nativeUI.showWaiting();
					var postData = {};
					postData['community_user_id'] = localStorage.community_user_id;
					postData['store_type_id'] = '0002';
					mui.ajax({
						type: 'POST',
						url: SERVERURL + "SStoreListInfo/getStoreListInfo",
						data: postData,
						dataType: "json",
						timeout: 20000,
						success: function(data) {
							plus.nativeUI.closeWaiting();
							console.log('=======' + JSON.stringify(data.post));

							var dataAlready = data.data.Unfinished;
							var dataFinish = data.data.Finished;
							//							console.log(dataAlready);
							//							console.log(dataFinish);
							var doc = document;
							fragment = doc.createDocumentFragment();
							container_already = doc.getElementById("list_already");
							mui.each(dataAlready, function(i) {
								var doc = document;
								li = doc.createElement("li");
								div = doc.createElement("div");
								g_input = doc.createElement("input");
								img = doc.createElement("img");
								h1 = doc.createElement("h1");
								h1.innerHTML = dataAlready[i].order['store_shop_name'];
								label = doc.createElement("label");
								li.setAttribute("class", "mui-table-view-cell mui-media deleteList");
								li.id = dataAlready[i].order['store_list_id'];
								console.log(li.id);
								div.setAttribute("class", "marginLeftRight");
								divCol_12 = doc.createElement("div");
								divCol_12.setAttribute("class", "mui-row mui-col-xs-12");
								divCol_2 = doc.createElement("div");
								divCol_2.setAttribute("class", "mui-row mui-col-xs-2");
								divCol_10 = doc.createElement("div");
								divCol_10.setAttribute("class", "mui-row mui-col-xs-10");
								img.setAttribute("class", "mui-media-object mui-pull-left");
								img.setAttribute("src", dataAlready[i].order['store_shop_picture']);
//								img.setAttribute("style", "width: 50px;height: 50px; margin-left: -10px;");

								label.setAttribute("class", "gray-text");
								label.innerHTML = dataAlready[i].order['store_list_time'];

								li.addEventListener('tap', function() {
									localStorage.transfuseLiId = this.id;
									localStorage.dropInHistoryDetails = JSON.stringify(dataAlready[i])
									mui.openWindow({
										url: '../dropIn/serviceHistoryDetail.html',
									});
								});
								li.appendChild(div);
								div.appendChild(divCol_12);
								divCol_12.appendChild(divCol_2);
								divCol_12.appendChild(divCol_10);
								divCol_2.appendChild(img);
								divCol_10.appendChild(h1);
								divCol_10.appendChild(label);
								fragment.appendChild(li);
							});
							container_already.appendChild(fragment);

							var doc = document;
							fragment = doc.createDocumentFragment();
							container_finish = doc.getElementById("list_finish");
							mui.each(dataFinish, function(i) {

								var doc = document;
								li = doc.createElement("li");
								div = doc.createElement("div");
								img = doc.createElement("img");
								h1 = doc.createElement("h1");
								label = doc.createElement("label");
								li.setAttribute("class", "mui-table-view-cell mui-media");
								div.setAttribute("class", "marginLeftRight");
								divCol_12 = doc.createElement("div");
								divCol_12.setAttribute("class", "mui-row mui-col-xs-12");
								divCol_2 = doc.createElement("div");
								divCol_2.setAttribute("class", "mui-row mui-col-xs-2");
								divCol_10 = doc.createElement("div");
								divCol_10.setAttribute("class", "mui-row mui-col-xs-10");
								img.setAttribute("class", "mui-media-object mui-pull-left");
								img.setAttribute("src", dataFinish[i].order['store_shop_picture']);
								h1.innerHTML = dataFinish[i].order['store_shop_name'];
								label.setAttribute("class", "gray-text");
								label.innerHTML = dataFinish[i].order['store_list_time'];
								li.id = dataFinish[i].order['store_list_id'];
								li.addEventListener('tap', function() {
									localStorage.dropInHistoryDetails = JSON.stringify(dataFinish[i]);
									mui.openWindow({
										url: '../dropIn/serviceHistoryDetail.html',
									});
								});
								li.appendChild(div);
								div.appendChild(divCol_12);
								divCol_12.appendChild(divCol_2);
								divCol_12.appendChild(divCol_10);
								divCol_2.appendChild(img);
								divCol_10.appendChild(h1);
								divCol_10.appendChild(label);
								fragment.appendChild(li);
							});
							container_finish.appendChild(fragment);
						},
						error: function(xhr, type, errorThrown) {
							plus.nativeUI.closeWaiting();
							console.log(type);
							mui.toast('网络连接失败');
						}
					});
				}

			});
		</script>
	</body>

</html>