<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/common/common.css" />
		<link rel="stylesheet" href="../../css/dropIn/serviceInfo.css" />
		<style>
			.mui-table-view-cell.mui-active {
				background-color: white;
			}
		</style>
	</head>

	<body style="background: white;">
		<header class="mui-bar mui-bar-nav m_green2DropIn">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 id="g-nav-title" class="mui-title">服务信息</h1>
		</header>
		<div class="mui-content" style="background: white;">
			<img id="g-img" src="../../images/home/leiyu.png" />
			<div class="divMask">
				<h1 id="g-title" class="whiteText">s撒的撒打算ss</h1>
			</div>
			<ul class="mui-table-view ">
				<li style="padding-top: 20px;padding-bottom: 20px;padding-left: 25px;">
					<label class="grayText">服务价格</label>
				</li>
			</ul>
			<ul class="mui-table-view" id="list_ul">
				<li class="mui-table-view-cell">
					<label id="g-service-time" class="mui-col-xs-5 mui-pull-left LeftTableText">3.0小时</label>
					<hr class="mui-col-xs-2 mui-pull-left tableLine" />
					<label id="g-service-price" class="mui-col-xs-5 mui-pull-right RightTableText">￥100.0</label>
				</li>
			</ul>
			<ul class="mui-table-view ">
				<li style="padding-top: 20px;padding-bottom: 20px;padding-left: 25px;">
					<label class="grayText">服务范围</label>
				</li>
			</ul>
			<ul class="mui-table-view ">
				<li style="padding-top: 5px;padding-bottom: 20px;margin-left: 30px;margin-right: 10px;">
					<h1 id="g-intro" class="grayText">sssssssssssssssssssssss</h1>
				</li>
			</ul>
			<div class="mui-row marginLeftRight " style="background: white;">
				<button id="g-btn" type="button" class="zz-btn-next">立即预约</button>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/constants.js"></script>
		<script type="text/javascript">
			mui.init({
				swipeBack: true, //启用右滑关闭功能

			});
			mui.plusReady(function() {
				plus.webview.currentWebview().setStyle({scrollIndicator:'none'}); //去掉滚动条
				var nwaiting = plus.nativeUI.showWaiting();
				plus.navigator.setStatusBarBackground('#30B69C');
				document.getElementById('g-img').style.height = document.documentElement.clientWidth + 'px';
				document.getElementById('g-img').style.width = document.documentElement.clientWidth + 'px';

				//				var leftText = document.getElementsByClassName('LeftTableText');
				//				var rightText = document.getElementsByClassName('RightTableText');
				//				var tableLine = document.getElementsByClassName('tableLine');
				//				mui.each(leftText, function(i) {
				//					leftText[i].style.width = width-0.5+'px';
				//					rightText[i].style.width = width-0.5+'px';
				//				});
				var postData = {};
				postData['store_service_id'] = localStorage.store_service_id;
				mui.ajax({
					type: 'POST',
					data: postData,
					url: SERVERURL + 'SStoreServiceClassify/getServiceInfo',
					dataType: "json",
					timeout: 20000,
					//成功获取数据赋值
					success: function(data) {
						console.log(JSON.stringify(data.data));
						localStorage.serviceInfo = JSON.stringify(data.data);
						plus.nativeUI.closeWaiting();
						document.getElementById('g-img').src = data.data.store_service_picture;
						document.getElementById('g-nav-title').innerHTML = data.data.store_service_name;
						document.getElementById('g-title').innerHTML = data.data.store_service_name + '(' + data.data.store_shop_name + ')';
						document.getElementById('g-service-time').innerHTML = data.data.store_service_length + '小时';
						document.getElementById('g-service-price').innerHTML = '￥' + data.data.store_service_price;
						document.getElementById('g-intro').innerHTML = data.data.store_service_introduction;
						//						var doc = document;
						//						fragment = doc.createDocumentFragment();
						//						container = doc.getElementById("list_ul");
						//						mui.each(data.data, function(i) {
						//							var doc = document;
						//							li = doc.createElement("li");
						//						
						//							h32.setAttribute("style", "margin-top: 5px;");
						//							h32.innerHTML = data.data[i].store_service_length + '小时' + data.data[i].store_service_price + '元';
						//							li.id = data.data[i].store_service_id;
						//
						//							li.addEventListener('tap', function() {
						//								localStorage.service_classify_name = this.id;
						//								console.log('=====' + this.id);
						//								mui.openWindow({
						//									url: '../dropIn/serviceInfo.html',
						//								});
						//							});
						//							li.appendChild(img);
						//							fragment.appendChild(li);
						//						});
						//						container.appendChild(fragment);
					},
					error: function(xhr, type, errorThrown) {
						console.log(type);
						plus.nativeUI.closeWaiting();
						mui.alert('网络连接失败');
					}
				});
				document.getElementById('g-btn').addEventListener('tap', function() {
					mui.openWindow({
						url: '../dropIn/submitOrder.html',
					});
				})
			});
		</script>
	</body>

</html>